<div class="toolbarcontainer" ng-class="hakukohteetVisible ? 'grid16-5' : 'grid16-1'" ng-controller="HakukohteetController">
	
	<div id="toolbarcontent" class="width-90" ng-show="hakukohteetVisible">
		<div class="toolbar-decoration">
			<div class="field-search-containerbox">
			    <input type="text" class="search" placeholder="Suodata hakukohteita" ng-model="model.searchWord"/>

                <p class="margin-vertical-2">{{ t('hakukohdelista.hakukohteitahaettu') || 'Hakukohteita haettu' }} {{model.getCount()}} / {{model.getTotalCount()}}</p>
			</div>
			<ul  class="selectlist" lazy-loading>

			    <li ng-class="hakukohdeOid === hakukohde.oid && hakukohdeOid !== undefined ? 'selected' : ''" ng-repeat="hakukohde in model.hakukohteet">

			        <a ng-click="showHakukohde(hakukohde, hakuModel.hakuOid.lisahaku)">
			            <span class="icon file"></span>
			            <span class="node">{{model.getTarjoajaNimi(hakukohde)}}</span>
			            <br>
		                <span class="node">{{model.getHakukohdeNimi(hakukohde)}}</span>
			        </a>
			    </li>
			</ul>

		</div>
	</div>
	
	<div id="toolbartoggle-btn" ng-click="toggleHakukohteetVisible()">
		<div>
			<div>
				<span ng-class="hakukohteetVisible ? '' : 'minimized'">{{ t('hakukohdelista.hakukohdelista') || 'Hakukohdelista' }}</span>
			</div>
		</div>
	</div>
</div>