<div class="col-md-6">
    <h1 class="inline-block">{{ t('hakulista.header') || 'Haku' }}: </h1>

    <div ng-switch="hakufiltering">
        <select class="form-control"
                ng-model="hakumodel.hakuOid"
                ng-switch-when="all"
                ng-options="haku.nimi.kieli_fi for haku in hakumodel.haut  | julkaistuHaku:haku | orderBy:'nimi.kieli_fi'"></select>

        <select class="form-control"
                ng-model="hakumodel.hakuOid"
                ng-switch-when="toinenAsteUser"
                ng-options="haku.nimi.kieli_fi for haku in hakumodel.haut | julkaistuHaku:haku | toinenAsteHakuFilter | orderBy:'nimi.kieli_fi' "></select>

        <select class="form-control"
                ng-model="hakumodel.hakuOid"
                ng-switch-when="kkUser"
                ng-options="haku.nimi.kieli_fi for haku in hakumodel.haut | julkaistuHaku:haku | kkHakuFilter | orderBy:'nimi.kieli_fi' "></select>
        <span><button class="btn btn-sm btn-default" ng-click="rajaaHakujaModal()">{{ t('hakulista.rajaa') || 'Rajaa
            hakuja'}}
        </button></span>

        <!--<input class="form-control col-md-1" type="number" max="2020" min="2014"-->
               <!--ng-model="customFilterParams.hakuvuosi"/>-->

        <!--<select class="form-control" ng-model="CustomHaku.hakukausi"-->
                <!--ng-options="opt.value as opt.key for opt in hakukausiOpts">-->
            <!--<option></option>-->
        <!--</select>-->
    </div>
</div>