<div ng-controller="HakuController" class="col-md-12">
	<div ng-include="'haku/hakulista.html'"></div>
</div>

<div class="tabs" ng-controller="navigationController">
    <a ng-if="hakuModel.hakuOid.lisahaku" ng-class="navClass('hakukohde', 3)" href="#/lisahaku/{{hakuOid}}/hakukohde" class="tab"><span>Hakukohteittain</span></a>
    <a ng-if="!hakuModel.hakuOid.lisahaku" ng-class="navClass('hakukohde', 3)" href="#/haku/{{hakuOid}}/hakukohde" class="tab"><span>Hakukohteittain</span></a>
    <!--<a href="#/haku/{{hakuOid}}/henkiloittain/" class="tab disabled"><span>Henkilöittäin</span></a>-->
    <a ng-class="navClass('henkiloittain', 3)" href="#/haku/{{hakuOid}}/henkiloittain/" class="tab"><span>Henkilöittäin</span></a>
    <a ng-show="displaytab.valinnanhallinta" ng-class="navClass('yhteisvalinnanhallinta', 3)" href="#/haku/{{hakuOid}}/yhteisvalinnanhallinta/" auth="crudOph" auth-service="APP_VALINTAPERUSTEET" class="tab float-right"><span>Yhteisvalinnan hallinta</span></a>
    <!-- <a href="#/valinnanvaihe/:id/laskentakaava" class="tab"><span>Laskentakaavat</span></a>    -->
</div>
