<div class="modal henkiloPartial"  ng-if="hakija.showTiedotPartial">
    <div class="modal-header">
        <span>Nimi: {{hakija.lastName}}, {{hakija.firstName}}</span>
        <a ng-click="showTiedotPartial(hakija)" class="close"></a>        
    </div>
    
    <div class="modal-content">
        <dl>

            <dt>Hakemuksen tekninen tunniste (OID)</dt>
            <dd>
                <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakija.oid}}" target="_blank" >{{hakija.oid}}</a>
            </dd>
            
            <dt>Oppijan numero</dt>
            <dd>{{hakija.personOid}}</dd>
            
        </dl>
    </div>
</div>

