<h1>{{ t('hakukohteet.hakijaryhmat') || 'Hakijaryhmät' }}</h1>
<div ng-include="'../common/js/topnavigation/topNavigation.html'"></div>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>
    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"/>

        <div class="tabsheets">
            <accordion close-others="true">
                <accordion-group ng-repeat="hakijaryhma in model track by $index" is-open="$first">

                    <accordion-heading>

                        <h3>{{ t('hakijaryhmat.hakijaryhma') || 'Hakijaryhmä' }}: {{hakijaryhma.nimi}}</h3>

                    </accordion-heading>
                    {{ t('hakijaryhmat.kiintionkoko') || 'Kiintiön koko' }}: {{hakijaryhma.kiintio}}

                    <table ng-table="hakijaryhma.tableParams" show-filter="true" class="virkailija-table-1">
                        <tr ng-repeat="tulos in $data">
                            <td class="leftorientedcolumn" data-title="(t('hakijaryhmat.hakija') || 'Hakija')"
                                sortable="'sukunimi'" filter="{ 'sukunimi' : 'text' }">
                                <show-person-information sukunimi="{{tulos.sukunimi}}"
                                                         etunimi="{{tulos.etunimi}}"
                                                         hakemus-oid="{{tulos.hakemusOid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{tulos.hakijaOid}}"/>
                            </td>
                            <td data-title="(t('hakijaryhmat.hakemuksentila') || 'Hakijaryhmään kuuluminen')"
                                sortable="'ryhmaanKuuluminen'"
                                filter="{ryhmaanKuuluminen: 'select'}"
                                filter-data="[
                                {title: ''},
                                {id: 'HYVAKSYTTAVISSA', title: (t('hakijaryhmat.HYVAKSYTTAVISSA') || 'Kuuluu')},
                                {id: 'HYLATTY', title: (t('hakijaryhmat.HYLATTY') || 'Ei kuulu')}]">
                                {{ t('hakijaryhmat.' + tulos.ryhmaanKuuluminen) || tulos.ryhmaanKuuluminen}}
                            </td>
                            <td data-title="(t('hakijaryhmat.sijoitteluntila') || 'Sijoittelun tila')"
                                sortable="'hakemusSijoittelussa.tila'"
                                filter="{sijoittelunTila: 'select'}"
                                filter-data="[
                                {title: ''},
                                {id: 'HYVAKSYTTY', title: (t('sijoitteluntulos.hyvaksytty') || 'Hyväksytty')},
                                {id: 'VARASIJALTA_HYVAKSYTTY', title: (t('sijoitteluntulos.varasijalta') || 'Varasijalta hyväksytty')},
                                {id: 'VARALLA', title: (t('sijoitteluntulos.varalla') || 'Varalla')},
                                {id: 'HYLATTY', title: (t('sijoitteluntulos.hylatty') || 'Hylätty')},
                                {id: 'PERUUNTUNUT', title: (t('sijoitteluntulos.peruuntunut') || 'Peruuntunut')},
                                {id: 'PERUNUT', title: (t('sijoitteluntulos.perunut') || 'Perunut')},
                                {id: 'PERUUTETTU', title: (t('sijoitteluntulos.peruutettu') || 'Peruutettu')}]">
                                <div ng-if="tulos.hakemusSijoittelussa">
                                    <p ng-if="tulos.jononNimi">{{ t('valintalaskentatulos.valintatapajono') || 'Valintatapajono' }}: {{tulos.jononNimi}}</p>
                                    <span ng-if="!tulos.hakemusSijoittelussa.tilanKuvaukset.FI || tulos.hakemusSijoittelussa.tila == 'HYLATTY'">{{tulos.hakemusSijoittelussa.tila}}</span>
                                    <span ng-if="userLang=='fi' && tulos.hakemusSijoittelussa.tilanKuvaukset.FI && tulos.hakemusSijoittelussa.tila != 'HYLATTY'">{{tulos.hakemusSijoittelussa.tilanKuvaukset.FI}}</span>
                                    <span ng-if="userLang=='sv' && tulos.hakemusSijoittelussa.tilanKuvaukset.FI && tulos.hakemusSijoittelussa.tila != 'HYLATTY'">{{tulos.hakemusSijoittelussa.tilanKuvaukset.SV}}</span>
                                    <span ng-if="userLang=='en' && tulos.hakemusSijoittelussa.tilanKuvaukset.FI && tulos.hakemusSijoittelussa.tila != 'HYLATTY'">{{tulos.hakemusSijoittelussa.tilanKuvaukset.EN}}</span>
                                    <span ng-if="(tulos.hakemusSijoittelussa.tila == 'HYVAKSYTTY' || tulos.hakemusSijoittelussa.tila == 'VARASIJALTA_HYVAKSYTTY') && tulos.hakemusSijoittelussa.hyvaksyttyHarkinnanvaraisesti == true">({{ t('sijoitteluntulos.harkinnanvaraisesti') || 'Harkinnanvaraisesti' }})</span>
                                    <span ng-if="tulos.hakemusSijoittelussa.varasijanNumero != undefined">({{tulos.hakemusSijoittelussa.varasijanNumero}})</span>
                                </div>
                            </td>
                            <td data-title="(t('hakijaryhmat.hyvaksyttyHakijaryhmasta') || 'Hyväksytty hakijaryhmästä')"
                                sortable="'hyvaksyttyHakijaryhmasta'"
                                filter="{hyvaksyttyHakijaryhmasta: 'select'}"
                                filter-data="[
                                {title: ''},
                                {id: true, title: (t('hakijaryhmat.hyvaksyttyHakijaryhmasta.true') || 'Kyllä')},
                                {id: false, title: (t('sijoitteluntulos.hyvaksyttyHakijaryhmasta.false') || 'Ei')},
                                ]">
                                {{ t('hakijaryhmat.hyvaksyttyHakijaryhmasta.' + tulos.hyvaksyttyHakijaryhmasta) || tulos.hyvaksyttyHakijaryhmasta}}
                            </td>
                            <td data-title="(t('hakijaryhmat.pisteet') || 'Pisteet')" sortable="'pisteet'">
                                <span ng-if="tulos.pisteet">{{tulos.pisteet}}</span>
                            </td>
                            <td data-title="(t('hakijaryhmat.vastaanottotila') || 'Vastaanottotila')" sortable="'vastaanottotila'">
                                <span ng-if="tulos.vastaanottotila">{{tulos.vastaanottotila}}</span>
                            </td>
                        </tr>
                    </table>
                </accordion-group>
            </accordion>
        </div>

    </div>
    <div class="clear"></div>
</div>
