<div class="modal-header">
	<h3>{{otsikko}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<h3>{{lisatiedot}}</h3>
		<br>
		<div ng-hide="onVirheita()">
			<!-- Poistetaan toistaiseksi epäluotettavana ja korvataan spinnerillä (ei ainakaan hämää käyttäjää)
			<div class="col-sm-9"><progressbar ng-class="{progressBarDanger: onVirheita()}" class="progress-striped active" value="getProsentit(prosessi.kokonaistyo)" type="info">{{getProsentit(prosessi.kokonaistyo)}}%</progressbar></div>				
			<div class="col-sm-3" ng-show="prosessi.kokonaistyo.kokonaismaara">{{prosessi.kokonaistyo.tehty}} / {{prosessi.kokonaistyo.kokonaismaara}}</div>
			<br>
			-->
			<img ng-show="onKesken()" class="spinner center-horizontal-32px" alt="loading" src="../common/img/ajax-loader-big.gif" />
			<div ng-show="onKesken()" class="col-sm-12 padding-top-7 padding-bottom-7 align-center">
                {{ t('latausikkuna.error') || 'Suoritus etenee virheettömästi ja varoituksetta' }}
			</div>
			<div ng-hide="onKesken()" class="col-sm-12 padding-bottom-7 align-center">
				{{ t('latausikkuna.suoritusvalmis') || 'Suoritus valmis' }}
			</div>
		</div>
		<div ng-show="onVirheita()">
            {{ t('latausikkuna.suoritusetenee') || 'Dokumentin luonti epäonnistui. Yritä uudelleen tai ota yhteyttä ylläpitoon.' }}
			<div class="bs-callout bs-callout-danger" ng-repeat="poikkeus in prosessi.poikkeukset">
		    	<h4>{{poikkeus.palvelu}}</h4>
				<p>{{poikkeus.palvelukutsu}} {{poikkeus.viesti}}</p>
		    	<p ng-repeat="oid in poikkeus.tunnisteet"><strong>{{oid.tyyppi}}</strong>&nbsp;{{oid.tunniste}}</p>
		  	</div>
		</div>
		<div ng-if="prosessi.varoitukset">
	    <h3 class="text-warning">{{ t('latausikkuna.varoitukset') || 'Varoitukset' }}</h3>
	    <table class="table">
	        <thead>
	        <tr>
	            <th>{{ t('latausikkuna.oid') || 'OID' }}</th>
	            <th>{{ t('latausikkuna.selite') || 'Selite' }}</th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr ng-repeat="varoitus in prosessi.varoitukset" class="warning">
	            <td>{{varoitus.oid}}</td>
	            <td>{{varoitus.selite}}</td>
	        </tr>
	        </tbody>
	    </table>
	    </div>
	</div>
	
</div>
<div class="modal-footer">
	<div class="row">
		<a ng-show="onKesken()" class="btn btn-default btn-sm" ng-click="sulje();"  role="button">{{ t('latausikkuna.keskeyta') || 'Keskeytä muodostus' }}</a>
		<a ng-hide="onKesken()" class="btn btn-default btn-sm" ng-click="sulje();"  role="button">{{ t('latausikkuna.sulje') || 'Sulje latausikkuna' }}</a>
		<a ng-class="{disabled: onKesken()}" class="btn btn-default btn-sm" ng-click="ok()"  role="button">{{ t('latausikkuna.lataa') || 'Lataa tiedosto' }}</a>
	</div>
</div>