*.class
# Required for gradle-wrapper.jar
#*.jar
*.war
*.ear
*.iml
node_modules
node
npm-debug.log
.classpath
.project
.settings/
target
.gitignore
.idea
bower_components
.DS_Store
.~lock*
.java-version

src/main/resources/webapp/common/jslib/angular.*
src/main/resources/webapp/common/jslib/angular-animate.*
src/main/resources/webapp/common/jslib/angular-cache.*
src/main/resources/webapp/common/jslib/angular-cookies.*
src/main/resources/webapp/common/jslib/angular-idle.*
src/main/resources/webapp/common/jslib/angular-resource.*
src/main/resources/webapp/common/jslib/angular-route.*
src/main/resources/webapp/common/jslib/angular-translate.*
src/main/resources/webapp/common/jslib/index.*
src/main/resources/webapp/common/jslib/jquery.*
src/main/resources/webapp/common/jslib/jquery.min.m*
src/main/resources/webapp/common/jslib/jquery-ui.*
src/main/resources/webapp/common/jslib/lodash.underscore.min.*

src/main/resources/log4j.properties
src/test/webapp/web/
