<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'" />
	
		<div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>
            
             <div>
             
            <div class="form-row">
				<div class="form-row-content">
		            <table class="virkailija-table-1" style="width: 800px;">
				        <thead>
				        <tr>
				            <th>Dokumentit</th>
				            <th>Luotu</th>
				            <th>Koko</th>
				        </tr>
				        </thead>
				        <tbody ng-repeat="tiedosto in dokumentit  | limitTo:dokumenttiLimit">
				        	<tr>
                				<td class="align-center"><a href="{{DOKUMENTTIPALVELU_URL_BASE}}/dokumentit/lataa/{{tiedosto.documentId}}" ng-hide="{{tiedosto.mimeType=='text/plain'}}">{{tiedosto.filename}}</a><span ng-show="{{tiedosto.mimeType=='text/plain'}}">{{tiedosto.filename}}</span></td>
					            <td class="align-center">{{tiedosto.createdAt}}</td>
					            <td class="align-center">{{tiedosto.size}}</td>
				        	</tr>
				        </tbody>
				        <tfoot>
				        	<tr ng-show="dokumentit.length > dokumenttiLimit">
								<td class="align-center" colspan="4">
									<a ng-click="showMoreDokumentit()" class="button small" style="">Näytä lisää +{{dokumentit.length - dokumenttiLimit}}</a>
								</td>
							</tr>
							<tr ng-hide="dokumentit">
								<td class="align-center" colspan="4">Ei luotuja dokumentteja</td>
							</tr>
						</tfoot>
		            </table>
		
		        </div>
		        <div class="clear"></div>
		    </div>
            
                <div>
                    <span>Näytä</span>
                    <select ng-model="nakymanTila">
                        <option value="Hakijoittain">Hakijoittain</option>
                        <option value="Kokeittain">Kokeittain</option>
                    </select>

                     <input id="osallistuu" type="checkbox" ng-model="model.filter" ng-true-value="OSALLISTUU" ng-false-value=""/>
                     <label for="osallistuu">Vain kutsuttavat</label>
                    <br/>
                 </div>
            </div>
			
			
	        
			
            <div ng-show="nakymanTila == 'Hakijoittain'">
                <h2>Hakijoittain</h2>
            	<a ng-click="allValintakoeTulosXLS(); $event.stopPropagation()" class="button small excel">Vie taulukkolaskentaan</a>
            	<a ng-click="allAddressLabelPDF(); $event.stopPropagation()" class="button small pdf">Muodosta osoitetarrat</a>

                <table class="virkailija-table-1">
                    <thead>
                        <tr>
                            <th rowspan="2">Nimi</th>
                            <th colspan="{{model.koetyypit.length}}">Kokeet</th>
                        </tr>
                        <tr>
                            <th ng-repeat="koetyyppi in model.koetyypit">{{koetyyppi}}</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="hakemus in (model.valintakokeetHakijoittainArray | filter:model.filter)">
                        <td>
                            <show-person-information sukunimi="{{hakemus.sukunimi}}"
                                                     etunimi="{{hakemus.etunimi}}"
                                                     hakemus-oid="{{hakemus.hakemusOid}}"
                                                     haku-oid="{{hakuOid}}"
                                                     henkilo-oid="{{hakemus.hakijaOid}}" />
                        </td>
                        <td ng-repeat="koetyyppi in model.koetyypit">
                            <div ng-switch="hakemus.kokeet[koetyyppi].osallistuminen">
                                <span ng-switch-when="OSALLISTUU">Kutsutaan</span>
                                <span ng-switch-default></span>
                            </div>
                        </td>
                    </tr>
                </table>
             </div>

            <div ng-show="nakymanTila == 'Kokeittain'">
                <div ng-repeat="valintakoe in model.valintakokeet" class="margin-vertical-2">
                    <h2>{{valintakoe.valintakoeTunniste}}<span ng-show="{{valintakoe.valinnanVaihe}}">- {{valintakoe.valinnanVaihe}}</span></h2>
					<form method="post">
						  <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel[valintakoe.valintakoeOid]"></textarea>
					</form>
					<hr>
                    <a ng-click="valintakoeTulosXLS(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small excel">Vie taulukkolaskentaan</a>
                    <a ng-click="tulostaKoekutsukirjeet(valintakoe); $event.stopPropagation()" class="button small pdf">Muodosta koekutsut</a>
                    <a ng-click="addressLabelPDF(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small pdf">Muodosta osoitetarrat</a>
					<table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th><a href="" ng-click="predicate = 'hakemusOid'; reverse=!reverse"><input type="checkbox" ng-model="valintakoe.valittu"> Nimi</a></th>
                            <th><a href="" ng-click="predicate = 'osallistuminen'; reverse=!reverse">Osallistuminen</a></th>
                            <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Laskettu pvm</a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="koe in valintakoe.hakijat | orderBy:predicate:reverse | filter:model.filter">
                            <td>
                            	<input type="checkbox" ng-model="koe.valittu" ng-change="model.check(valintakoe);">
                                <show-person-information sukunimi="{{koe.sukunimi}}"
                                                         etunimi="{{koe.etunimi}}"
                                                         hakemus-oid="{{koe.hakemusOid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{koe.hakijaOid}}" />
                            </td>
                            <td>
                                <div ng-switch="koe.osallistuminen">
                                    <span ng-switch-when="OSALLISTUU">Kutsutaan</span>
                                    <span ng-switch-default></span>
                                </div>
                            </td>
                            <td><span ng-bind="koe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>
