<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'"/>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"/>

        <div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>
            <div>

                <div>
                    <span>Näytä</span>
                    <select ng-model="nakymanTila">
                        <option value="Kokeittain" selected="selected">Kokeittain</option>
                        <option value="Hakijoittain">Hakijoittain</option>
                    </select>

                    <input id="osallistuu" type="checkbox" ng-model="model.filter" ng-true-value="OSALLISTUU"
                           ng-false-value=""/>
                    <label for="osallistuu">Vain kutsuttavat</label>
                    <br/>
                </div>
            </div>

            <div ng-if="nakymanTila == 'Hakijoittain'">
                <h2>Hakijoittain</h2>
                <a ng-click="allValintakoeTulosXLS(); $event.stopPropagation()" class="btn btn-default btn-sm excel">Vie
                    taulukkolaskentaan</a>
                <a ng-click="allAddressLabelPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">Muodosta
                    osoitetarrat</a>

                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th rowspan="2"><a href=""
                                           ng-click="predicate = ['sukunimi','etunimi']; reverse=!reverse">Nimi</a></th>
                        <th colspan="{{model.koetyypit.length}}">Kokeet</th>
                    </tr>
                    <tr>
                        <th ng-repeat="koetyyppi in model.koetyypit">{{koetyyppi}}</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="hakemus in (model.valintakokeetHakijoittainArray | filter:model.filter | orderBy:predicate:reverse )">
                        <td class="leftorientedcolumn">
                            <show-person-information sukunimi="{{hakemus.sukunimi}}"
                                                     etunimi="{{hakemus.etunimi}}"
                                                     hakemus-oid="{{hakemus.hakemusOid}}"
                                                     haku-oid="{{hakuOid}}"
                                                     henkilo-oid="{{hakemus.hakijaOid}}"/>
                        </td>
                        <td ng-repeat="koetyyppi in model.koetyypit | orderBy:koetyyppi">
                            <div ng-switch="hakemus.kokeet[koetyyppi].osallistuminen">
                                <div ng-if="hakemus.kokeet[koetyyppi].lahetetaankoKoekutsut">
                                    <span ng-switch-when="OSALLISTUU">Kutsutaan</span>
                                    <span ng-switch-default></span>
                                </div>
                                <div ng-if="!hakemus.kokeet[koetyyppi].lahetetaankoKoekutsut">
                                    <span></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-if="nakymanTila == 'Kokeittain'">
                <div ng-repeat="valintakoe in model.valintakokeet">
                	<div ng-if="valintakoe.hakijat && valintakoe.lahetetaankoKoekutsut" class="panel panel-default">

	                    <div class="panel-heading">
	                        <div class="panel-title">{{valintakoe.valintakoeTunniste}}<span ng-show="{{valintakoe.valinnanVaihe}}">- {{valintakoe.valinnanVaihe}}</span></div>
	                    </div>

						<div class="panel-body" ng-if="(valintakoe.hakijat|filter:model.filter).length==0">
	                    		kokeeseen ei ole kutsuttavia
	                    </div>

	                    <div class="panel-body" ng-if="(valintakoe.hakijat|filter:model.filter).length>0">
	                    	
	                        <div ng-if="(valintakoe.hakijat|filter:model.filterImmutable).length>0" ng-show="valintakoe.aktiivinen">
	                            <form method="post">
	                                <textarea ui-tinymce="tinymceOptions"
	                                          ng-model="tinymceModel[valintakoe.valintakoeOid]"></textarea>
	                            </form>
	                            <div class="btn-toolbar margin-top-2 margin-bottom-2" role="toolbar">
	                                <a ng-click="valintakoeTulosXLS(valintakoe); $event.stopPropagation()"
	                                   class="btn btn-default btn-sm"><i class="fa fa-table"></i>&nbsp;Vie
	                                    taulukkolaskentaan</a>
									
	                                <div ng-if="isBlank(tinymceModel[valintakoe.valintakoeOid])" class="inline-block"
	                                     popover="Kirjoita viesti ylläolevaan kenttään." popover-trigger="mouseenter">
	                                    <a class="btn btn-default btn-sm disabled">
	                                        <i class="fa fa-file"></i>&nbsp;Muodosta koekutsut
	                                    </a>
	                                </div>
	
	                                <a ng-if="!isBlank(tinymceModel[valintakoe.valintakoeOid])"
	                                   ng-click="tulostaKoekutsukirjeet(valintakoe);$event.stopPropagation()"
	                                   class="btn btn-default btn-sm">
	                                    <i class="fa fa-file"></i>&nbsp;Muodosta koekutsut
	                                </a>
	
	                                <a ng-click="addressLabelPDF(valintakoe); $event.stopPropagation()"
	                                   class="btn btn-default btn-sm"><i class="fa fa-file"></i>&nbsp;Muodosta osoitetarrat</a>
	                            </div>
	                        </div>
	                        <div ng-hide="valintakoe.aktiivinen">
	                            <p>Tälle valintakokeelle ei voi muodostaa osoitetarroja tai koekutsuja. Asetus on
	                                muokattavissa
	                                valintaperusteiden mallinnuksessa.</p>
	
	                            <div ng-show="valintakoe.virheIlmoitus" class="alert alert-danger">
	                                <h3>{{valintakoe.virheIlmoitus}}</h3>
	                            </div>
	                        </div>
	                        <table class="virkailija-table-1">
	                            <thead>
	                            <tr>
	                                <th><input ng-if="(valintakoe.hakijat|filter:model.filterImmutable).length>0" type="checkbox" ng-model="valintakoe.valittu"
	                                           ng-change="model.checkAll(valintakoe);"/></th>
	                                <th><a href="" ng-click="predicate = ['sukunimi','etunimi']; reverse=!reverse">Nimi</a>
	                                </th>
	                                <th><a href=""
	                                       ng-click="predicate = 'osallistuminen'; reverse=!reverse">Osallistuminen</a>
	                                </th>
	                                <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Laskettu pvm</a>
	                                </th>
	                            </tr>
	                            </thead>
	                            <tbody>
	                            <tr ng-repeat="koe in valintakoe.hakijat | orderBy:predicate:reverse | filter:model.filter">
	                                <td><input ng-if="koe.osallistuminen == 'OSALLISTUU'" type="checkbox" ng-model="koe.valittu" ng-change="model.check(valintakoe);">
	                                </td>
	                                <td class="leftorientedcolumn">
	                                    <show-person-information sukunimi="{{koe.sukunimi}}"
	                                                             etunimi="{{koe.etunimi}}"
	                                                             hakemus-oid="{{koe.hakemusOid}}"
	                                                             haku-oid="{{hakuOid}}"
	                                                             henkilo-oid="{{koe.hakijaOid}}"/>
	                                </td>
	                                <td>
	                                    <div ng-switch="koe.osallistuminen">
	                                        <span ng-switch-when="OSALLISTUU">Kutsutaan</span>
	                                        <span ng-switch-default></span>
	                                    </div>
	                                </td>
	                                <td><span ng-bind="koe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></td>
	                            </tr>
	
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
