
<h1>Harkinnanvaraiset hakemukset</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'partials/hakukohdeNavigation.html'" />

        <div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>

            <p ng-show="model.hakeneet.length < 1" class="notification info margin-vertical-2">Tähän hakukohteeseen ei ole yhtään hakijaa</p>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <h2>Harkinnanvaraiset hakijat</h2>
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>Nimi</th>
                                <th>Hakemus</th>
                                <th>Harkinnanvarainen tila</th>
                                <th>Hyväksy harkinnanvaraisesti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hakija in model.hakeneet | filter: {hakenutHarkinnanvaraisesti:true}">
                                <td>
                                    <span title="Sukunimi">{{hakija.lastName}}</span>,
                                    <span title="Etunimi">{{hakija.firstName}}</span>
                                </td>
                                <td>
                                    <span title="HakemusOid">
                                        <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakija.applicationOid}}" target="_blank" >
                                            {{hakija.applicationOid}}
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    {{hakija.hakenutHarkinnanvaraisesti}}
                                    <!--
                                    <ul>
                                        <li ng-repeat="(key, value) in hakija.hakemus.answers.hakutoiveet track by $index">
                                            {{key}} {{value}}
                                        </li>
                                    </ul>
                                    -->
                                </td>
                                <td>
                                    <a ng-click="hyvaksyHarkinnanvaisesti(hakija.applicationOid)" class="button small">hyväksy harkinnanvaraisesti</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
