
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

        <div auth="update" auth-service="APP_VALINTOJENTOTEUTTAMINEN" auth-org="{{hakukohdeModel.hakukohde.tarjoajaOid}}" class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>

            <p ng-show="model.hakeneet.length < 1" class="notification info margin-vertical-2">Tähän hakukohteeseen ei ole yhtään hakijaa</p>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <h2>Hakeneet</h2>

                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th><a href="" ng-click="predicate = 'lastName'; reverse=!reverse">Tiedot</a></th>
                            <th ng-repeat="avain in model.avaimet | filter:{'lahde': arvoFilter}">{{avain.tunniste}} {{avain.kuvaus}}
                                <span ng-show="avain.min || avain.min == 0" ng-show="avain.max || avain.max == 0">({{avain.min}} - {{avain.max}})</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="hakija in model.hakeneet | orderBy:predicate:reverse | filter:hakijaFilter">
                            <td>
                                <a ng-click="showTiedotPartial(hakija)" >
                                    <span class="sukunimi">{{hakija.lastName}}</span>,
                                    <span class="etunimi">{{hakija.firstName}}</span>
                                </a>
                                <div ng-include="'partials/hakeneetTiedotPartial.html'" ng-show="hakija.showTiedotPartial"/>
                            </td>
                            <td ng-repeat="avain in model.avaimet | filter:{'lahde': arvoFilter}">
                                <div ng-show="hakija.osallistuu[avain.tunniste] == 'OSALLISTUU'" ng-switch on="avain.lahde">
                                    <div ng-switch-when="SYOTETTAVA_ARVO">

                                        <input ng-show="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                               min="{{avain.min}}"
                                               max="{{avain.max}}"
                                               size="2"
                                               ng-model="hakija.additionalData[avain.tunniste]"
                                               arvovalidaattori
                                               ng-change="changeOsallistuminen(hakija, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste])" />


                                        <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                                                ng-show="avain.osallistuminenTunniste"
                                                ng-change="changeArvo(hakija, avain.tunniste, hakija.additionalData[avain.osallistuminenTunniste])"
                                                osallistui-validaattori
                                                >
                                            <option value="MERKITSEMATTA">Merkitsemättä</option>
                                            <option value="OSALLISTUI">Osallistui</option>
                                            <option value="EI_OSALLISTUNUT">Ei osallistunut</option>
                                        </select>

                                        <span style="color: red;"></span>
                                    </div>
                                    <div ng-switch-default>
                                        {{hakija.additionalData[avain.tunniste]}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <button ng-disabled="!form.$valid" class="button small primary margin-top-2" type="submit">Tallenna</button>
                    <div>
                        <div class="notification warning" ng-show="form.$error.arvovalidaattori">Tarkista virheet!</div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
