
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div class="grid16-4" ng-include="'partials/hakukohdelista.html'"></div>

    <div class="grid16-12">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeNimi}}</h1>
            <a href="{{sijoitteluntulosExcelExport}}" class="button small excel">Vie exceliin</a>
			<h2>Sijoittelun tulos</h2>
			<div class="margin-vertical-2">
				
			</div>
			<div class="margin-vertical-2">
				Viimeisin Ajo ID: {{model.latestSijoitteluajo.sijoitteluajoId}} <br />
				Alkaa: {{model.latestSijoitteluajo.startMils | date:'dd.MM.yyyy HH:mm'}} <br />
				Loppuu: {{model.latestSijoitteluajo.endMils | date:'dd.MM.yyyy HH:mm'}} <br />
			</div>
			<!--
			<div class="margin-vertical-2">
				<button ng-click="showSijoitteluajot()">Näytä kaikki sijoitteluajot</button>
				<table class="virkailija-table-1">
					<thead>
						<tr>
							
						</tr>
					</thead>
					<tbody>
						<tr>

						</tr>
					</tbody>
				</table>
			</div>
		-->
			<div class="margin-vertical-2">
				<h2>Viimeisimmän sijoittelun tulokset</h2>
				<table class="virkailija-table-1" ng-repeat="jono in model.sijoitteluTulokset.valintatapajonot">
					<h1>{{jono.aloituspaikat}}</h1>
					<thead>
						<tr>
							<th colspan="7">valintatapajono OID: {{jono.oid}}</th>
						</tr>
						<tr>
							<td class="bold align-center">jonosija</td>
							<td class="bold align-center">Hakija OID</td>
                            <td class="bold align-center">Hakemus OID</td>
							<td class="bold align-center">Prioriteetti</td>
							<td class="bold align-center">TasasijaJonosija</td>
							<td class="bold align-center">Sijoittelun tila</td>
							<td class="bold align-center">Vastaanottotila</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="hakemus in jono.hakemukset">
							<td>{{hakemus.jonosija}}</td>
							<td>{{hakemus.hakijaOid}}</td>
                            <td>{{hakemus.hakemusOid}}</td>
							<td>{{hakemus.prioriteetti}}</td>
							<td>{{hakemus.tasasijaJonosija}}</td>
							<td>{{hakemus.tila}}</td>
							<td><select ng-model="hakemus.hakemuksentila" ng-options="value for value in model.hakemuksenTilat" ng-value="{{value}}" ng-change="updateHakemuksenTila(hakemus.hakemuksentila, jono.oid, hakemus.hakemusOid)"></select></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
