
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeNimi}}</h1>
            
            <div ng-show="model.errors.length > 0" class="notification warning">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

            <a href="{{sijoitteluntulosExcelExport}}" class="button small excel">Vie exceliin</a>
			<h2>Sijoittelun tulos</h2>
			<div class="margin-vertical-2">
				
			</div>
			<div class="margin-vertical-2">
				<dl class="dl-horizontal">
					<dt>Viimeisin Ajo ID</dt>
					<dd>{{model.latestSijoitteluajo.sijoitteluajoId}}</dd>
					
					<dt>Alkaa</dt>
					<dd>{{model.latestSijoitteluajo.startMils | date:'dd.MM.yyyy HH:mm'}}</dd>
					
					<dt>Loppuu</dt>
					<dd>{{model.latestSijoitteluajo.endMils | date:'dd.MM.yyyy HH:mm'}}</dd>
				</dl>
			</div>
			<!--
			<div class="margin-vertical-2">
				<button ng-click="showSijoitteluajot()">Näytä kaikki sijoitteluajot</button>
				<table class="virkailija-table-1">
					<thead>
						<tr>
							
						</tr>
					</thead>
					<tbody>
						<tr>

						</tr>
					</tbody>
				</table>
			</div>
		-->
			<div class="margin-vertical-2 overflow-x-scroll">
				<h2>Viimeisimmän sijoittelun tulokset</h2>
				<table class="virkailija-table-1" ng-repeat="jono in model.sijoitteluTulokset.valintatapajonot">
					<h1>{{jono.aloituspaikat}}</h1>
					<thead>
						<tr>
							<th colspan="9">valintatapajono OID: {{jono.oid}}</th>
						</tr>
						<tr>
							<td class="bold align-center">jonosija</td>
							<td class="bold align-center">Hakija OID</td>
                            <!--<td class="bold align-center">Hakemus OID</td>-->
							<td class="bold align-center">Prioriteetti</td>
							<td class="bold align-center">TasasijaJonosija</td>
							<td class="bold align-center">Harkinnanvarainen</td>
							<td class="bold align-center">Sijoittelun tila</td>
							<td class="bold align-center">Vastaanottotila</td>
                            <td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="hakemus in jono.hakemukset">
							<td>{{hakemus.jonosija}}</td>
							<td>
                                <a ng-click="showSijoitteluPartial(hakemus)" >
                                    <span>{{hakemus.hakijaOid}}</span>
                                </a>
                                <div ng-include="'valintalaskentatulos-partials/sijoitteluPartial.html'"/>
                            </td>
                            <!--<td>-->
                                <!--<a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/yhteishaku/esikatselu/{{hakemus.hakemusOid}}" target="_blank" >-->
                                    <!--{{hakemus.hakemusOid}}-->
                                <!--</a>-->
                            <!--</td>-->
							<td>{{hakemus.prioriteetti}}</td>
							<td>{{hakemus.tasasijaJonosija}}</td>
							<td><input type="checkbox" ng-model="hakemus.harkinnanvarainen" disabled /></td>
							<td>{{hakemus.tila}}</td>
							<td>
                                {{hakemus.hakemuksentila}}
                            </td>
                            <td>
                                <a ng-disabled="!((updateOrg && hakemus.tila == 'HYVAKSYTTY') || (updateOph))" ng-click="showMuutaHakemus(hakemus)" class="button small">Tila</a>
                                <div ng-include="'valintalaskentatulos-partials/muutaHakemus.html'"/>
                            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
