<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div class="grid16-4" ng-include="'partials/hakukohdelista.html'"></div>

    <div class="grid16-12">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeNimi}}</h1>
			<a href="{{valintalaskentatulosExcelExport}}" class="button small excel">Vie exceliin</a>

            <div ng-show="!model.valinnanvaiheet" class="offset-left-16-4 grid16-8">
                <p class="notification warning">Kohteelle ei ole vielä suoritettu valintalaskentaa</p>
            </div>
            <div class="clear"></div>
            <!--
            <a href="#" class="button small disabled">Hyväksy valintaesitys</a>
             -->
            <div ng-repeat="valinnanvaihe in model.valinnanvaiheet">
                <h3>Valinnanvaihe OID: <span ng-bind="valinnanvaihe.valinnanvaiheoid">-</span></h3>
                <h3>Päivämäärä: <span ng-bind="valinnanvaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></h3>
                <div ng-repeat="valintatapajono in valinnanvaihe.valintatapajono">
                    <h3>Valintatapajono: {{valintatapajono.nimi}} (v.{{valintatapajono.versio}})</h3>
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>Hakija</th>
                                <th>Valintatieto</th>
                                <th>Selite</th>
                                <th>Pistemäärä</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="tulos in valintatapajono.jonosijat">
                            <tr>
                                <td>{{tulos.sukunimi}}, {{tulos.etunimi}}</td>
                                <td>{{tulos.jarjestyskriteerit[0].tila}}</td>
                                <td>{{tulos.jarjestyskriteerit[0].kuvaus}}</td>
                                <td><div ng-repeat="jarjestyskriteeri in tulos.jarjestyskriteerit"><span>{{jarjestyskriteeri.arvo}}</span><br /><input ng-model="kriteerinArvo" type="text" /><button class="btn small" ng-click="updateJarjestyskriteerinArvo(valintatapajono.oid, tulos.hakemusoid, $index, kriteerinArvo)">update</button></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
	<div class="clear"></div>
</div>
