<h1>Valintojen toteuttaminen</h1>
<div ng-include="'partials/topNavigation.html'"></div>
<div class="clear"></div>

<div class="tabsheets">
	
	<div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'partials/hakukohdeNimi.html'"></div>
		<div ng-include="'partials/hakukohdeNavigation.html'"></div>

        <div class="tabsheets">
			<div ng-show="model.errors.length > 0" class="notification warning">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

			<table ng-show="model.tulosValinnanvaiheet" class="virkailija-table-1">
				<thead>
					<tr>
						<th>Valinnanvaiheen nimi</th>
						<th>Tyyppi</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="valinnanvaihe in model.tulosValinnanvaiheet">
						<td>{{valinnanvaihe.nimi}}</td>
						<td>
							<span ng-show="valinnanvaihe.valinnanVaiheTyyppi == 'VALINTAKOE'">Valintakoevalinnanvaihe</span>
							<span ng-show="valinnanvaihe.valinnanVaiheTyyppi == 'TAVALLINEN'">Valinnanvaihe</span>
						</td>
						<td>
                            <div ng-show="valinnanvaihe.aktiivinen">
                                <a ng-show="valinnanvaihe.valinnanVaiheTyyppi === 'TAVALLINEN' && privileges.valinnanhallinta" ng-click="kaynnistaValintalaskenta($index)" class="button small">Käynnistä laskenta</a>
                                <a ng-show="valinnanvaihe.valinnanVaiheTyyppi === 'VALINTAKOE' && privileges.valintakoekutsut" ng-click="kaynnistaValintakoelaskenta($index)" class="button small">Käynnistä valintakoelaskenta</a>
                            </div>
                            <div ng-show="!valinnanvaihe.aktiivinen">
                                Valinnanvaihe ei ole aktiivinen
                            </div>
		                </td>
	                </tr>
                </tbody>
			</table>
			

			<div ng-show="!model.tulosValinnanvaiheet" class="offset-left-16-4 grid16-8">
				<p class="notification warning">Valintaperusteita ei ole mallinnettu, mallinna valintaperusteet ennen valintalaskentaa</p>
			</div>
			<!--
			<div>
				<div class="width-12-6">
					<h3 class="margin-top-0">Esivalinta</h3>
					<a href="#">syötä pistetietoja</a>
					<a href="#">pistejärjestys</a>
				</div>

				<div class="width-12-6">
					<button class="small btn">Käynnistä vaihe</button>
				</div>
			</div>
			-->
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>


</div>

