
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>
            
            <p ng-hide="model.valintakokeet" class="notification info">Valintakoetuloksia ei ole saatavilla</p>

            
			
			<div ng-repeat="valintakoe in model.valintakokeet" class="margin-vertical-2">
				<h2>{{valintakoe.valintakoeTunniste}}</h2>
				<a ng-click="valintakoeTulosXLS(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small excel">Vie exceliin</a>
            	<a ng-click="addressLabelPDF(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small pdf">Lataa osoitetarrat</a>
				<table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="predicate = 'hakemusOid'; reverse=!reverse">Hakemus OID</a></th>
                        <th><a href="" ng-click="predicate = 'osallistuminen'; reverse=!reverse">Osallistuminen</a></th>
                        <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Laskettu pvm</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="koe in valintakoe.hakijat | orderBy:predicate:reverse">
                        <td>
                            <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/yhteishaku/esikatselu/{{koe.hakemusOid}}" target="_blank" >
                                {{koe.hakemusOid}}
                            </a>
                            </td>
                        <td>{{koe.osallistuminen}}</td>
                        <td><span ng-bind="koe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></td>
                    </tr>

                    </tbody>
                </table>
			</div>

        </div>
	</div>
	<div class="clear"></div>
</div>
