
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>
            
            <p ng-hide="model.valintakokeet" class="notification info">Valintakoetuloksia ei ole saatavilla</p>

            
			
			<div ng-repeat="valintakoe in model.valintakokeet" class="margin-vertical-2">
				<h2>{{valintakoe.valintakoeTunniste}}</h2>
				<a ng-click="valintakoeTulosXLS(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small excel">Vie exceliin</a>
            	<a ng-click="addressLabelPDF(valintakoe.valintakoeOid); $event.stopPropagation()" class="button small pdf">Lataa osoitetarrat</a>
				<table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="predicate = 'hakemusOid'; reverse=!reverse">Hakemus OID</a></th>
                        <th><a href="" ng-click="predicate = 'osallistuminen'; reverse=!reverse">Osallistuminen</a></th>
                        <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Laskettu pvm</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="koe in valintakoe.hakijat | orderBy:predicate:reverse">
                        <td>
                            <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/yhteishaku/esikatselu/{{koe.hakemusOid}}" target="_blank" >
                                {{koe.hakemusOid}}
                            </a>
                            </td>
                        <td>{{koe.osallistuminen}}</td>
                        <td><span ng-bind="koe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></td>
                    </tr>

                    </tbody>
                </table>
			</div>
			
            <div ng-controller="HakeneetController" auth="update" auth-service="APP_VALINTOJENTOTEUTTAMINEN" auth-org="{{hakukohdeModel.hakukohde.tarjoajaOid}}">


                <p ng-show="model.hakeneet.length < 1" class="notification info margin-vertical-2">Tähän hakukohteeseen ei ole yhtään hakijaa</p>

                <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                    <h2>Hakeneet</h2>

                    <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita" ng-model="hakijaFilter" />
                    <select ng-model="arvoFilter">
                        <option value="SYOTETTAVA_ARVO">Syötettävät arvot</option>
                        <option value="HAETTAVA_ARVO">Haettavat arvot</option>
                        <option value="">Kaikki</option>
                    </select>

                    <form name="form" ng-submit="submit()">
                        <table class="virkailija-table-1">
                            <thead>
                            <tr>
                                <th><a href="" ng-click="predicate = 'lastName'; reverse=!reverse">Tiedot</a></th>
                                <th ng-repeat="avain in model.avaimet | filter:{'lahde': arvoFilter}">{{avain.tunniste}} {{avain.kuvaus}}
                                    <span ng-show="avain.min || avain.min == 0" ng-show="avain.max || avain.max == 0">({{avain.min}} - {{avain.max}})</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="hakija in model.hakeneet | orderBy:predicate:reverse | filter:hakijaFilter">
                                <td>
                                    <span title="Sukunimi">{{hakija.lastName}}</span>, <span title="Etunimi">{{hakija.firstName}}</span>
                                    <br />
                                <span title="HakemusOid">
                                    <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/yhteishaku/esikatselu/{{hakija.applicationOid}}" target="_blank" >
                                        {{hakija.applicationOid}}
                                    </a>
                                </span>
                                    <br />
                                    <span title="Hetu">{{hakija.ssn}}</span>
                                </td>
                                <td ng-repeat="avain in model.avaimet | filter:{'lahde': arvoFilter}">
                                    <div ng-switch on="avain.lahde">
                                        <div ng-switch-when="SYOTETTAVA_ARVO">
                                            <input min="{{avain.min}}" max="{{avain.max}}" size="2" ng-model="hakija.additionalData[avain.tunniste]" arvovalidaattori/>
                                            <span style="color: red;"></span>
                                        </div>
                                        <div ng-switch-default>
                                            {{hakija.additionalData[avain.tunniste]}}
                                        </div>

                                    </div>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <button ng-disabled="!form.$valid" class="button small primary margin-top-2" type="submit">Tallenna</button>
                        <div>
                            <div class="notification warning" ng-show="form.$error.arvovalidaattori">Tarkista virheet!</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</div>
	<div class="clear"></div>
</div>
