
<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div class="grid16-4" ng-include="'partials/hakukohdelista.html'"></div>

    <div class="grid16-12">
        <div ng-include="'partials/hakukohdeNavigation.html'" />

		<div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>
            
            <p ng-hide="model.flatKoetulokset" class="notification info">Valintakoetuloksia ei ole saatavilla</p>

            <a ng-show="model.flatKoetulokset" href="{{valintakoetulosExcelExport}}" class="button small excel">Vie exceliin</a>

			<div ng-show="model.flatKoetulokset" class="margin-vertical-2">
                <!--{{model.flatKoetulokset | json}}-->
                <h2>Valintakoetulokset</h2>
                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="predicate = 'hakemusOid'; reverse=!reverse">Hakemus OID</a></th>
                        <th><a href="" ng-click="predicate = 'valintakoeOid'; reverse=!reverse">Valintakoe OID</a></th>
                        <th><a href="" ng-click="predicate = 'valintakoeTunniste'; reverse=!reverse">Valintakoetunniste</a></th>
                        <th><a href="" ng-click="predicate = 'osallistuminen'; reverse=!reverse">Osallistuminen</a></th>
                        <th><a href="" ng-click="predicate = 'createdAt'; reverse=!reverse">Laskettu pvm</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="koe in model.flatKoetulokset | orderBy:predicate:reverse">
                        <td>{{koe.hakemusOid}}</td>
                        <td>{{koe.valintakoeOid}}</td>
                        <td>{{koe.valintakoeTunniste}}</td>
                        <td>{{koe.osallistuminen}}</td>
                        <td><span ng-bind="koe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></td>
                    </tr>

                    </tbody>
                </table>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
