<h1>Hakija: </h1>
<h1>Valintalaskentahistoria</h1>

<div class="tabs">
	<a class="tab" ng-class="$index === historyTabIndex ? 'current' : ''" ng-click="changeTab($index)" ng-repeat="historia in model.get()"><span>{{$index + 1}}. Järjestyskriteeri</span></a>
</div>
<div class="clear"></div>

<div class="tabsheets">
	<ul id="valintalaskentaHistoria" ng-show="$index === historyTabIndex" ng-repeat="historia in model.get()" ng-include="'historia_node.html'"></ul>
</div>

<script type="text/ng-template" id="historia_node.html">
	<li><h1>{{historia.funktio}}</h1></li>
	<li>Tulos: {{historia.tulos}}</li>
	
		<h3>Tilat</h3>	
		<ul>
			<li>Funktiokutsuoid: {{tila.funktiokutsuoid}}</li>
			<li>Kuvaus: {{tila.kuvaus}}</li>
			<li>Tilatyyppi: {{tila.tilatyyppi}}</li>
		</ul>



	<ul >
		<li class="padding-bottom-1" ng-repeat="(key, value) in historia.avaimet track by $index">
			<strong>{{key}}</strong> - <span>{{value}}</span>
		</li> 
	</ul>


	<ul ng-init="show = 'true'" ng-show="show" ng-click="show = !show">
		<h3>Alihistoria</h3>
		<li ng-repeat="historia in historia.historiat" ng-include="'historia_node.html'"></li>
	</ul>

</script>

