<div ng-include="'partials/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'partials/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <h1 class="margin-horizontal-1 margin-bottom-3">{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>
        <div ng-include="'partials/hakukohdeNavigation.html'" />

        <div class="tabsheets">

            <div ng-show="model.errors.length > 0" class="notification warning">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>
            <a ng-show="model.valinnanvaiheet" ng-click="valintalaskentaTulosXLS(); $event.stopPropagation();" class="button small excel">Vie exceliin</a>



            <!--
            <a href="#" class="button small disabled">Hyväksy valintaesitys</a>
             -->
            <div ng-repeat="valinnanvaihe in model.valinnanvaiheet">

                <h3>Valinnanvaihe OID: <span ng-bind="valinnanvaihe.valinnanvaiheoid">-</span></h3>
                <h3>Päivämäärä: <span ng-bind="valinnanvaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span></h3>
                <div ng-repeat="valintatapajono in valinnanvaihe.valintatapajono">
                    <h3>Valintatapajono: {{valintatapajono.nimi}} (v.{{valintatapajono.versio}})</h3>
                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th> </th>
                            <th>Hakija</th>
                            <th>Yhteispisteet</th>
                            <th>Hakutoive</th>
                            <th>Valintatieto</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tulos in valintatapajono.jonosijat">
                            <td>{{tulos.jonosija}}</td>
                            <td>
                                <a ng-click="showHenkiloPartial(tulos)" >
                                     <span class="sukunimi">{{tulos.sukunimi}}</span>,
                                     <span class="etunimi">{{tulos.etunimi}}</span>
                                </a>
                                <div ng-include="'valintalaskentatulos-partials/henkiloPartial.html'">
                            </td>
                            <td>
                                {{tulos.jarjestyskriteerit[0].arvo}}
                                <a href="/valintalaskenta-ui/html/index.html#/valintatapajono/{{valintatapajono.oid}}/hakemus/{{tulos.hakemusOid}}/valintalaskentahistoria" target="_blank" class="historylink">
                                    Lisätietoja
                                </a>
                            </td>
                            <td>
                                {{tulos.prioriteetti}}
                            </td>
                            <td>
                                <a ng-click="showTilaPartial(tulos)" >
                                    {{tulos.tuloksenTila}}
                                </a>
                                <div ng-include="'valintalaskentatulos-partials/tilaPartial.html'"/>
                            </td>
                            <td>
                                <a ng-click="showMuutaJarjestyskriteerinArvo(tulos)" class="button small">Muokkaus</a>
                               <div ng-include="'valintalaskentatulos-partials/muutaJarjestyskriteeri.html'">
                               </div>
                               

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
