<h1>Valinnat</h1>

<div ng-include="'partials/topNavigation.html'"/>

<div class="tabsheets">
    <h1>Haun hallinta</h1>
	
	<span>
		Haun oid: {{hakumodel.hakuOid.oid}} <br/>
		Haun tunniste: {{hakumodel.hakuOid.haunTunniste}} <br/>
		Hakuvuosi: {{hakumodel.hakuOid.hakuVuosi}} <br/>
		Haun tila: {{hakumodel.hakuOid.haunTila}} <br/>
	</span>

    <p>
        <a ng-click="kaynnistaSijoittelu()" class="button primary small">Suorita sijoittelu</a>
        <a ng-click="aktivoiHaunValintalaskenta()" class="button primary small">Suorita valintalaskenta haulle</a>
    </p>

</div>