
<h1>Valvomo</h1>

<div class="tabs hakukohdeNav" ng-controller="navigationController">

    <a href="#/valvomo/valintalaskenta" ng-class="{current: (valittu=='valintalaskenta')}" class="tab">
        <span>Valintalaskenta</span>
    </a>

    <a href="#/valvomo/valintakoelaskenta" ng-class="{current: (valittu=='valintakoelaskenta')}" class="tab">
        <span>Valintakoelaskenta</span>
    </a>

    <a href="#/valvomo/sijoittelu" ng-class="{current: (valittu=='sijoittelu')}" class="tab">
        <span>Sijoittelu</span>
    </a>

    <a href="#/valvomo/hakuimport" ng-class="{current: (valittu=='hakuimport')}" class="tab">
        <span>Hakuimport</span>
    </a>

    <a href="#/valvomo/valintalaskentamuistissa" ng-class="{current: (valittu=='valintalaskentamuistissa')}" class="tab">
        <span>valintalaskentamuistissa</span>
    </a>

</div>
<div class="tabsheets">

    <div ng-repeat="prosessi in valintalaskenta" ng-if="valittu == 'valintalaskenta'">
        Viesti: <span>{{prosessi.message}}</span><br/>
        Status: <span>{{prosessi.status}}</span><br/>
        Kesto: <span>{{prosessi.duration | duration}}</span><br/>
        <br/>
        Toiminto: <span>{{prosessi.prosessi.toiminto}}</span><br/>
        Käyttäjä: <span>{{prosessi.prosessi.createdBy}}</span><br/>
        Aika: <span>{{prosessi.prosessi.createdAt | date:'dd.MM.yyyy HH:mm'}}</span><br/>
        <br/>
        Hakukohteita: <span>{{prosessi.prosessi.kasitellytHakukohteet.length}} / {{prosessi.prosessi.hakukohteitaYhteensa}}</span><br/>
        <div ng-if="prosessi.prosessi.valinnanvaihe">Valinnan vaihe: <span>{{prosessi.prosessi.valinnanvaihe}}</span><br/></div>

        <div ng-repeat="virhe in prosessi.prosessi.exceptions">{{virhe}}<br /></div>

        <!--<svg ng-if="$index == 0 && prosessi.prosessi.hakukohteitaYhteensa > 0" style="border: 2px solid #8DADB9; background: #efffff"-->
             <!--ng-attr-height="{{y(prosessi.prosessi.hakukohteitaYhteensa)+(gap+size)}}"-->
             <!--ng-attr-width="{{width*(gap+size)}}">-->
            <!--<rect ng-repeat="r in range(prosessi.prosessi.hakukohteitaYhteensa) track by $index"-->
                  <!--ng-attr-y="{{1+y($index)}}" ng-attr-x="{{1+x($index)}}"-->
                  <!--ng-attr-width="{{blockSize($index)}}" ng-attr-height="{{blockSize($index)}}"-->
                  <!--ng-attr-fill="{{fill($index, prosessi.prosessi.kasitellytHakukohteet.length, prosessi.prosessi.exceptions.length)}}"-->
                  <!--stroke="#acc" stroke-width="1" stroke-linejoin="round"></rect>-->
        <!--</svg>-->
        <hr/>
    </div>

    <div ng-repeat="prosessi in valintalaskentamuistissa" ng-if="valittu == 'valintalaskentamuistissa'">
        Viesti: <span>{{prosessi.message}}</span><br/>
        Status: <span>{{prosessi.status}}</span><br/>
        Kesto: <span>{{prosessi.duration | duration}}</span><br/>
        Kesto aloituksesta: <span>{{prosessi.durationSinceStarted | duration}}</span><br/>
        <br/>
        Resurssi: <span>{{prosessi.prosessi.resurssi}}</span><br/>
        Toiminto: <span>{{prosessi.prosessi.toiminto}}</span><br/>
        Käyttäjä: <span>{{prosessi.prosessi.createdBy}}</span><br/>
        Aika: <span>{{prosessi.prosessi.createdAt | date:'dd.MM.yyyy HH:mm'}}</span><br/>
        <br/>

        <div ng-repeat="virhe in prosessi.prosessi.exceptions">{{virhe}}<br /></div>

        <br/>

        <pre>{{prosessi.prosessi.tarjonnastaHakukohteet | json}}</pre>
        <pre>{{prosessi.prosessi.hakukohteilleHakemukset | json}}</pre>
        <pre>{{prosessi.prosessi.hakemukset | json}}</pre>
        <pre>{{prosessi.prosessi.valintaperusteet | json}}</pre>
        <pre>{{prosessi.prosessi.valintalaskenta | json}}</pre>
        <pre>{{prosessi.prosessi.kokonaistyo | json}}</pre>

        <hr/>
    </div>

    <div ng-repeat="prosessi in valintakoelaskenta" ng-if="valittu == 'valintakoelaskenta'">
        Viesti: <span>{{prosessi.message}}</span><br/>
        Status: <span>{{prosessi.status}}</span><br/>
        Kesto: <span>{{prosessi .duration | duration}}</span><br/>
        <br/>
        Toiminto: <span>{{prosessi.prosessi.toiminto}}</span><br/>
        Käyttäjä: <span>{{prosessi.prosessi.createdBy}}</span><br/>
        Aika: <span>{{prosessi.prosessi.createdAt | date:'dd.MM.yyyy HH:mm'}}</span><br/>
        <br/>
        HakuOId: <span>{{prosessi.prosessi.hakuOid}}</span><br/>

        <div ng-repeat="virhe in prosessi.prosessi.exceptions">{{virhe}}<br /></div>
        <hr/>
    </div>

    <div ng-repeat="prosessi in sijoittelu" ng-if="valittu == 'sijoittelu'">
        <pre>{{prosessi | json}}</pre>
        Viesti: <span>{{prosessi.message}}</span><br/>
        Status: <span>{{prosessi.status}}</span><br/>
        Kesto: <span>{{prosessi .duration | duration}}</span><br/>
        <br/>
        Toiminto: <span>{{prosessi.prosessi.toiminto}}</span><br/>
        Käyttäjä: <span>{{prosessi.prosessi.createdBy}}</span><br/>
        Aika: <span>{{prosessi.prosessi.createdAt | date:'dd.MM.yyyy HH:mm'}}</span><br/>
        <br/>
        <hr/>
    </div>

    <div ng-repeat="prosessi in hakuimport" ng-if="valittu == 'hakuimport'">
        Viesti: <span>{{prosessi.message}}</span><br/>
        Status: <span>{{prosessi.status}}</span><br/>
        Kesto: <span>{{prosessi.duration | duration}}</span><br/>
        <br/>
        Toiminto: <span>{{prosessi.prosessi.toiminto}}</span><br/>
        Käyttäjä: <span>{{prosessi.prosessi.createdBy}}</span><br/>
        Aika: <span>{{prosessi.prosessi.createdAt | date:'dd.MM.yyyy HH:mm'}}</span><br/>
        <br/>
        Hakukohteita importoitu: <span>{{prosessi.prosessi.importoitu}} / {{prosessi.prosessi.hakukohteita}}</span><br/>
        Hakukohteita tuotu: <span>{{prosessi.prosessi.tuonti}} / {{prosessi.prosessi.hakukohteita}}</span><br/>

        <div ng-repeat="virhe in prosessi.prosessi.exceptions">{{virhe}}</div>

        <svg ng-if="$index == 0 && prosessi.prosessi.hakukohteita > 0" style="border: 2px solid #8DADB9; background: #efffff"
             ng-attr-height="{{y(prosessi.prosessi.hakukohteita)+(gap+size)}}"
             ng-attr-width="{{width*(gap+size)}}">
            <rect ng-repeat="r in range(prosessi.prosessi.hakukohteita) track by $index"
                  ng-attr-y="{{1+y($index)}}" ng-attr-x="{{1+x($index)}}"
                  ng-attr-width="{{blockSize($index)}}" ng-attr-height="{{blockSize($index)}}"
                  ng-attr-fill="{{fill($index, prosessi.prosessi.importoitu, prosessi.prosessi.exceptions.length)}}"
                  stroke="#acc" stroke-width="1" stroke-linejoin="round"></rect>
        </svg>

        <svg ng-if="$index == 0 && prosessi.prosessi.hakukohteita > 0" style="border: 2px solid #8DADB9; background: #efffff"
             ng-attr-height="{{y(prosessi.prosessi.hakukohteita)+(gap+size)}}"
             ng-attr-width="{{width*(gap+size)}}">
            <rect ng-repeat="r in range(prosessi.prosessi.hakukohteita) track by $index"
                  ng-attr-y="{{1+y($index)}}" ng-attr-x="{{1+x($index)}}"
                  ng-attr-width="{{blockSize($index)}}" ng-attr-height="{{blockSize($index)}}"
                  ng-attr-fill="{{fill($index, prosessi.prosessi.tuonti, prosessi.prosessi.exceptions.length)}}"
                  stroke="#acc" stroke-width="1" stroke-linejoin="round"></rect>
        </svg>
        <hr/>
    </div>

</div>