<h1>Valintojen toteuttaminen</h1>

<div ng-include="'haku/topNavigation.html'"/>

<div class="tabsheets">
<div class="col-md-12">
<h1>Haun hallinta</h1>
</div>
<div class="col-md-12">
    <dl>
        <dt>Haku</dt>
        <dd>{{hakumodel.hakuOid.nimi.kieli_fi}}</dd>
        <dt>Haun tunniste</dt>
        <dd>{{hakumodel.hakuOid.haunTunniste}}</dd>
        <dt>Hakuvuosi</dt>
        <dd>{{hakumodel.hakuOid.hakukausiVuosi}}</dd>
        <dt>Sijoittelu</dt>
        <dd>{{hakumodel.hakuOid.sijoittelu ? 'Kyllä' : 'Ei'}}</dd>
        <dt>Hakuajat</dt>
        <dd ng-repeat-start="hakuaika in hakumodel.hakuOid.hakuaikas">{{hakuaika.nimi}}</dd>
        <dd ng-repeat-end>{{hakuaika.alkuPvm | date:'dd.MM.yyyy HH:mm'}} - {{hakuaika.loppuPvm | date:'dd.MM.yyyy
            HH:mm'}}
        </dd>
    </dl>
</div>

<div class="col-md-12">
    <h2>Sijoittelu</h2>
    <dl>
        <dt>Ajettu</dt>
        <dd>{{sijoitteluModel.startMils | date:'dd.MM.yyyy HH:mm'}} - {{sijoitteluModel.endMils | date:'dd.MM.yyyy
            HH:mm'}}
        </dd>
    </dl>
</div>

<div class="col-md-12">
    <h2>Ajastettu sijoittelu</h2>
    <dl>
        <dt>Ajossa</dt>
        <dd>{{jatkuva.ajossa ? 'Kyllä' : 'Ei'}}</dd>
        <dt>Viimeksi ajettu</dt>
        <dd>{{jatkuva.viimeksiAjettu | date:'dd.MM.yyyy HH:mm'}}</dd>
        <dt ng-show="jatkuva.virhe">Ajastettun sijoittelun virhe</dt>
        <dd ng-show="jatkuva.virhe">{{jatkuva.virhe}}</dd>

    </dl>

</div>

<div class="col-md-12">
    <h2>Valintalaskenta</h2>
    <a ng-show="privileges.showValintalaskenta()" ng-click="aktivoiHaunValintakoelaskenta()"
       class="button primary small">Suorita
        valintakoelaskenta haulle</a>
    <a ng-show="privileges.showValintalaskenta()" ng-click="aktivoiHaunValintalaskenta()" class="button primary small">Suorita
        valintalaskenta haulle</a>
</div>
<div class="col-md-12">
    <h2>Sijoittelu</h2>
    <a ng-show="privileges.showValintalaskenta()" ng-click="kaynnistaSijoittelu()" class="button primary small">Suorita
        sijoittelu</a>
    <a ng-hide="jatkuva.ajossa && privileges.showValintalaskenta()" ng-click="kaynnistaJatkuvaSijoittelu()"
       class="button small">Käynnistä jatkuva sijoittelu</a>
    <a ng-hide="!jatkuva.ajossa && privileges.showValintalaskenta()" ng-click="pysaytaJatkuvaSijoittelu()"
       class="button small">Pysäytä jatkuva sijoittelu</a>
</div>
<div class="col-md-12">

    <h2>Jälkiohjaus</h2>
    <a ng-show="privileges.showValintalaskenta()" ng-click="aktivoiJalkiohjaustuloksetXls()"
       class="button primary small excel">Vie jälkiohjaustulokset exceliin</a>
    <a ng-show="privileges.showValintalaskenta()" ng-click="aktivoiJalkiohjaustuloksetPdf()"
       class="button primary small pdf">Vie jälkiohjauskirjeiksi</a>
    <a ng-show="privileges.showValintalaskenta()"
       href="#/haku/{{hakumodel.hakuOid.oid}}/yhteisvalinnanhallinta/valintatulos" class="button small">Valinnan
        tulokset</a>
</div>

<div class="col-md-12">

    <h2>Viestintäpalvelun tiedostot</h2>


    <table class="virkailija-table-1">
        <thead>
        <tr>
            <th>Tiedosto</th>
            <th>Luotu</th>
            <th>Koko</th>
        </tr>
        </thead>
        <tbody ng-repeat="tiedosto in viestintapalveluntiedostot | limitTo:jalkiohjausLimit">
        <tr>
            <td class="align-center"><span ng-show="tiedosto.contentType=='text/plain'">{{tiedosto.filename}}</span><a
                    ng-hide="tiedosto.contentType=='text/plain'" href="#"
                    ng-click="lataa(tiedosto);$event.preventDefault();">{{tiedosto.filename}}</a></td>
            <td class="align-center">{{tiedosto.createdAt}}</td>
            <td class="align-center">{{tiedosto.size}}</td>
        </tr>
        <tfoot>
        <tr ng-show="viestintapalveluntiedostot.length > jalkiohjausLimit">
            <td class="align-center" colspan="4">
                <a ng-click="showMoreJalkiohjaus()" class="button small" style="">Näytä lisää
                    +{{viestintapalveluntiedostot.length - jalkiohjausLimit}}</a>
            </td>
        </tr>
        <tr ng-hide="viestintapalveluntiedostot">
            <td class="align-center" colspan="4">Ei tiedostoja</td>
        </tr>
        </tfoot>
    </table>

</div>
<div class="col-md-12">
    <h2>Kela</h2>
    <a ng-show="privileges.showValintalaskenta()" ng-click="aktivoiKelaVienti();$event.preventDefault();"
       class="button primary small">Vie vastaanottaneet Kela-formaattiin</a>
</div>
<div class="col-md-12">
    <h3 class="form-row-label">Kela-tiedostot</h3>

    <table class="virkailija-table-1">
        <thead>
        <tr>
            <th>Otsikko</th>
            <th>Luotu</th>
            <th>Koko</th>
            <th>Toiminto</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tiedosto in kelatiedostot  | limitTo:kelaLimit">
            <td class="align-center"><a
                    href="{{DOKUMENTTIPALVELU_URL_BASE}}/dokumentit/lataa/{{tiedosto.documentId}}"
                    ng-hide="{{tiedosto.mimeType=='text/plain'}}">{{tiedosto.filename}}</a><span
                    ng-show="{{tiedosto.mimeType=='text/plain'}}">{{tiedosto.filename}}</span></td>
            <td class="align-center">{{tiedosto.createdAt}}</td>
            <td class="align-center"><span ng-hide="{{tiedosto.mimeType=='text/plain'}}">{{tiedosto.size}}</span>
            </td>
            <td class="align-center"><a ng-show="{{tiedosto.mimeType==''}}" class="button small"
                                        ng-click="ftpVienti(tiedosto);$event.preventDefault();">FTP vienti</a></td>
        </tr>

        </tbody>
        <tfoot>
        <tr ng-show="kelatiedostot.length > kelaLimit">
            <td class="align-center" colspan="4">
                <a ng-click="showMoreKela()" class="button small" style="">Näytä lisää +{{kelatiedostot.length -
                    kelaLimit}}</a>
            </td>
        </tr>
        <tr ng-hide="kelatiedostot">
            <td class="align-center" colspan="4">Ei tiedostoja</td>
        </tr>
        </tfoot>
    </table>
</div>
<!--

<div class="float-left margin-top-2">
TODO: Odottaa sijoittelun rajapintaa!
<a ng-show="privileges.valintalaskenta" ng-click="aktivoiKelaVienti()" class="button primary small">Vie Kelan formaattiin</a>
</div>
 -->

<div class="col-md-12">

    <a ng-show="privileges.showValintalaskenta()" ng-click="showErrors()" class="button small">Hae virheet</a>
</div>


<div class="col-md-12">
    <div ng-show="virheet.valintakoe.length > 0 || virheet.valintalaskenta.length > 0 || virheet.eiKoeVirheita || virheet.eiLaskentaVirheita">
        <div class="tabs">
            <a class="tab" ng-class="!valintalaskentavirheet ? 'current' : ''"
               ng-click="valintalaskentavirheet = false">
                <span>Valintakoevirheet</span>
            </a>
            <a class="tab" ng-class="valintalaskentavirheet ? 'current' : ''" ng-click="valintalaskentavirheet = true">
                <span>Valintalaskentavirheet</span>
            </a>
        </div>
        <div class="clear"></div>

        <div class="tabsheets hakuVirheet">
            <div ng-show="!valintalaskentavirheet">
                <h2 ng-show="virheet.eiKoeVirheita">Ei virheitä valintakokeissa</h2>

                <h2 ng-show="virheet.valintakoe.length > 0">Valintakoevirheet ({{virheet.valintakoe.length}})</h2>

                <input ng-show="virheet.valintakoe.length > 0" type="text" class="search margin-vertical-2"
                       placeholder="Suodata hakemuksia" ng-model="hakemusFilter"/>

                <div ng-repeat="virhe in (virheet.valintakoe | orderBy:'sukunimi' | filter:hakemusFilter | limitTo:naytaKokeita)"
                     class="valintakoe">

                    <div ng-click="show(virhe)">
                        <h2><a>{{virhe.sukunimi}}, {{virhe.etunimi}} ({{ virhe.createdAt | date:'dd.MM.yyyy
                            HH:mm:ss'}})</a>
                        </h2>
                        <dl class="dl-horizontal" ng-show="virhe.show">
                            <dt>Hakemus oid</dt>
                            <dd>{{virhe.hakemusOid}}</dd>

                            <dt>Hakija oid</dt>
                            <dd>{{virhe.hakijaOid}}</dd>
                        </dl>
                    </div>
                    <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakumodel.hakuOid.oid}}/esikatselu/{{virhe.hakemusOid}}"
                       target="_blank">Hakemuspalvelu</a>
                    <a href="" ng-click="henkilonakyma(virhe.hakemusOid)">Henkilönäkymä</a>

                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th>Hakukohde</th>
                            <th>Valinnanvaihe</th>
                            <th>Järjestysluku</th>
                            <th>Valintakoe</th>
                            <th>Tunniste</th>
                            <th>Osallistuminen</th>
                            <th>Kuvaus</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="hakutoive in virhe.hakutoiveet">
                            <td><a href=""
                                   ng-click="hakukohdenakyma(hakutoive.hakukohdeOid)">{{hakutoive.hakukohdeOid}}</a>
                            </td>
                            <td ng-repeat-start="valinnanVaihe in hakutoive.valinnanVaiheet">
                                {{valinnanVaihe.valinnanVaiheOid}}
                            </td>
                            <td>{{valinnanVaihe.valinnanVaiheJarjestysluku}}</td>
                            <td ng-repeat-start="valintakoe in valinnanVaihe.valintakokeet">{{valintakoe.valintakoeOid}}
                            </td>
                            <td>{{valintakoe.valintakoeTunniste}}</td>
                            <td>{{valintakoe.osallistuminenTulos.osallistuminen}}</td>
                            <td ng-repeat-end>{{valintakoe.osallistuminenTulos.kuvaus}}</td>
                            <td ng-hide="true" ng-repeat-end></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <a ng-show="virheet.valintakoe.length > 0 && virheet.valintakoe.length > naytaKokeita"
                   ng-click="naytaKokeita = naytaKokeita + 5" class="button small">Näytä lisää hakemuksia</a>
            </div>
            <div ng-show="valintalaskentavirheet">
                <h2 ng-show="virheet.eiLaskentaVirheita">Ei virheitä laskennassa</h2>

                <h2 ng-show="virheet.valintalaskenta.length > 0">Laskentavirheet
                    ({{virheet.valintalaskenta.length}})</h2>

                <div ng-repeat="virhe in virheet.valintalaskenta" ng-click="show(virhe)">
                    <h2><a>{{virhe.show ? '-' : '+'}} Hakukohde: {{ virhe.hakukohdeoid }} ({{ virhe.createdAt |
                        date:'dd.MM.yyyy HH:mm:ss'}})</a></h2>

                    <div ng-repeat="vaihe in virhe.valinnanvaihe" ng-show="virhe.show" class="valinnanvaihe">
                        <h3>Vaihe: {{vaihe.valinnanvaiheoid}} ({{vaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'}})</h3>

                        <h3>Järjestyskriteeri: {{vaihe.jarjestysnumero}}</h3>

                        <div ng-repeat="valintatapajono in vaihe.valintatapajono" class="valintatapajono">
                            <h3>{{valintatapajono.nimi}}: {{valintatapajono.valintatapajonooid}}
                                ({{valintatapajono.jonosijat.length}})</h3>

                            <div ng-repeat="jonosijat in valintatapajono.jonosijat" class="jonosija"
                                 ng-click="stopPropagination($event)">
                                <div ng-click="jonosijat.lisatiedot =! jonosijat.lisatiedot">
                                    <h3><a>{{jonosijat.sukunimi}}, {{jonosijat.etunimi}}</a></h3>
                                    <dl class="dl-horizontal" ng-show="jonosijat.lisatiedot">
                                        <dt>Hakemus oid</dt>
                                        <dd>{{jonosijat.hakemusOid}}</dd>

                                        <dt>Hakija oid</dt>
                                        <dd>{{jonosijat.hakijaOid}}</dd>

                                        <dt>Prioriteetti</dt>
                                        <dd>{{jonosijat.prioriteetti}}</dd>

                                        <dt>Harkinnanvarainen</dt>
                                        <dd>{{jonosijat.harkinnanvarainen ? 'Kyllä' : 'Ei'}}</dd>
                                    </dl>
                                </div>
                                <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakumodel.hakuOid.oid}}/esikatselu/{{jonosijat.hakemusOid}}"
                                   target="_blank">Hakemuspalvelu</a>
                                <a href="" ng-click="henkilonakyma(jonosijat.hakemusOid)">Henkilönäkymä</a>
                                <a href="" ng-click="hakukohdenakyma(virhe.hakukohdeoid)">Hakukohdenäkymä</a>

                                <table class="virkailija-table-1">
                                    <thead>
                                    <tr>
                                        <th>Prioriteetti</th>
                                        <th>Arvo</th>
                                        <th>Kuvaus</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, value) in jonosijat.jarjestyskriteerit">
                                        <td>{{key}}</td>
                                        <td>{{value.arvo}}</td>
                                        <td>{{value.kuvaus}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<div class="clear"></div>