<h1>Valintojen toteuttaminen</h1>

<div ng-include="'haku/topNavigation.html'"/>

<div class="tabsheets">

<script type="text/ng-template" id="valintalaskentaModaalinenIkkuna.html">
        
</script>

<div class="col-md-12">
<h1>Haun hallinta</h1>
</div>
<div class="col-md-12">
    <dl>
        <dt>Haku</dt>
        <dd>{{hakumodel.hakuOid.nimi.kieli_fi}}</dd>
        <dt>Haun tunniste</dt>
        <dd>{{hakumodel.hakuOid.haunTunniste}}</dd>
        <dt>Hakuvuosi</dt>
        <dd>{{hakumodel.hakuOid.hakukausiVuosi}}</dd>
        <dt>Sijoittelu</dt>
        <dd>{{hakumodel.hakuOid.sijoittelu ? 'Kyllä' : 'Ei'}}</dd>
        <dt>Hakuajat</dt>
        <dd ng-repeat-start="hakuaika in hakumodel.hakuOid.hakuaikas">{{hakuaika.nimi}}</dd>
        <dd ng-repeat-end>{{hakuaika.alkuPvm | date:'dd.MM.yyyy HH:mm'}} - {{hakuaika.loppuPvm | date:'dd.MM.yyyy
            HH:mm'}}
        </dd>
    </dl>
</div>

<div class="col-md-12">
    <h2>Sijoittelu</h2>
    <dl>
        <dt>Ajettu</dt>
        <dd>{{sijoitteluModel.startMils | date:'dd.MM.yyyy HH:mm'}} - {{sijoitteluModel.endMils | date:'dd.MM.yyyy
            HH:mm'}}
        </dd>
    </dl>
</div>

<div class="col-md-12">
    <h2>Ajastettu sijoittelu</h2>
    <dl>
        <dt>Ajossa</dt>
        <dd>{{jatkuva.ajossa ? 'Kyllä' : 'Ei'}}</dd>
        <dt>Viimeksi ajettu</dt>
        <dd>{{jatkuva.viimeksiAjettu | date:'dd.MM.yyyy HH:mm'}}</dd>
        <dt ng-show="jatkuva.virhe">Ajastettun sijoittelun virhe</dt>
        <dd ng-show="jatkuva.virhe">{{jatkuva.virhe}}</dd>

    </dl>

</div>

<div class="col-md-12">
    <h2>Valintalaskenta</h2>
    <a privileges="valintakoekutsut" ng-click="aktivoiHaunValintakoelaskenta()"
       class="btn btn-primary btn-sm">Suorita
        valintakoelaskenta haulle</a>
    <a privileges="valintalaskenta" ng-click="aktivoiMuistinvarainenValintalaskenta()" class="btn btn-primary btn-sm">Suorita
        valintalaskenta</a>
</div>
<div privileges="valintalaskenta" class="col-md-12">
    <h2>Sijoittelu</h2>
    <a ng-click="kaynnistaSijoittelu()" class="btn btn-primary btn-sm">Suorita
        sijoittelu</a>
    <a ng-hide="jatkuva.ajossa" ng-click="kaynnistaJatkuvaSijoittelu()"
       class="btn btn-primary btn-sm">Ota käyttöön ajastettu sijoittelu</a>
    <a ng-hide="!jatkuva.ajossa" ng-click="pysaytaJatkuvaSijoittelu()"
       class="btn btn-primary btn-sm">Poista käytöstä ajastettu sijoittelu</a>
</div>
<div class="col-md-12">

    <h2>Jälkiohjaus</h2>
    <a privileges="valintalaskenta" ng-click="aktivoiJalkiohjaustuloksetXls()"
       class="btn btn-default btn-sm"><i class="fa fa-table"></i>&nbsp;Vie jälkiohjaustulokset taulukkolaskentaan</a>
    <a privileges="valintalaskenta" ng-click="muodostaJalkiohjauskirjeet()"
       class="btn btn-default btn-sm"><i class="fa fa-file"></i>&nbsp;Muodosta jälkiohjauskirjeet</a>
    <a privileges="valintalaskenta"
       href="#/haku/{{hakumodel.hakuOid.oid}}/yhteisvalinnanhallinta/valintatulos" class="btn btn-default btn-sm">Valinnan
        tulokset</a>
</div>
<div class="col-md-6">
    <h2>Kela</h2>
    <input type="text" class="margin-vertical-2" placeholder="Aineistonnimi" ng-model="aineistonnimi"/>
    <a ng-if="!isNotBlank(aineistonnimi)" privileges="valintalaskenta"
    	popover="Kirjoita aineistolle nimi." popover-trigger="mouseenter"
       class="btn btn-default btn-sm disabled"><i class="fa fa-file"></i>&nbsp;Muodosta Kela-dokumentti</a>
    <a ng-if="isNotBlank(aineistonnimi)" privileges="valintalaskenta" ng-click="muodostaKelaDokumentti();$event.preventDefault();"
       class="btn btn-default btn-sm"><i class="fa fa-file"></i>&nbsp;Muodosta Kela-dokumentti</a>
    <h3>Kela-dokumentti muodostetaan valituista hauista</h3>
    <table class="table">
		<thead>
			<tr>
				<th class="col-sm-1"><input type="checkbox" ng-model="kaikkiHautValittu" ng-change="checkAll();"></th>
				<th>Haku</th>
				<th>Oid</th>
			</tr>
		</thead>
		<tbody>
			<tr class="info">
				<td><input disabled="disabled" type="checkbox" checked="checked"></td>
				<td>{{hakumodel.hakuOid.nimi.kieli_fi}}<span ng-hide="hakumodel.hakuOid.nimi.kieli_fi">{{haku.nimi.kieli_sv}}</span></td>
				<td>{{hakumodel.hakuOid.oid}}</td>
			</tr>
			<tr ng-hide="naytetaanHaut">
				<td colspan="3">
					<div class="row">
					    <a class="col-md-2 col-md-offset-5 btn btn-default btn-sm" ng-click="naytaHaut();$event.preventDefault();"><i class="fa fa-plus"></i>&nbsp;Näytä haut</a>
					</div>
				</td>
			</tr>
			<tr ng-show="naytetaanHaut" ng-repeat="haku in hakumodel.haut | filter:notThisHaku">
				<td><input type="checkbox" ng-model="haku.valittu" ng-change="check();"></td>
				<td>{{haku.nimi.kieli_fi}}<span ng-hide="haku.nimi.kieli_fi">{{haku.nimi.kieli_sv}}</span></td>
				<td>{{haku.oid}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="col-md-12">
	<h2>Ilmoitukset</h2>
    <a privileges="valintalaskenta" ng-click="showErrors()" class="btn btn-default btn-sm">Hae virheet</a>
</div>


<div class="col-md-12">
    <div ng-show="virheet.valintakoe.length > 0 || virheet.valintalaskenta.length > 0 || virheet.eiKoeVirheita || virheet.eiLaskentaVirheita">
        <div class="tabs">
            <a class="tab" ng-class="!valintalaskentavirheet ? 'current' : ''"
               ng-click="valintalaskentavirheet = false">
                <span>Valintakoevirheet</span>
            </a>
            <a class="tab" ng-class="valintalaskentavirheet ? 'current' : ''" ng-click="valintalaskentavirheet = true">
                <span>Valintalaskentavirheet</span>
            </a>
        </div>
        <div class="clear"></div>

        <div class="tabsheets hakuVirheet">
            <div ng-show="!valintalaskentavirheet">
                <h2 ng-show="virheet.eiKoeVirheita">Ei virheitä valintakokeissa</h2>

                <h2 ng-show="virheet.valintakoe.length > 0">Valintakoevirheet ({{virheet.valintakoe.length}})</h2>

                <input ng-show="virheet.valintakoe.length > 0" type="text" class="search margin-vertical-2"
                       placeholder="Suodata hakemuksia" ng-model="hakemusFilter"/>

                <div ng-repeat="virhe in (virheet.valintakoe | orderBy:'sukunimi' | filter:hakemusFilter | limitTo:naytaKokeita)"
                     class="valintakoe">

                    <div ng-click="show(virhe)">
                        <h2><a>{{virhe.sukunimi}}, {{virhe.etunimi}} ({{ virhe.createdAt | date:'dd.MM.yyyy
                            HH:mm:ss'}})</a>
                        </h2>
                        <dl class="dl-horizontal" ng-show="virhe.show">
                            <dt>Hakemus oid</dt>
                            <dd>{{virhe.hakemusOid}}</dd>

                            <dt>Hakija oid</dt>
                            <dd>{{virhe.hakijaOid}}</dd>
                        </dl>
                    </div>
                    <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakumodel.hakuOid.oid}}/esikatselu/{{virhe.hakemusOid}}"
                       target="_blank">Hakemuspalvelu</a>
                    <a href="" ng-click="henkilonakyma(virhe.hakemusOid)">Henkilönäkymä</a>

                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th>Hakukohde</th>
                            <th>Valinnanvaihe</th>
                            <th>Järjestysluku</th>
                            <th>Valintakoe</th>
                            <th>Tunniste</th>
                            <th>Osallistuminen</th>
                            <th>Kuvaus</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="hakutoive in virhe.hakutoiveet">
                            <td><a href=""
                                   ng-click="hakukohdenakyma(hakutoive.hakukohdeOid)">{{hakutoive.hakukohdeOid}}</a>
                            </td>
                            <td ng-repeat-start="valinnanVaihe in hakutoive.valinnanVaiheet">
                                {{valinnanVaihe.valinnanVaiheOid}}
                            </td>
                            <td>{{valinnanVaihe.valinnanVaiheJarjestysluku}}</td>
                            <td ng-repeat-start="valintakoe in valinnanVaihe.valintakokeet">{{valintakoe.valintakoeOid}}
                            </td>
                            <td>{{valintakoe.valintakoeTunniste}}</td>
                            <td>{{valintakoe.osallistuminenTulos.osallistuminen}}</td>
                            <td ng-repeat-end>{{valintakoe.osallistuminenTulos.kuvaus}}</td>
                            <td ng-hide="true" ng-repeat-end></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

                <a ng-show="virheet.valintakoe.length > 0 && virheet.valintakoe.length > naytaKokeita"
                   ng-click="naytaKokeita = naytaKokeita + 5" class="btn btn-default btn-sm">Näytä lisää hakemuksia</a>
            </div>
            <div ng-show="valintalaskentavirheet">
                <h2 ng-show="virheet.eiLaskentaVirheita">Ei virheitä laskennassa</h2>

                <h2 ng-show="virheet.valintalaskenta.length > 0">Laskentavirheet
                    ({{virheet.valintalaskenta.length}})</h2>

                <div ng-repeat="virhe in virheet.valintalaskenta" ng-click="show(virhe)">
                    <h2><a>{{virhe.show ? '-' : '+'}} Hakukohde: {{ virhe.hakukohdeoid }} ({{ virhe.createdAt |
                        date:'dd.MM.yyyy HH:mm:ss'}})</a></h2>

                    <div ng-repeat="vaihe in virhe.valinnanvaihe" ng-show="virhe.show" class="valinnanvaihe">
                        <h3>Vaihe: {{vaihe.valinnanvaiheoid}} ({{vaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'}})</h3>

                        <h3>Järjestyskriteeri: {{vaihe.jarjestysnumero}}</h3>

                        <div ng-repeat="valintatapajono in vaihe.valintatapajono" class="valintatapajono">
                            <h3>{{valintatapajono.nimi}}: {{valintatapajono.valintatapajonooid}}
                                ({{valintatapajono.jonosijat.length}})</h3>

                            <div ng-repeat="jonosijat in valintatapajono.jonosijat" class="jonosija"
                                 ng-click="stopPropagination($event)">
                                <div ng-click="jonosijat.lisatiedot =! jonosijat.lisatiedot">
                                    <h3><a>{{jonosijat.sukunimi}}, {{jonosijat.etunimi}}</a></h3>
                                    <dl class="dl-horizontal" ng-show="jonosijat.lisatiedot">
                                        <dt>Hakemus oid</dt>
                                        <dd>{{jonosijat.hakemusOid}}</dd>

                                        <dt>Hakija oid</dt>
                                        <dd>{{jonosijat.hakijaOid}}</dd>

                                        <dt>Prioriteetti</dt>
                                        <dd>{{jonosijat.prioriteetti}}</dd>

                                        <dt>Harkinnanvarainen</dt>
                                        <dd>{{jonosijat.harkinnanvarainen ? 'Kyllä' : 'Ei'}}</dd>
                                    </dl>
                                </div>
                                <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakumodel.hakuOid.oid}}/esikatselu/{{jonosijat.hakemusOid}}"
                                   target="_blank">Hakemuspalvelu</a>
                                <a href="" ng-click="henkilonakyma(jonosijat.hakemusOid)">Henkilönäkymä</a>
                                <a href="" ng-click="hakukohdenakyma(virhe.hakukohdeoid)">Hakukohdenäkymä</a>

                                <table class="virkailija-table-1">
                                    <thead>
                                    <tr>
                                        <th>Prioriteetti</th>
                                        <th>Arvo</th>
                                        <th>Kuvaus</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="(key, value) in jonosijat.jarjestyskriteerit">
                                        <td>{{key}}</td>
                                        <td>{{value.arvo}}</td>
                                        <td>{{value.kuvaus.FI}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>