<h1>{{ t('hakukohteethakukohdeperustiedot.header') || 'Valintojen toteuttaminen' }}</h1>
<div ng-include="'../common/js/topnavigation/topNavigation.html'"></div>
<div class="clear"></div>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>

        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"></div>
        <div class="tabsheets">


            <div class="col-md-12">
                <div class="pull-right">
                    <a auth="crudOph" auth-kk-user="true" href="/valintaperusteet-ui/app/index.html#/hakukohde/{{hakukohdeOid}}" target="_blank">Valintaperusteet <i class="fa fa-external-link"></i></a>&nbsp;
                    <a href="/tarjonta-app/index.html#/hakukohde/{{hakukohdeOid}}" target="_blank">Tarjonta <i class="fa fa-external-link"></i></a>
                </div>
                <div><b>{{ t('hakukohteethakukohdeperustiedot.hakukohdeoid') || 'HakukohdeOid' }}:</b> {{model.hakukohde.oid}}</div>

                <div><b>{{ t('hakukohteethakukohdeperustiedot.valintaryhma') || 'Valintaryhmä' }}:</b>
                    <a auth="crudOph" auth-kk-user="true" href="/valintaperusteet-ui/app/index.html#/valintaryhma/{{model.valintaryhma.oid}}" target="_blank">{{model.valintaryhma.nimi}} <i class="fa fa-external-link"></i></a>&nbsp;
                </div>

                <h3>{{ t('hakukohteethakukohdeperustiedot.valintatapajonokohtaiset') || 'Valintatapajonokohtaiset tiedot' }}</h3>
                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th>{{ t('hakukohteethakukohdeperustiedot.valintatapajono') || 'Valintatapajono' }}</th>
                        <th ng-if="isKorkeakoulu()">{{ t('hakukohteethakukohdeperustiedot.aloituspaikat') || 'Valintaperusteissa määritetyt aloituspaikat' }}</th>
                        <th>{{ t('hakukohteethakukohdeperustiedot.sijoittelunAloituspaikat') || 'Sijoittelun käyttämät aloituspaikat' }}</th>
                        <th>{{ t('hakukohteethakukohdeperustiedot.hyvaksytyt') || 'Hyväksytyt yhteensä' }}</th>
                        <th ng-if="!isKorkeakoulu()">{{ t('hakukohteethakukohdeperustiedot.harkinnanvaraisesti') || 'Harkinnanvaraisesti hyväksytyt yhteensä' }}</th>
                        <th ng-if="isKorkeakoulu()">{{ t('hakukohteethakukohdeperustiedot.ehdollisesti') || 'Ehdollisesti vastaanottanut' }}</th>
                        <th>{{ t('hakukohteethakukohdeperustiedot.varasijoilla') || 'Varasijoilla yhteensä' }}</th>
                        <th>{{ t('hakukohteethakukohdeperustiedot.vastaanottaneet') || 'Paikan vastaanottaneet yhteensä' }}</th>
                        <th>{{ t('hakukohteethakukohdeperustiedot.hyvaksytty') || 'Alin hyväksytty pistemäärä' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="erittely in sijoitteluntulosModel.hakemusErittelyt | orderBy:'prioriteetti'">
                        <td>{{erittely.nimi}}</td>
                        <td ng-if="isKorkeakoulu()">{{erittely.alkuperaisetAloituspaikat}}</td>
                        <td>{{erittely.aloituspaikat}}</td>
                        <td>{{erittely.hyvaksytyt.length}}</td>
                        <td ng-if="!isKorkeakoulu()">{{erittely.hyvaksyttyHarkinnanvaraisesti.length}}</td>
                        <td ng-if="isKorkeakoulu()">{{erittely.ehdollisesti.length}}</td>
                        <td>{{erittely.varasijoilla.length}}</td>
                        <td>{{erittely.paikanVastaanottaneet.length}}</td>
                        <td><span ng-if="erittely.hyvaksytyt[erittely.hyvaksytyt.length-1].pisteet >= 0">{{erittely.hyvaksytyt[erittely.hyvaksytyt.length-1].pisteet}}</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>


</div>
