<div ng-if="hakija.osallistuu[avain.tunniste] && hakija.osallistuu[avain.tunniste].osallistumistieto !== 'EI_KUTSUTTU'" ng-switch on="avain.lahde">
    <div ng-switch-when="SYOTETTAVA_ARVO">
        <div ng-switch on="avain.tyyppi()">
            <div ng-switch-when="input" ng-if="hakija.osallistuu[avain.tunniste].osallistumistieto !== 'TOISESSA_HAKUTOIVEESSA' && hakija.osallistuu[avain.tunniste].osallistumistieto !== 'TOISELLA_HAKEMUKSELLA'">
                <input ng-show="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                       min="{{avain.min}}"
                       max="{{avain.max}}"
                       ng-model="hakija.additionalData[avain.tunniste]"
                       osallistuminen="hakija.additionalData[avain.osallistuminenTunniste]"
                       arvovalidaattori
                       ng-change="changeOsallistuminen(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.vaatiiOsallistumisen)"
                       ng-disabled="inputdisabled"/>
                <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                        ng-if="avain.osallistuminenTunniste"
                        ng-change="changeArvo(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                        ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
                        ng-disabled="inputdisabled">
                    <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
                    <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
                    <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut'}}</option>
                    <option ng-if="avain.vaatiiOsallistumisen  == false" value="EI_VAADITA">{{t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}</option>
                </select>
                <br/>
                <span style="color: red;"></span>
            </div>

            <div ng-switch-when="combo" ng-if="hakija.osallistuu[avain.tunniste].osallistumistieto !== 'TOISESSA_HAKUTOIVEESSA' && hakija.osallistuu[avain.tunniste].osallistumistieto !== 'TOISELLA_HAKEMUKSELLA'">
                <select ng-model="hakija.additionalData[avain.tunniste]"
                        osallistuminen="hakija.additionalData[avain.osallistuminenTunniste]"
                        ng-change="changeOsallistuminen(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.tunniste, avain.vaatiiOsallistumisen)"
                        ng-options="a as a for a in avain.arvot"
                        ng-disabled="inputdisabled">
                    <option value=""></option>
                </select>
                <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                        ng-if="avain.osallistuminenTunniste"
                        ng-change="changeArvo(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                        ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
                        ng-disabled="inputdisabled">
                    <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
                    <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
                    <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut'}}</option>
                    <option ng-if="avain.vaatiiOsallistumisen == false" value="EI_VAADITA">{{t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}</option>
                </select>
                <br/>
                <span style="color: red;"></span>
            </div>

            <div ng-switch-when="boolean" class="input-group">
                <div ng-switch on="hakija.osallistuu[avain.tunniste].osallistumistieto">
                    <div ng-switch-when="TOISESSA_HAKUTOIVEESSA">
                        <span ng-if="hakija.additionalData[avain.tunniste] === 'true'">
                            {{ t('hakukohteetpistesyotto.hyvaksytty_toisessa_hakutoiveessa') || 'Hyväksytty toisessa hakutoiveessa' }}
                        </span>
                        <span ng-if="hakija.additionalData[avain.tunniste] === 'false'">
                            {{ t('hakukohteetpistesyotto.hylatty_toisessa_hakutoiveessa') || 'Hylätty toisessa hakutoiveessa' }}
                        </span>
                        <span ng-if="!hakija.additionalData[avain.tunniste] && hakija.additionalData[avain.osallistuminenTunniste] === 'EI_OSALLISTUNUT'">
                            {{ t('hakukohteetpistesyotto.ei_osallistunut_toisessa_hakutoiveessa') || 'Ei osallistunut toisessa hakutoiveessa' }}
                        </span>
                        <span ng-if="!hakija.additionalData[avain.tunniste] && hakija.additionalData[avain.osallistuminenTunniste] === 'MERKITSEMATTA'">
                            {{ t('hakukohteetpistesyotto.merkitsematta_toisessa_hakutoiveessa') || 'Merkitsemättä toisessa hakutoiveessa' }}
                        </span>
                    </div>
                    <div ng-switch-when="TOISELLA_HAKEMUKSELLA">
                        <span>{{ t('hakukohteetpistesyotto.hyvaksytty_toisella_hakemuksella') || 'Hyväksytty toisella hakemuksella' }}</span>
                    </div>
                    <div ng-switch-default>
                        <div class="inline-block" ng-if="(avain.tunniste.indexOf('kielikoe') == -1)">
                            <select ng-if="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                    ng-model="hakija.additionalData[avain.tunniste]"
                                    ng-change="changeOsallistuminen(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.vaatiiOsallistumisen)"
                                    ng-disabled="inputdisabled">
                                <option value="">{{ t('hakukohteetpistesyotto.tyhja') || 'Tyhjä' }}</option>
                                <option value="true">{{ t('hakukohteetpistesyotto.kylla') || 'Kyllä' }}</option>
                                <option value="false">{{ t('hakukohteetpistesyotto.ei') || 'Ei' }}</option>
                            </select>
                        </div>
                        <div class="inline-block" ng-if="(avain.tunniste.indexOf('kielikoe') > -1)">
                            <select ng-if="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                    ng-model="hakija.additionalData[avain.tunniste]"
                                    ng-change="changeOsallistuminen(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.vaatiiOsallistumisen)"
                                    ng-disabled="inputdisabled">
                                <option value="">{{ t('hakukohteetpistesyotto.tyhja') || 'Tyhjä' }}</option>
                                <option value="true">{{ t('hakukohteetpistesyotto.hyvaksytty') || 'Hyväksytty' }}</option>
                                <option value="false">{{ t('hakukohteetpistesyotto.hylatty') || 'Hylätty' }}</option>
                            </select>
                        </div>
                        <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                                ng-if="avain.osallistuminenTunniste"
                                ng-change="changeArvo(hakutoiveet, hakija, avain.tunniste, avain.osallistuminenTunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                                ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
                                ng-disabled="inputdisabled">
                            <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
                            <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
                            <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut'}}</option>
                            <option ng-if="avain.vaatiiOsallistumisen == false"
                                    value="EI_VAADITA">{{t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}
                            </option>
                        </select>
                        <span style="color: red;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-default>{{ t('hakukohteetpistesyotto.syotettymuualla') || 'Syötetty muualla' }}:{{hakija.additionalData[avain.tunniste]}}</div>
    </div>
    <div ng-switch-default>{{hakija.additionalData[avain.tunniste]}}</div>
</div>
