<span ng-if="hakemus.tila != 'PERUUNTUNUT'">
    <span ng-if="isHarkinnanvaraisestiHyvaksytty">{{ t(tilaText) || tilaText }} ({{ t('sijoitteluntulos.harkinnanvaraisesti') || 'Harkinnanvaraisesti' }})</span>
    <span ng-if="!isHarkinnanvaraisestiHyvaksytty">{{ t(tilaText) || tilaText }}</span>
</span>
<span ng-if="hakemus.tila == 'PERUUNTUNUT'">
    <span ng-if="userLang=='fi' && hakemus.tilanKuvaukset.FI">{{hakemus.tilanKuvaukset.FI}}</span>
    <span ng-if="userLang=='sv' && hakemus.tilanKuvaukset.SV">{{hakemus.tilanKuvaukset.SV}}</span>
    <span ng-if="userLang=='en' && hakemus.tilanKuvaukset.EN">{{hakemus.tilanKuvaukset.EN}}</span>
</span>
<span ng-if="hakemus.varasijanNumero != undefined">({{hakemus.varasijanNumero}})</span>
<div ng-if="showHyvaksyPeruuntunut">
    {{ t('sijoitteluntulos.hyvaksyperuuntunut') || 'Hyväksy peruuntunut' }}: <input id="hyvaksyPeruuntunut-{{id}}"
           ng-disabled="!canHyvaksyPeruuntunut || hakemus.julkaistavissa"
           ng-model="hakemus.hyvaksyPeruuntunut"
           type="checkbox"
           ng-change="onEdit({hakemus: hakemus})"></input>
</div>
