<h1>{{ t('henkilotiedot.header') || 'Valinnat' }}</h1>


<div ng-include="'../common/js/topnavigation/topNavigation.html'"></div>


<div class="clear"></div>

<div class="tabsheets">

    <div ng-include="'haku/henkilot/henkilolista.html'" autoscroll></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>
			
            <h1>{{model.henkilo.sukunimi}}, {{model.henkilo.etunimet}}</h1>
			
			<a ng-show="showMuodostaJalkiohjauskirje" ng-click="muodostaJalkiohjauskirje()"
       			class="btn btn-primary btn-sm"><i class="fa fa-file"></i>
                <span ng-if="!korkeakoulu.isKorkeakoulu(hakuModel.hakuOid.kohdejoukkoUri)">{{ t('henkilotiedot.jalkiohjauskirje') || 'Muodosta jälkiohjauskirje' }}</span>
                <span ng-if="korkeakoulu.isKorkeakoulu(hakuModel.hakuOid.kohdejoukkoUri)">{{ t('henkilotiedot.eihyvaksytynkirje') || 'Muodosta ei-hyväksytyn kirje'}}</span>
            </a>
            <button ng-click="valintalaskentaKerrallaHakukohteille()" ng-if="updateOph"
                    class="btn btn-primary btn-sm">{{ t('yhteisvalinnanhallinta.suoritavalintalaskenta') || 'Suorita valintalaskenta' }}
            </button>
            <dl class="margin-top-6">

                <dt ng-show="model.henkilo.henkilotunnus">{{ t('henkilotiedot.henkilotunnus') || 'Henkilötunnus' }}</dt>
                <dd ng-show="model.henkilo.henkilotunnus">{{model.henkilo.henkilotunnus}}</dd>
                <dt>{{ t('henkilotiedot.hakemuksenoid') || 'hakemuksen oid' }}:</dt>
                <dd>
                    <a href="{{url('haku-app.virkailija.hakemus.esikatselu', model.hakuOid, model.hakemus.oid)}}"
                       target="_blank">
                        {{model.hakemus.oid}}
                    </a>
                </dd>
                <dt ng-show="model.hakemus.answers.henkilotiedot">{{ t('henkilotiedot.lahiosoite') || 'Lähiosoite' }}</dt>
                <dd ng-show="model.hakemus.answers.henkilotiedot">{{model.hakemus.answers.henkilotiedot.lahiosoite}},
                    {{model.hakemus.answers.henkilotiedot.Postinumero}}
                    {{model.hakemus.answers.henkilotiedot.postitoimipaikka}}
                </dd>
            </dl>
            <div class="clear"></div>
            <div ng-include="'haku/henkilot/taulukot/valintalaskenta.html'" ></div>
            <div ng-include="'haku/henkilot/taulukot/harkinnanvaraiset.html'"></div>
            <div ng-include="'haku/henkilot/taulukot/pistesyotto.html'"></div>


        </div>
    </div>
    <div class="clear"></div>
</div>

