

<div class="toolbarcontainer" ng-class="henkiloittainVisible ? 'grid16-5' : 'grid16-1'" ng-controller="HenkiloController">

	<div id="toolbarcontent" class="width-90" ng-show="henkiloittainVisible">
		<div class="toolbar-decoration">
			<div class="field-search-containerbox">
			    <input type="text" class="search" placeholder="Suodata nimen perusteella" ng-model="model.searchWord"/>
                <p class="margin-vertical-2">Henkilöitä haettu {{model.getCount()}} / {{model.getTotalCount()}}</p>
			</div>
			<ul class="selectlist" lazy-loading>
			    <li ng-class="hakemusOid === hakemus.oid ? 'selected' : ''" ng-repeat="hakemus in model.hakemukset">
			        <a ng-click="showHakemus(hakemus)" id="id_{{hakemus.oid}}">
			            <span class="icon file"></span>
			            <span class="label">
			                {{model.getName(hakemus)}}
			            </span>
			        </a>
			    </li>
			</ul>
		</div>
	</div>
	
	<div id="toolbartoggle-btn" class="width-10" ng-click="toggleHenkiloittainVisible()">
		<div>
			<div>
				<span ng-class="henkiloittainVisible ? '' : 'minimized'">Henkilölista</span>
			</div>
		</div>
	</div>

</div>

