<div class="modal-backdrop" ng-show="hakemus.showMuutahakemus" ng-click="showMuutaHakemus(tulos)"></div>
<div class="tilaParial" ng-show="hakemus.showMuutaHakemus">
    <br>
    <dl class="dl-horizontal">
        <dt>Oppijanumero</dt>
        <dd>{{hakemus.hakijaOid}}</dd>

        <dt>Hakemuksen tunniste</dt>
        <dd>{{hakemus.hakemusOid}}</dd>

        <dt>Vastaanottotieto</dt>
        <dd>
            <select ng-model="hakemus.muokattuTila">
                <option value="">Kesken</option>
                <option value="ILMOITETTU">Hakijalle ilmoitettu</option>
                <option value="VASTAANOTTANUT_LASNA">Vastaanottanut läsnäolevana</option>
                <option value="VASTAANOTTANUT_POISSAOLEVA">Vastaanottanut poissaolevana</option>
                <option value="EI_VASTAANOTETTU_MAARA_AIKANA">Ei vastaanotettu määräaikana</option>
                <option value="PERUNUT">Perunut</option>
            </select>
        </dd>

        <dt>Muokkaajan kommentti</dt><dd><textarea ng-model="hakemus.selite" /></dd>
    </dl>
    <br/>
    <dl class="dl-horizontal">
        <dt></dt>
        <dd>
        <a ng-click="showMuutaHakemus(hakemus)" class="button small">Peruuta</a>
        <a ng-click="updateHakemuksenTila(hakemus, jono.oid)" class="button small primary">Tallenna</a>
        </dd>
    </dl>
    <!--
    <div>
        {{hakemus}}
    </div>
   -->
</div>