<div class="toolbarcontainer" ng-class="hakukohteetVisible ? 'grid16-5' : 'grid16-1'" ng-controller="HakukohteetController">
	
	<div id="toolbarcontent" class="width-90" ng-show="hakukohteetVisible">
		<div class="toolbar-decoration">
			<div class="field-search-containerbox">
			    <input type="text" class="search" placeholder="Suodata hakukohteita" ng-model="model.searchWord" ng-change="model.refresh()"/>
                <p class="margin-vertical-2">Hakukohteita haettu {{model.getCount()}} / {{model.getTotalCount()}}</p>
			</div>

			<ul  class="selectlist" lazy-loading>
			    <li ng-class="hakukohdeOid === hakukohde.hakukohdeOid ? 'selected' : ''" ng-repeat="hakukohde in model.hakukohteet">
			        <a ng-click="showHakukohde(hakukohde)">
			        	<!--
			        		href="#/haku/{{hakuOid}}/hakukohde/{{hakukohde.hakukohdeOid}}/{{subpage}}"
			        	-->
			            <span class="icon file"></span>
			            <span class="label">
			                {{hakukohde.tarjoajaNimi.kieli_fi}}
			            </span>
			            <br>
		                <span class="label">
			                {{hakukohde.hakukohdeNimi.kieli_fi}}
			            </span>
			        </a>
			    </li>
			</ul>

		</div>
	</div>
	
	<div id="toolbartoggle-btn" class="width-10" ng-click="toggleHakukohteetVisible()">
		<div>
			<div>
				<span ng-class="hakukohteetVisible ? '' : 'minimized'">Hakukohdelista</span>
			</div>
		</div>
	</div>
</div>
