<h1>Valinnat</h1>


<div ng-include="'partials/topNavigation.html'"></div>


<div class="clear"></div>

<div class="tabsheets">

    <div ng-include="'partials/henkilolista.html'"></div>
    
    <div class="toggle-content-container overflow-x-scroll">

        <div class="tabsheets">

            <h1 ng-show="model.hakemus.answers.henkilotiedot">Hakija: {{model.hakemus.answers.henkilotiedot.Sukunimi}}, {{model.hakemus.answers.henkilotiedot.Etunimet}}</h1>

             <div ng-show="model.errors.length > 0" class="notification warning">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>
            
            <dl class="margin-top-6">
                <dt class="margin-bottom-2"><h2>Hakijan tiedot</h2></dt>
                
                <dt ng-show="model.hakemus.answers.henkilotiedot.Henkilotunnus">Henkilötunnus</dt>
                <dd>{{model.hakemus.answers.henkilotiedot.Henkilotunnus}}</dd>
                
                <dt ng-show="model.hakemus.personOid">Henkilön oid</dt>
                <dd>{{model.hakemus.personOid}}</dd>
                
                <dt ng-show="model.hakemus.answers.henkilotiedot">Lähiosoite</dt>
                <dd ng-show="model.hakemus.answers.henkilotiedot">{{model.hakemus.answers.henkilotiedot.lahiosoite}}, {{model.hakemus.answers.henkilotiedot.Postinumero}} {{model.hakemus.answers.henkilotiedot.postitoimipaikka}}</dd>
                
                <dt class="margin-bottom-2"><h2>Hakukohdetiedot</h2></dt>
                
                <div ng-repeat="hakukohde in model.valintalaskentaHakemus.hakukohteet">
                    <dt>Hakukohde</dt>
                    <dd>{{model.selectedHakukohde.tarjoajaNimi.kieli_fi}}</dd>
                    
                    <dt>Valinnanvaihe</dt>
                    <dd>{{model.selectedValinnanvaihe.nimi}}</dd>
                    
                    <dt>Valintatapajono</dt>
                    <dd>{{model.valintalaskentaHakemus.hakukohteet[0].valinnanvaihe[0].valintatapajono[0].nimi}}</dd>
                    
                    <dt>Aloituspaikat</dt>
                    <dd>{{model.valintalaskentaHakemus.hakukohteet[0].valinnanvaihe[0].valintatapajono[0].aloituspaikat}}</dd>
                    
                    <div ng-repeat="jarjestyskriteeri in model.valintalaskentaHakemus.hakukohteet[0].valinnanvaihe[0].valintatapajono[0].jonosijat[0].jarjestyskriteerit">
                        <dt>Järjestyskriteeri {{$index + 1}}.</dt>
                        <dd>Arvo: {{jarjestyskriteeri.arvo}}, Tila: {{jarjestyskriteeri.tila}}</dd> 
                    </div>
                    
                </div>
                
            </dl>
            
        </div>
    </div>
    <div class="clear"></div>
</div>

