<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'" />

        <div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <h2>Harkinnanvaraiset hakijat</h2>
                <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita" ng-model="hakijaFilter" />
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>Nimi</th>
                                <th>Pohjakoulutus</th>
                                <th>Harkinnanvarainen tila</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hakija in model.hakeneet | filter: {hakenutHarkinnanvaraisesti:true} | filter:hakijaFilter">
                                <td>
                                    <show-person-information sukunimi="{{hakija.lastName}}"
                                                             etunimi="{{hakija.firstNames}}"
                                                             hakemus-oid="{{hakija.oid}}"
                                                             haku-oid="{{hakuOid}}"
                                                             henkilo-oid="" />
                                </td>
                                <td>
                                    {{pohjakoulutukset[hakija.hakemus.answers.koulutustausta.POHJAKOULUTUS]}}
                                </td>
                                <td>

                                    <select ng-model="hakija.muokattuHarkinnanvaraisuusTila">
                                        <option value="KESKEN">Kesken</option>
                                        <option value="HYVAKSYTTY">Hyväksytty</option>
                                        <option value="EI_HYVAKSYTTY">Ei Hyväksytty</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <a ng-click="submit()" class="button small primary margin-top-2" >Tallenna</a>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
