<br/>
<div class="henkilotiedot" ng-if="model.hakenutHarkinnanvaraisesti">
    <h2>Harkinnanvaraiset</h2>

    <div >
        <table class="virkailija-table-1">
            <thead>
                <tr>
                    <th>Hakutoive</th>
                    <th>Pohjakoulutus</th>
                    <th>Harkinnanvarainen tila</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hakutoive in model.hakutoiveet | orderBy:'hakutoiveNumero'">
                    <td>
                        {{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -
                        <a href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                            {{hakutoive.oppilaitos}}
                        </a>
                    </td>
                    <td>
                        {{pohjakoulutukset[model.hakemus.answers.koulutustausta.POHJAKOULUTUS]}}
                    </td>
                    <td>
                        {{hakutoive.harkinnanvaraisuusTila}}
                    </td>
                    <td>
                        <harkinnanvarainen-tila hakemus="hakutoive"
                                                haku-oid="model.hakuOid"
                                                hakukohde-oid="hakutoive.hakukohdeOid"
                                                enabled="updateOph"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>