<br/>
<div class="henkilotiedot" ng-if="model.hakenutHarkinnanvaraisesti">
    <h2>{{ t('harkinnanvaraiset.header') || 'Harkinnanvaraiset' }}</h2>

    <div>
        <table class="virkailija-table-1">
            <thead>
                <tr>
                    <th>{{ t('harkinnanvaraiset.hakutoive') || 'Hakutoive' }}</th>
                    <th>{{ t('harkinnanvaraiset.pohjakoulutus') || 'Pohjakoulutus' }}</th>
                    <th>{{ t('harkinnanvaraiset.tila') || 'Harkinnanvarainen tila' }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hakutoive in model.hakutoiveet | filter:{hakenutHarkinnanvaraisesti:true} | orderBy:'hakutoiveNumero'">
                    <td>
                        {{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -
                        <a href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                            {{hakutoive.oppilaitos}}
                        </a>
                    </td>
                    <td>
                        {{pohjakoulutustoinenaste[model.hakemus.pohjakoulutustoinenasteKoodiarvo]}}
                    </td>
                    <td>
                        {{hakutoive.harkinnanvaraisuusTila}}
                    </td>
                    <td>
                        <harkinnanvarainen-tila hakemus="hakutoive"
                                                haku-oid="model.hakuOid"
                                                hakukohde-oid="hakutoive.hakukohdeOid"
                                                enabled="updateOph"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
