<div ng-if="model.naytaPistesyotto" class="henkilotiedot henkilotiedot-pistesyotto">
    <h2>{{ t('pistesyotto.header') || 'Pistesyöttö' }}</h2>

    <form name="form" ng-submit="tallennaPisteet()">
        <div ng-repeat="hakutoive in model.hakutoiveet | orderBy:'hakutoiveNumero'">
            <div ng-if="hakutoive.naytaPistesyotto">
                <h3>
                    {{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -
                    <a href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                        {{hakutoive.oppilaitos}}
                    </a>
                </h3>
                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th ng-repeat="avain in hakutoive.avaimet | filter:{'lahde': arvoFilter} | orderBy:'kuvaus'">
                            {{avain.kuvaus}}
                            <span ng-if="avain.min !== undefined && avain.min !== null|| avain.max !== null && avain.max !== undefined">
                                ({{avain.min}} - {{avain.max}})
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-repeat="avain in hakutoive.avaimet | filter:{'lahde': arvoFilter} | orderBy:'kuvaus'">
                          <pisteiden-syottaminen hakutoiveet="model.hakutoiveet"
                                                 hakija="hakutoive"
                                                 avain="avain"
                                                 laskentaonly="false"
                                                 inputdisabled="false"/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div>
            <button ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0"
                    class="btn btn-primary btn-sm margin-top-2" type="submit">{{ t('pistesyotto.tallenna') || 'Tallenna' }}
            </button>
            <div class="alert alert-danger" ng-show="form.$error.arvovalidaattori.length > 0">{{ t('pistesyotto.tarkista') || 'Tarkista virheet!' }}
            </div>
        </div>

    </form>
</div>
<div class="clear"></div>
