<div ng-if="model.naytaPistesyotto" class="henkilotiedot">
    <h2>Pistesyöttö</h2>

    <form name="form" ng-submit="tallennaPisteet()">
        <div ng-repeat="hakutoive in model.hakutoiveet | orderBy:'hakutoiveNumero'">
            <div ng-if="hakutoive.naytaPistesyotto">
                <h3>
                    {{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -
                    <a href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                        {{hakutoive.oppilaitos}}
                    </a>
                </h3>
                <table class="virkailija-table-1">
                    <thead>
                    <tr>
                        <th ng-repeat="avain in hakutoive.avaimet | filter:{'lahde': arvoFilter} | orderBy:'kuvaus'">
                            {{avain.kuvaus}}
                            <span ng-if="avain.min !== undefined && avain.min !== null|| avain.max !== null && avain.max !== undefined">
                                ({{avain.min}} - {{avain.max}})
                            </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-repeat="avain in hakutoive.avaimet | filter:{'lahde': arvoFilter} | orderBy:'kuvaus'">

                            <div ng-show="hakutoive.osallistuu[avain.tunniste] == 'OSALLISTUU'" ng-switch
                                 on="avain.lahde">
                                <div ng-switch-when="SYOTETTAVA_ARVO">
                                    <div ng-switch on="avain.tyyppi()">
                                        <div ng-switch-when="input">
                                            <!-- input -->
                                            <input ng-show="hakutoive.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                                   min="{{avain.min}}"
                                                   max="{{avain.max}}"
                                                   size="2"
                                                   ng-model="hakutoive.additionalData[avain.tunniste]"
                                                   osallistuminen="hakutoive.additionalData[avain.osallistuminenTunniste]"
                                                   arvovalidaattori
                                                   ng-change="changeOsallistuminen(hakutoive, avain.osallistuminenTunniste, hakutoive.additionalData[avain.tunniste], avain.tunniste)"/>


                                            <select ng-model="hakutoive.additionalData[avain.osallistuminenTunniste]"
                                                    ng-show="avain.osallistuminenTunniste"
                                                    ng-change="changeArvo(hakutoive, avain.tunniste, hakutoive.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                                                    >
                                                <option value="MERKITSEMATTA">Merkitsemättä</option>
                                                <option value="OSALLISTUI">Osallistui</option>
                                                <option value="EI_OSALLISTUNUT">Ei osallistunut</option>
                                            </select>
                                            <br/>
                                            <span style="color: red;"></span>
                                        </div>

                                        <div ng-switch-when="boolean">
                                            <!-- input -->
                                            <select ng-show="hakutoive.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                                    ng-model="hakutoive.additionalData[avain.tunniste]"
                                                    ng-change="changeOsallistuminen(hakutoive, avain.osallistuminenTunniste, hakutoive.additionalData[avain.tunniste])">
                                                <option value="">Tyhjä</option>
                                                <option value="true">Kyllä</option>
                                                <option value="false">Ei</option>
                                            </select>


                                            <select ng-model="hakutoive.additionalData[avain.osallistuminenTunniste]"
                                                    ng-show="avain.osallistuminenTunniste"
                                                    ng-change="changeArvo(hakutoive, avain.tunniste, hakutoive.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                                                    >
                                                <option value="MERKITSEMATTA">Merkitsemättä</option>
                                                <option value="OSALLISTUI">Osallistui</option>
                                                <option value="EI_OSALLISTUNUT">Ei osallistunut</option>
                                            </select>
                                            <span style="color: red;"></span>
                                        </div>


                                    </div>
                                    <div ng-switch-default>
                                        Syötetty muualla: {{hakutoive.additionalData[avain.tunniste]}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>


        <div>
            <button ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0"
                    class="btn btn-primary btn-sm margin-top-2" type="submit">Tallenna
            </button>
            <div class="notification warning" ng-show="form.$error.arvovalidaattori.length > 0">Tarkista virheet!
            </div>
        </div>

    </form>
</div>
<div class="clear"></div>