<table class="virkailija-table-1" ng-if="hakutoive.sijoittelu">
    <thead>
    <tr>
        <th colspan="4">Sijoittelu</th>
    </tr>
    <tr>
        <!--<th>-->
            <!--Pri.-->
        <!--</th>-->
        <!--<th>-->
            <!--Nimi-->
        <!--</th>-->
        <!--<th>-->
            <!--Jonosija-->
        <!--</th>-->
        <!--<th>-->
        <!--Pääsy- ja soveltuvuuskokeentulos-->
        <!--</th>-->
        <th>
            Tila
        </th>
        <th>
            Vastaanottotila
        </th>
        <!--<th>-->
            <!--Harkinnanvarainen-->
        <!--</th>-->
        <!--<th>-->
            <!--Pisteet-->
        <!--</th>-->
        <!--<th>-->
            <!--Alin hyväksytty pistemäärä-->
        <!--</th>-->
        <!--<th>-->
            <!--Hakeneet-->
        <!--</th>-->
        <!--<th>-->
            <!--Hyväksytty-->
        <!--</th>-->
        <!--<th>-->
            <!--Varalla-->
        <!--</th>-->
        <th>

        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sijoittelu in hakutoive.sijoittelu">
        <!--<td>-->
            <!--{{sijoittelu.valintatapajonoPrioriteetti}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{sijoittelu.valintatapajonoNimi}}-->
            <!--&lt;!&ndash;{{sijoittelu.valintatapajonoOid}}&ndash;&gt;-->
        <!--</td>-->
        <!--<td>-->
            <!--{{sijoittelu.jonosija}}.{{sijoittelu.tasasijaJonosija}}-->
        <!--</td>-->
        <!--<td>-->
        <!--{{sijoittelu.paasyJaSoveltuvuusKokeenTulos}}-->
        <!--</td>-->
        <td>
            {{sijoittelu.tila}} {{sijoittelu.varasijanNumero}}
        </td>
        <td>
            {{sijoittelu.vastaanottoTila}}
        </td>
        <!--<td>-->
            <!--{{sijoittelu.hyvaksyttyHarkinnanvaraisesti}}-->
        <!--</td>-->
        <!--<td>
            {{sijoittelu.pisteet}}
        </td>-->
        <!--<td>-->
            <!--{{sijoittelu.alinHyvaksyttyPistemaara}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{sijoittelu.hakeneet}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{sijoittelu.hyvaksytty}}-->
        <!--</td>-->
        <!--<td>-->
            <!--{{sijoittelu.varalla}}-->
        <!--</td>-->
        <td>
            <sijoittelu-vastaanotto-tila hakemus="sijoittelu"
                                         valintatapajono-oid="sijoittelu.valintatapajonoOid"
                                         haku-oid="model.hakuOid"
                                         hakukohde-oid="hakutoive.hakukohdeOid"
                                         enabled="updateOph" />
        </td>
    </tr>
    </tbody>
</table>