<div ng-if="model.hakutoiveet.length">

    <table class="virkailija-table-1">
        <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="3">{{ t('valintalaskenta.valintalaskenta') || 'Valintalaskenta' }}</th>
            <th colspan="3">{{ t('valintalaskenta.sijoittelu') || 'Sijoittelu' }}</th>
        </tr>
        <tr>
            <th>{{ t('valintalaskenta.hakutoive') || 'Hakutoive' }}</th>
            <th>{{ t('valintalaskenta.valintatapajono') || 'Valintatapajono' }}
                <a href="" ng-model="model.filter" ng-init="model.filter = true" ng-click="model.filter = !model.filter">({{model.filter ? 'Näytä viimeinen' :
                    'Näytä kaikki'}})</a>
            </th>
            <th>{{ t('valintalaskenta.yhteispisteet') || 'Yhteispisteet' }}</th>
            <th colspan="2">{{ t('valintalaskenta.valintatieto') || 'Valintatieto' }}</th>
            <th>{{ t('valintalaskenta.tila') || 'Tila' }}</th>
            <th colspan="2">{{ t('valintalaskenta.vastaanottotila') || 'Vastaanottotila' }}</th>

        </tr>
        </thead>
        <tbody ng-repeat="hakutoive in model.hakutoiveet | orderBy:'hakutoiveNumero'" ng-class-even="'tableEven'" >
        <tr ng-hide="hakutoive.valintalaskenta && hakutoive.valintalaskenta[0].valintatapajonot">
            <td colspan="8">{{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -
                <a target="_blank" href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                    {{hakutoive.oppilaitos}} <i class="fa fa-external-link"></i>
                </a>
            </td>
        </tr>
        <tr ng-if="hakutoive.valintalaskenta">
            <td colspan="8">
                <div class="table-group" ng-click="hakutoive.valintalaskenta.$hideRows = !hakutoive.valintalaskenta.$hideRows">
                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': hakutoive.valintalaskenta.$hideRows, 'glyphicon-chevron-down': !hakutoive.valintalaskenta.$hideRows }"></span>
                    <strong>{{hakutoive.hakutoiveNumero}}. {{hakutoive.koulutuksenNimi}} -</strong>
                    <a target="_blank" href="#/haku/{{model.hakuOid}}/hakukohde/{{hakutoive.hakukohdeOid}}/perustiedot">
                        <strong>{{hakutoive.oppilaitos}} </strong><i class="fa fa-external-link"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr ng-show="false" ng-repeat-start="valinnanvaihe in hakutoive.valintalaskenta | orderBy: 'jarjestysnumero' : true" >
        </tr>

        <tr ng-if="!hakutoive.valintalaskenta.$hideRows" ng-repeat-end ng-repeat-start="valintatapajono in valinnanvaihe.valintatapajonot | orderBy: 'prioriteetti'" ng-show="model.filter || !model.filter && isValinnanvaiheVisible($index,hakutoive.valintalaskenta)">

            <td></td>
            <td>
                {{valintatapajono.nimi}}<br/>
                <span ng-bind="valinnanvaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'"></span>
            </td>
            <!-- jonosijoja pitäisi olla hakemuksella vain yksi per jono -->
            <td ng-repeat-start="tulos in valintatapajono.jonosijat">
                <span ng-if="tulos.jarjestyskriteerit[0].arvo >= 0">{{tulos.jarjestyskriteerit[0].arvo}}</span>
            </td>
            <td>
                {{tulos.tuloksenTila}}
            </td>
            <td ng-repeat-end>
                <jarjestyskriteeri-muokkaus jonosija="tulos"
                                            valintatapajono-oid="valintatapajono.valintatapajonooid"
                                            hakemus-oid="tulos.hakemusOid"
                                            enabled="updateOph"/>
            </td>
            <td>
                <span>{{model.sijoittelu[valintatapajono.valintatapajonooid].tila}}</span>
                <span ng-if="model.sijoittelu[valintatapajono.valintatapajonooid].tila == 'HYVAKSYTTY' && model.sijoittelu[valintatapajono.valintatapajonooid].hyvaksyttyHarkinnanvaraisesti == true">({{ t('valintalaskenta.harkinnanvaraisesti') || 'Harkinnanvaraisesti' }})</span>
                <span ng-if="model.sijoittelu[valintatapajono.valintatapajonooid].varasijanNumero != undefined">({{model.sijoittelu[valintatapajono.valintatapajonooid].varasijanNumero}})</span>
                <modal modal-template="sijoitteluTilaHistoriaModal.html">
                    <modal-open>
                        {{(model.sijoittelu[valintatapajono.valintatapajonooid].tilaHistoria
                        | orderBy:'luotu':true | limitTo:1)[0].luotu | date:'dd.MM.yyyy HH:mm'}}
                    </modal-open>
                </modal>
            </td>
            <td>
                <div ng-if="
                    model.sijoittelu[valintatapajono.valintatapajonooid].tila === 'HYVAKSYTTY'
                    || model.sijoittelu[valintatapajono.valintatapajonooid].tila === 'VARASIJALTA_HYVAKSYTTY'
                    || model.sijoittelu[valintatapajono.valintatapajonooid].tila === 'PERUNUT'
                    || model.sijoittelu[valintatapajono.valintatapajonooid].tila === 'PERUUTETTU'
                ">
                    {{model.sijoittelu[valintatapajono.valintatapajonooid].vastaanottoTila}}
                    <modal modal-template="sijoitteluLogModal.html">
                        <modal-open>
                            {{model.sijoittelu[valintatapajono.valintatapajonooid].logEntries[model.sijoittelu[valintatapajono.valintatapajonooid].logEntries.length-1].luotu
                            | date:'dd.MM.yyyy HH:mm'}}
                        </modal-open>
                    </modal>
                </div>
            </td>
            <td>
                <sijoittelu-vastaanotto-tila hakemus="model.sijoittelu[valintatapajono.valintatapajonooid]"
                                             valintatapajono-oid="valintatapajono.valintatapajonooid"
                                             haku-oid="model.hakuOid"
                                             hakukohde-oid="hakutoive.hakukohdeOid"
                                             haku="model.haku"
                                             hakutoiveet="model.hakutoiveet"
                                             enabled="updateOph"/>
            </td>
        </tr>
        <!-- rivien väritys pitäisi hoitaa jotenkin, tai sitten muokata alkuperäinen data helpommin esitettävään muotoon -->
        <tr ng-repeat-end ng-show="false"></tr>

        </tbody>
    </table>
</div>

<div class="clear"></div>

<script type="text/ng-template" id="sijoitteluLogModal.html">
    <div class="modal-header">
        {{ t('sijoitteluntulos.muutokset') || 'Muutokset' }}
    </div>

    <div class="modal-body">
        <show-vastaanottanut-tila log-entries="model.sijoittelu[valintatapajono.valintatapajonooid].logEntries"></show-vastaanottanut-tila>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">{{ t('sijoitteluntulos.sulje') || 'Sulje' }}</a>
        </div>
    </div>

</script>

<script type="text/ng-template" id="sijoitteluTilaHistoriaModal.html">
    <div class="modal-header">
        {{ t('sijoitteluntulos.muutokset') || 'Muutokset' }}
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>{{ t('sijoitteluntulos.luotu') || 'Luotu' }}</th>
                <th>{{ t('sijoitteluntulos.tila') || 'Tila' }}</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in model.sijoittelu[valintatapajono.valintatapajonooid].tilaHistoria | orderBy:'luotu':true">
                <td fast-bind-once="entry.luotu | date:'dd.MM.yyyy HH:mm'"></td>
                <td fast-bind-once="henkiloOid">{{entry.tila}}</td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">{{ t('sijoitteluntulos.sulje') || 'Sulje' }}</a>
        </div>
    </div>

</script>
