<table class="virkailija-table-1" ng-if="hakutoive.valintakokeet">
    <thead>
    <tr>
        <th colspan="5">Valintakokeet</th>
    </tr>
    <tr>
        <th>
            Jarjestysluku
        </th>
        <th>
            Valinnan vaihe oid
        </th>
        <th>
            Valintakoe oid
        </th>
        <th>
            Valintakoetunniste
        </th>
        <th>
            Osallistuminen
        </th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="vk in hakutoive.valintakokeet">

        <td>
            {{vk.jarjestysluku}}
        </td>
        <td>
            {{vk.valinnanVaiheOid}}
        </td>
        <td>
            {{vk.valintakoeOid}}
        </td>
        <td>
            {{vk.valintakoeTunniste}}
        </td>
        <td>
            {{vk.osallistuminen}}
        </td>

    </tr>
    </tbody>
</table>