<a ng-disabled="!enabled" ng-click="show()" class="button small">Tila</a>
<div class="modal-backdrop" ng-click="show()" ng-if="showForm"></div>
<div centralize class="modal" ng-if="showForm">
    <div class="modal-header">
        <span>Harkinnanvarainen</span>
        <a ng-click="show()" class="close"></a>
    </div>
    <div class="modal-content">
        <div ng-include="'../common/html/errors.html'"></div>
        <dl class="dl-horizontal">
            <!--<dt>Oppijanumero</dt>-->
            <!--<dd>{{hakemus.hakijaOid}}</dd>-->

            <dt>Hakemuksen tunniste</dt>
            <dd>{{hakemus.hakemusOid}}</dd>

            <dt>Vastaanottotieto</dt>
            <dd>
                <select ng-model="hakemus.muokattuHarkinnanvaraisuusTila">
                    <option value="KESKEN">Kesken</option>
                    <option value="HYVAKSYTTY">Hyväksytty</option>
                    <option value="EI_HYVAKSYTTY">Ei Hyväksytty</option>
                </select>
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
                <a ng-click="update()" class="button small primary">Tallenna</a>
            </dd>
        </dl>
    </div>
</div>