<a ng-disabled="!enabled" ng-if="!harkinnanvarainen" ng-click="show()" class="button small">Tila</a>
<div class="old-modal-backdrop" ng-click="show()" ng-if="showForm"></div>

<div centralize class="old-modal" ng-if="showForm">
    <div class="old-modal-header">
        <span>Järjestyskriteeri</span>
        <a ng-click="show()" class="close"></a>
    </div>
    <div class="old-modal-content">
        <div ng-include="'../common/html/errors.html'"></div>
        <dl class="dl-horizontal">
            <dt class="margin-top-0">Nimi</dt>
            <dd>{{jonosija.sukunimi}}, {{jonosija.etunimi}}</dd>
            <dt>Järjestyskriteeri</dt>
            <dd>
                <select ng-model="jonosija.muokkaus.jarjestyskriteeriPrioriteetti" ng-options="p.name for p in jonosija.muokkaus.prioriteetit">
                    <!--<option ng-repeat="jarjestyskriteeri in jonosija.muokkaus.jarjestyskriteerit" value="{{$index}}">{{$index > 0 ? $index : "Vakio"}}</option>-->
                </select>
            </dd>
            <dt>Tila</dt>
            <dd>
                <select ng-model="jonosija.muokkaus.tila">
                    <option value="HYVAKSYTTAVISSA">Hyväksyttävissä</option>
                    <option value="HYLATTY">Hylätty</option>
                    <option value="MAARITTELEMATON">Määrittelemätön</option>
                </select>
            </dd>


            <dt>Arvo</dt><dd><input min="0" size="2" ng-model="jonosija.muokkaus.arvo" /></dd>

            <dt>Muokkaajan kommentti</dt><dd></dd>
        </dl>

        <textarea class="width-90 float-left" ng-model="jonosija.muokkaus.selite" ></textarea>
        <div class="clear"></div>
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
                <a ng-click="show()" class="button small">Peruuta</a>
                <a ng-click="update()" class="button small primary">Tallenna</a>
            </dd>
        </dl>
    </div>
    
    
    
</div>

