<div class="modal-header">
    <span>{{ t('muutajarjestyskriteerimodal.header') || 'Järjestyskriteeri' }}</span>
</div>

<div class="modal-body">
    <div ng-if="error">
        <alert type="'danger'">{{ t('muutajarjestyskriteerimodal.error') || 'Tallennus epäonnistui. Ole hyvä ja yritä uudelleen hetken päästä.' }}</alert>
        <pre ng-show="false">
            {{error}}
        </pre>
    </div>

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('muutajarjestyskriteerimodal.nimi') || 'Nimi' }}</label>

            <div class="col-sm-9">
                <p class="control-content">{{jonosija.sukunimi}}, {{jonosija.etunimi}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('muutajarjestyskriteerimodal.header') || 'Järjestyskriteeri' }}</label>

            <div class="col-sm-9 control-content">

                <select id="jk-select" ng-model="jonosija.muokkaus.jarjestyskriteeriPrioriteetti"
                        ng-options="p.name for p in jonosija.muokkaus.prioriteetit" ng-change="alustaTilat()">
                </select>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('muutajarjestyskriteerimodal.tila') || 'Tila' }}</label>

            <div class="col-sm-9 control-content">
                <select ng-model="jonosija.muokkaus.tila">
                    <option value="HYVAKSYTTAVISSA">{{ t('muutajarjestyskriteerimodal.hyvaksyttavissa') || 'Hyväksyttävissä' }}</option>
                    <option value="HYLATTY">{{ t('muutajarjestyskriteerimodal.hylatty') || 'Hylätty' }}</option>
                    <option value="VIRHE">{{ t('muutajarjestyskriteerimodal.virhe') || 'Virhe' }}</option>
                    <option value="MAARITTELEMATON">{{ t('muutajarjestyskriteerimodal.maarittelematon') || 'Määrittelemätön' }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('muutajarjestyskriteerimodal.arvo') || 'Arvo' }}</label>

            <div class="col-sm-9 control-content">
                <input min="0" size="2" ng-model="jonosija.muokkaus.arvo"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('muutajarjestyskriteerimodal.muokkaajan') || 'Muokkaajan kommentti' }}</label>

            <div class="col-sm-9 control-content">
                <textarea rows="6" ng-model="jonosija.muokkaus.selite"></textarea>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="row">
        <a class="btn btn-default btn-sm" ng-click="sulje();" role="button"><i class="fa fa-reply"></i> {{ t('muutajarjestyskriteerimodal.peruuta') || 'Peruuta' }}</a>
        <a class="btn btn-primary btn-sm" ng-click="update();" role="button"><i class="fa fa-floppy-o"></i> {{ t('muutajarjestyskriteerimodal.tallenna') || 'Tallenna' }}</a>
        <a class="btn btn-danger btn-sm" ng-click="remove();" role="button"><i class="fa"></i> {{ t('muutajarjestyskriteerimodal.poista') || 'Poista muokattu' }}</a>
    </div>
</div>