<a ng-click="show()" >
    <span title="Etunimi">{{sukunimi}}</span>,
    <span title="Sukunimi">{{etunimi}}</span>
</a>
<div class="modal-backdrop" ng-click="show()" ng-if="showInfo"></div>
<div centralize  class="modal henkiloPartial"  ng-if="showInfo">
    <div class="modal-header">
        <span>Nimi: {{sukunimi}}, {{etunimi}}</span>
        <a ng-click="show()" class="close"></a>
    </div>
    <div class="modal-content">
        <dl>

            <dt>Hakemuksen tekninen tunniste (OID)</dt>
            <dd>
                <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakemusOid}}" target="_blank" >{{hakemusOid}}</a>
            </dd>
            
            <dt ng-if="henkiloOid">Oppijan numero</dt>
            <dd ng-if="henkiloOid">{{henkiloOid}}</dd>
            
        </dl>
    </div>
</div>

