<div ng-if="hakija.osallistuu[avain.tunniste] == 'OSALLISTUU'" ng-switch
     on="avain.lahde">
  <div ng-switch-when="SYOTETTAVA_ARVO">
    <div ng-switch on="avain.tyyppi()">
      <div ng-switch-when="input">
        <!-- input -->
        <input ng-show="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
               min="{{avain.min}}"
               max="{{avain.max}}"
               ng-model="hakija.additionalData[avain.tunniste]"
               osallistuminen="hakija.additionalData[avain.osallistuminenTunniste]"
               arvovalidaattori
               ng-change="changeOsallistuminen(hakija, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.tunniste)"/>


        <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                ng-if="avain.osallistuminenTunniste"
                ng-change="changeArvo(hakija, avain.tunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
            >
          <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
          <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
          <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut' }}</option>
          <option ng-if="avain.vaatiiOsallistumisen  == false" value="EI_VAADITA">{{ t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}</option>
        </select>
        <br/>
        <span style="color: red;"></span>
      </div>

      <div ng-switch-when="combo">
        <!-- combo -->

        <select ng-model="hakija.additionalData[avain.tunniste]"
                osallistuminen="hakija.additionalData[avain.osallistuminenTunniste]"
                ng-change="changeOsallistuminen(hakija, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste], avain.tunniste)"
                ng-options="a as a for a in avain.arvot"
            >
          <option value=""></option>
        </select>


        <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                ng-if="avain.osallistuminenTunniste"
                ng-change="changeArvo(hakija, avain.tunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
            >
          <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
          <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
          <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut' }}</option>
          <option ng-if="avain.vaatiiOsallistumisen == false" value="EI_VAADITA">{{ t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}</option>
        </select>
        <br/>
        <span style="color: red;"></span>
      </div>

      <div ng-switch-when="boolean" class="input-group">
        <!-- input -->
                                                <span ng-if="(avain.tunniste.indexOf('kielikoe') == -1)">
                                                    <select ng-if="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                                            ng-model="hakija.additionalData[avain.tunniste]"
                                                            ng-change="changeOsallistuminen(hakija, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste])">

                                                      <option value="">{{ t('hakukohteetpistesyotto.tyhja') || 'Tyhjä' }}</option>
                                                      <option value="true">{{ t('hakukohteetpistesyotto.kylla') || 'Kyllä' }}</option>
                                                      <option value="false">{{ t('hakukohteetpistesyotto.ei') || 'Ei' }}</option>

                                                    </select>
                                                </span>

                                                <span ng-if="(avain.tunniste.indexOf('kielikoe') > -1)">
                                                    <select ng-if="hakija.additionalData[avain.osallistuminenTunniste] != 'EI_OSALLISTUNUT'"
                                                            ng-model="hakija.additionalData[avain.tunniste]"
                                                            ng-change="changeOsallistuminen(hakija, avain.osallistuminenTunniste, hakija.additionalData[avain.tunniste])">
                                                      <option value="">{{ t('hakukohteetpistesyotto.tyhja') || 'Tyhjä' }}</option>
                                                      <option value="true">{{ t('hakukohteetpistesyotto.hyvaksytty') || 'Hyväksytty' }}</option>
                                                      <option value="false">{{ t('hakukohteetpistesyotto.hylatty') || 'Hylätty' }}</option>
                                                    </select>
                                                </span>


        <select ng-model="hakija.additionalData[avain.osallistuminenTunniste]"
                ng-if="avain.osallistuminenTunniste"
                ng-change="changeArvo(hakija, avain.tunniste, hakija.additionalData[avain.osallistuminenTunniste], avain.tyyppi())"
                ng-show="avain.vaatiiOsallistumisen == true || (avain.vaatiiOsallistumisen == false && laskentaonly == false)"
            >
          <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
          <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
          <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut' }}</option>
          <option ng-if="avain.vaatiiOsallistumisen == false" value="EI_VAADITA">{{ t('hakukohteetpistesyotto.eivaadita') || 'Ei vaadita' }}</option>
        </select>
        <span style="color: red;"></span>
      </div>

    </div>
    <div ng-switch-default>
      {{ t('hakukohteetpistesyotto.syotettymuualla') || 'Syötetty muualla' }}: {{hakija.additionalData[avain.tunniste]}}
    </div>
  </div>
  <div ng-switch-default>
    {{hakija.additionalData[avain.tunniste]}}
  </div>
</div>