<div class="modal-header">
    <span>{{ t('sijoitteluvastaanottotilamodal.header') || 'Vastaanottotila' }}</span>
</div>

<div class="modal-body">
    <div ng-if="error">
        <alert type="'danger'">{{ t('sijoitteluvastaanottotilamodal.error') || 'Tallennus epäonnistui. Ole hyvä ja yritä uudelleen hetken päästä.' }}</alert>
        <pre ng-show="false">
            {{error}}
        </pre>
    </div>

    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('sijoitteluvastaanottotilamodal.hakemuksentunniste') || 'Hakemuksen tunniste' }}</label>

            <div class="col-sm-9">
                <p class="form-control-static">{{hakemus.hakemusOid}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('sijoitteluvastaanottotilamodal.vastaanottotieto') || 'Vastaanottotieto' }}</label>

            <div class="col-sm-9">
                <select ng-disabled="!isEditable()" ng-model="hakemus.muokattuVastaanottoTila">
                    <option value="KESKEN">{{ t('sijoitteluvastaanottotilamodal.kesken') || 'Kesken' }}</option>
                    <option ng-if="!isKorkeakoulu()" value="VASTAANOTTANUT">{{ t('sijoitteluvastaanottotilamodal.vastaanottanut') || 'Vastaanottanut' }}</option>
                    <option ng-if="isKorkeakoulu()" value="EHDOLLISESTI_VASTAANOTTANUT">{{ t('sijoitteluvastaanottotilamodal.ehdollisesti') || 'Ehdollisesti vastaanottanut' }}</option>
                    <option ng-if="isKorkeakoulu()" value="VASTAANOTTANUT_SITOVASTI">{{ t('sijoitteluvastaanottotilamodal.vastaanottanutsitovasti') || 'Vastaanottanut sitovasti' }}</option>
                    <option value="EI_VASTAANOTETTU_MAARA_AIKANA">{{ t('sijoitteluvastaanottotilamodal.eivastaanotettumaaraaikana') || 'Ei vastaanotettu määräaikana' }}</option>
                    <option value="PERUNUT">{{ t('sijoitteluvastaanottotilamodal.perunut') || 'Perunut' }}</option>
                    <option value="PERUUTETTU">{{ t('sijoitteluvastaanottotilamodal.peruutettu') || 'Peruutettu' }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{ t('sijoitteluvastaanottotilamodal.kommentti') || 'Muokkaajan kommentti' }}</label>

            <div class="col-sm-9">
                <textarea class="form-control" rows="6" ng-model="hakemus.selite"></textarea>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <div class="row">
        <a class="btn btn-default btn-sm" ng-click="sulje();" role="button">{{ t('sijoitteluvastaanottotilamodal.peruuta') || 'Peruuta' }}</a>
        <a class="btn btn-primary btn-sm" ng-click="update();" role="button">{{ t('sijoitteluvastaanottotilamodal.tallenna') || 'Tallenna' }}</a>
    </div>
</div>