<a ng-disabled="!enabled" ng-click="show()" class="button small">Tila</a>
<div class="modal-backdrop" ng-click="show()" ng-if="showForm"></div>
<div centralize class="modal" ng-if="showForm">
    <div class="modal-header">
        <span>Vastaanottotila</span>
        <a ng-click="show()" class="close"></a>
    </div>
    <div class="modal-content">
        <div ng-include="'../common/html/errors.html'"></div>
        <dl class="dl-horizontal">
            <!--<dt>Oppijanumero</dt>-->
            <!--<dd>{{hakemus.hakijaOid}}</dd>-->

            <dt>Hakemuksen tunniste</dt>
            <dd>{{hakemus.hakemusOid}}</dd>

            <dt>Vastaanottotieto</dt>
            <dd>
                <select ng-model="hakemus.muokattuVastaanottoTila">
                    <option value="">Kesken</option>
                    <option value="ILMOITETTU">Hakijalle ilmoitettu</option>
                    <option value="VASTAANOTTANUT_LASNA">Vastaanottanut läsnäolevana</option>
                    <option value="VASTAANOTTANUT_POISSAOLEVA">Vastaanottanut poissaolevana</option>
                    <option value="EI_VASTAANOTETTU_MAARA_AIKANA">Ei vastaanotettu määräaikana</option>
                    <option value="PERUNUT">Perunut</option>
                </select>
            </dd>

            <dt>Muokkaajan kommentti</dt>
            <dd></dd>
        </dl>

        <textarea class="width-90 float-left" ng-model="jhakemus.selite" ></textarea>
        <div class="clear"></div>
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>
                <a ng-click="show()" class="button small">Peruuta</a>
                <a ng-click="update()" class="button small primary">Tallenna</a>
            </dd>
        </dl>
    </div>
</div>