<h1>{{ t('sijoitteluntulos.header') || 'Valintojen toteuttaminen' }}</h1>
<div ng-include="'../common/js/topnavigation/topNavigation.html'"></div>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"></div>

        <div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>

            <div ng-show="model.sijoitteluTulokset.sijoitteluajoId">
                <!--Väliaikaisesti pois suorituskyvyn parantamiseksi-->
                <!--<div class="margin-vertical-2">-->
                    <!--Viimeisimmät sijoittelun tulokset. Sijoitteluajo on alkanut <strong>{{model.latestSijoitteluajo.startMils-->
                    <!--| date:'dd.MM.yyyy HH:mm'}}</strong>-->
                    <!--ja loppunut <strong>{{model.latestSijoitteluajo.endMils | date:'dd.MM.yyyy HH:mm'}}</strong>.-->
                    <!--Sijoitteluajon tunniste on <strong>{{model.latestSijoitteluajo.sijoitteluajoId}}</strong>.-->
                    <!--Sijoittelu suoritetaan kerran vuorokaudessa.-->
                <!--</div>-->
                <span>{{ t('valintakoetulos.nayta') || 'Näytä' }}</span>
                <select ng-model="nakymanTila" ng-change="updateNakymanTila()">
                    <option value="Jonottain" selected="selected">{{ t('sijoitteluntulos.jonottain') || 'Jonottain' }}</option>
                    <option value="Hakijoittain">{{ t('sijoitteluntulos.hakijoittain') || 'Hakijoittain' }}</option>
                </select>
                <br/>
                <input type="text" class="search margin-vertical-2" placeholder="{{ t('sijoitteluntulos.suodatahakijoita') || 'Suodata hakijoita' }}"
                       ng-model="hakijaFilter"/>

                <select ng-model="tilaFilterValue">
                    <option value="">{{ t('sijoitteluntulos.alasuodatatilan') || 'Älä suodata tilan mukaan' }}</option>
                    <option value="HYLATTY">{{ t('sijoitteluntulos.hylatty') || 'Hylätty' }}</option>
                    <option value="VARALLA">{{ t('sijoitteluntulos.varalla') || 'Varalla' }}</option>
                    <option value="PERUUNTUNUT">{{ t('sijoitteluntulos.peruuntunut') || 'Peruuntunut' }}</option>
                    <option value="VARASIJALTA_HYVAKSYTTY">{{ t('sijoitteluntulos.varasijalta') || 'Varasijalta hyväksytty' }}</option>
                    <option value="HYVAKSYTTY">{{ t('sijoitteluntulos.hyvaksytty') || 'Hyväksytty' }}</option>
                    <option value="PERUNUT">{{ t('sijoitteluntulos.perunut') || 'Perunut' }}</option>
                    <option value="PERUUTETTU">{{ t('sijoitteluntulos.peruutettu') || 'Peruutettu' }}</option>
                </select>

                <a ng-click="sijoittelunTulosXLS(); $event.stopPropagation()" class="btn btn-default btn-sm excel">{{ t('sijoitteluntulos.vietaulukkolaskentaan') || 'Vie taulukkolaskentaan' }}</a>
                <a ng-click="luoHyvaksymiskirjeetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">{{ t('sijoitteluntulos.muodostahyvaksymiskirjeet') || 'Muodosta hyväksymiskirjeet' }}</a>
                <a ng-click="luoJalkiohjauskirjeetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">{{ t('sijoitteluntulos.muodostajalkiohjauskirjeet') || 'Muodosta jälkiohjauskirjeet hakukohteessa hylätyille' }}</a>
                <a ng-click="createHyvaksymisosoitteetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">{{ t('sijoitteluntulos.muodostaosoitetarrat') || 'Muodosta hyväksytyille osoitetarrat' }}</a>

                <br/>

                <a href="/dokumenttipalvelu-service/resources/dokumentit/lataa/{{sijoitteluntuloksetUrl}}" class="btn btn-default btn-sm pdf" ng-class="{disabled: !sijoitteluntuloksetUrl}">{{ t('sijoitteluntulos.lataatulokset') || 'Lataa tulokset' }}</a>
                <a href="/dokumenttipalvelu-service/resources/dokumentit/lataa/{{hyvaksymiskirjeetUrl}}" class="btn btn-default btn-sm pdf" ng-class="{disabled: !hyvaksymiskirjeetUrl}">{{ t('sijoitteluntulos.lataahyvaksymiskirjeet') || 'Lataa hyväksymiskirjeet' }}</a>
                <a href="/dokumenttipalvelu-service/resources/dokumentit/lataa/{{osoitetarratUrl}}" class="btn btn-default btn-sm pdf" ng-class="{disabled: !osoitetarratUrl}">{{ t('sijoitteluntulos.lataaosoitetarrat') || 'Lataa osoitetarrat' }}</a>

            </div>

            <div ng-if="nakymanTila == 'Hakijoittain'">
                <h2>{{ t('valintakoetulos.hakijoittain') || 'Hakijoittain' }}</h2>
                <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-bottom-2">{{ t('sijoitteluntulos.tallenna') || 'Tallenna' }}</a>
                <div>{{ t('sijoitteluntulos.muuttuneettiedot') || 'Näytä vain muuttuneet tiedot' }}: <input type="checkbox" ng-model="model.naytaVainMuuttuneet"> <br/></div>

                <table class="virkailija-table-1" style="width: 900px;" ng-repeat="hakija in filteredResults = (model.sijoitteluntulosHakijoittainArray | orderBy:[jarjesta,'varasijanNumero', 'sija'] | filter:hakijaFilter) | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                    <thead>
                        <tr>
                            <th colspan="2" style="background-color:#f1f6f7;font-size: medium;width:300px">
                                <show-person-information sukunimi="{{hakija.sukunimi}}"
                                                         etunimi="{{hakija.etunimi}}"
                                                         hakemus-oid="{{hakija.hakemusOid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{hakija.hakijaOid}}"/>

                            </th>
                            <th style="background-color:#f1f6f7;width:345px">
                                {{ t('sijoitteluntulos.vastaanottotila') || 'Vastaanottotila' }}:&nbsp;{{hakija.muokattuVastaanottoTila || hakija.vastaanottoTila}}
                            </th>
                            <th style="background-color:#f1f6f7;">
                                {{ t('sijoitteluntulos.ilmoittautumistila') || 'Ilmoittautumistila' }}:&nbsp;{{hakija.ilmoittautumisTila}}
                            </th>
                        </tr>
                        <tr>
                            <th>{{ t('sijoitteluntulos.jonosija') || 'Jonosija' }}</th>
                            <th>{{ t('sijoitteluntulos.jononnimi') || 'Jonon nimi' }}</th>
                            <th>{{ t('sijoitteluntulos.yhteispisteet') || 'Pisteet' }}</th>
                            <th>{{ t('sijoitteluntulos.sijoitteluntila') || 'Sijoittelun tila' }}</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="jono in (hakija.jonot | orderBy: 'prioriteetti' | tilaFilter: tilaFilterValue | filter:filterChangedValues)">
                        <td>
                            {{hakija.sija > 0?hakija.sija:""}}
                        </td>
                        <td>
                            {{jono.nimi}}
                        </td>
                        <td>
                            {{jono.pisteet}}
                        </td>
                        <td>
                            <span ng-if="!hakija.tilanKuvaukset.FI || hakija.tila == 'HYLATTY'">{{hakija.tila}}</span>
                            <span ng-if="userLang=='fi' && hakija.tilanKuvaukset.FI && hakija.tila != 'HYLATTY'">{{hakija.tilanKuvaukset.FI}}</span>
                            <span ng-if="userLang=='sv' && hakija.tilanKuvaukset.FI && hakija.tila != 'HYLATTY'">{{hakija.tilanKuvaukset.SV}}</span>
                            <span ng-if="userLang=='en' && hakija.tilanKuvaukset.FI && hakija.tila != 'HYLATTY'">{{hakija.tilanKuvaukset.EN}}</span>
                            <span ng-if="(hakija.tila == 'HYVAKSYTTY' || hakija.tila == 'VARASIJALTA_HYVAKSYTTY') && hakija.hyvaksyttyHarkinnanvaraisesti == true">({{ t('sijoitteluntulos.harkinnanvaraisesti') || 'Harkinnanvaraisesti' }})</span>
                            <span ng-if="hakija.varasijanNumero != undefined">({{hakija.varasijanNumero}})</span>
                        </td>
                    </tr>
                </table>
                <pagination previous-text="{{ t('valintakoetulos.edellinen') || 'Edellinen' }}" next-text="{{ t('valintakoetulos.seuraava') || 'Seuraava' }}" total-items="filteredResults.length" ng-model="currentPage" ng-init="currentPage=1" items-per-page="pageSize"></pagination>
                <br/>
                <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-top-2">{{ t('sijoitteluntulos.tallenna') || 'Tallenna' }}</a>
            </div>

            <div class="margin-vertical-2 overflow-x-scroll" ng-if="nakymanTila == 'Jonottain'">
                <pagination-pagesize page-size="pageSize"></pagination-pagesize>
                <div ng-repeat="jono in model.sijoitteluTulokset.valintatapajonot | orderBy:'index':true track by $index">
                    <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-bottom-2">{{ t('sijoitteluntulos.tallenna') || 'Tallenna' }}</a>
                    <a ng-click="selectIlmoitettuToAll(jono.oid)" class="btn btn-default btn-sm margin-bottom-2">{{ t('sijoitteluntulos.hyvaksyvalintaesitys') || 'Hyväksy valintaesitys' }}</a>
                    <div>{{ t('sijoitteluntulos.muuttuneettiedot') || 'Näytä vain muuttuneet tiedot' }}: <input type="checkbox" ng-model="model.naytaVainMuuttuneet"> <br/></div>

                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th colspan="11">
                                {{jono.nimi}}: {{jono.prioriteetti}} /
                                <!---Valintatapajono OID: {{jono.oid}}-->
                                {{ t('sijoitteluntulos.aloituspaikat') || 'Aloituspaikat' }}: {{jono.aloituspaikat}} /
                                {{ t('sijoitteluntulos.tasasijasaanto') || 'Tasasijasääntö' }}: {{jono.tasasijasaanto}} /
                                {{jono.eiVarasijatayttoa ? 'Ei varasijatäyttöä' : 'Varasijatäyttö'}}
                            </th>
                        </tr>
                        <tr>
                            <th>{{ t('sijoitteluntulos.jonosija') || 'Jonosija' }} ({{jono.hakemukset.length}})</th>
                            <th>{{ t('sijoitteluntulos.hakija') || 'Hakija' }}</th>
                            <th>{{ t('sijoitteluntulos.hakutoive') || 'Hakutoive' }}</th>
                            <th>{{ t('sijoitteluntulos.pisteet') || 'Pisteet' }}</th>
                            <th>{{ t('sijoitteluntulos.sijoitteluntila') || 'Sijoittelun tila' }}</th>
                            <th>{{ t('sijoitteluntulos.varasijatoiminto') || 'Varasijalta hyväksyminen' }}</th>
                            <th>{{ t('sijoitteluntulos.vastaanottotieto') || 'Vastaanottotieto' }}</th>
                            <th>{{ t('sijoitteluntulos.ilmoittautumistieto') || 'Ilmoittautumistieto' }}</th>
                            <th>{{ t('sijoitteluntulos.muokattu') || 'Muokattu' }}</th>
                            <th>{{ t('sijoitteluntulos.muokkaa') || 'Muokkaa' }}</th>
                            <th>{{ t('sijoitteluntulos.toiminto') || 'Toiminto' }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hakemus in jono.filteredResults = (jono.hakemukset | orderBy:[jarjesta,'varasijanNumero', 'sija'] | filter:hakijaFilter | tilaFilter: tilaFilterValue | filter:filterChangedValues) | startFrom:(jono.currentPage-1)*pageSize | limitTo:pageSize">
                            <td><span ng-if="hakemus.sija > 0">{{hakemus.sija}}</span></td>
                            <td class="leftorientedcolumn">
                                <show-person-information sukunimi="{{hakemus.sukunimi}}"
                                                         etunimi="{{hakemus.etunimi}}"
                                                         hakemus-oid="{{hakemus.hakemusOid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{hakemus.hakijaOid}}"/>
                            </td>
                            <td>{{hakemus.prioriteetti}}</td>
                            <td><span ng-if="hakemus.pisteet >= 0">{{hakemus.pisteet}}</span></td>
                            <td>
                                <span ng-if="!hakemus.tilanKuvaukset.FI || hakemus.tila == 'HYLATTY'">{{hakemus.tila}}</span>
                                <span ng-if="userLang=='fi' && hakemus.tilanKuvaukset.FI && hakemus.tila != 'HYLATTY'">{{hakemus.tilanKuvaukset.FI}}</span>
                                <span ng-if="userLang=='sv' && hakemus.tilanKuvaukset.FI && hakemus.tila != 'HYLATTY'">{{hakemus.tilanKuvaukset.SV}}</span>
                                <span ng-if="userLang=='en' && hakemus.tilanKuvaukset.FI && hakemus.tila != 'HYLATTY'">{{hakemus.tilanKuvaukset.EN}}</span>
                                <span ng-if="(hakemus.tila == 'HYVAKSYTTY' || hakemus.tila == 'VARASIJALTA_HYVAKSYTTY') && hakemus.hyvaksyttyHarkinnanvaraisesti == true">({{ t('sijoitteluntulos.harkinnanvaraisesti') || 'Harkinnanvaraisesti' }})</span>
                                <span ng-if="hakemus.varasijanNumero != undefined">({{hakemus.varasijanNumero}})</span>
                                <modal modal-template="sijoitteluTilaHistoriModal.html">
                                    <modal-open>
                                        {{(hakemus.tilaHistoria
                                        | orderBy:'luotu':true | limitTo:1)[0].luotu | date:'dd.MM.yyyy HH:mm'}}
                                    </modal-open>
                                </modal>
                            </td>

                            <td>
                                <div ng-show="hakemus.tila == 'VARALLA' && updateOph">{{ t('sijoitteluntulos.varasijahyvaksy') || 'Hyväksytään varasijalta' }}: <input type="checkbox" ng-change="addMuokattuHakemus(hakemus)" ng-model="hakemus.hyvaksyttyVarasijalta"></div>
                            </td>

                            <td>
                                <div>{{ t('sijoitteluntulos.julkaistavissa') || 'Julkaistavissa' }}: <input type="checkbox" ng-change="addMuokattuHakemus(hakemus)" ng-model="hakemus.julkaistavissa"> <br/></div>
                                <div ng-show="hakemus.julkaistavissa && (updateOrg && (hakemus.tila == 'HYVAKSYTTY' || hakemus.tila == 'VARASIJALTA_HYVAKSYTTY' || hakemus.tila == 'PERUNUT' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA'))) || hakemus.julkaistavissa && updateOph">
                                    <span ng-show="(hakemus.tila == 'HYVAKSYTTY' || hakemus.tila == 'VARASIJALTA_HYVAKSYTTY' || hakemus.tila == 'PERUNUT' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA'))">
                                        <muokattu-vastaanotto-tila haku="model.haku" hakemus="hakemus"/>
                                    </span>
                                </div>
                            </td>

                            <td>
                                <div ng-show="hakemus.muokattuVastaanottoTila == 'VASTAANOTTANUT' || hakemus.muokattuVastaanottoTila == 'VASTAANOTTANUT_SITOVASTI'">
                                      <select ng-model="hakemus.muokattuIlmoittautumisTila" ng-change="addMuokattuHakemus(hakemus)"
                                              ng-options="tila.value as tila.text for tila in hakemuksenMuokattuIlmoittautumisTilat">
                                      </select>
                                 </div>
                            </td>

                            <td>
                                <span ng-if="hakemus.logEntries[hakemus.logEntries.length-1].luotu">{{hakemus.muokattuVastaanottoTila}}</span>
                                <modal modal-template="sijoitteluLogModal.html">
                                    <modal-open>
                                        {{hakemus.logEntries[hakemus.logEntries.length-1].luotu
                                        | date:'dd.MM.yyyy HH:mm'}}
                                    </modal-open>

                                </modal>
                            </td>
                            <td>
                                <sijoittelu-vastaanotto-tila hakemus="hakemus"
                                                             valintatapajono-oid="jono.oid"
                                                             haku-oid="model.hakuOid"
                                                             hakukohde-oid="model.hakukohdeOid"
                                                             haku="model.haku"
                                                             enabled="updateOph"/>
                            </td>
                            <td>
								<a ng-if="hakemus.tila == 'HYVAKSYTTY' || hakemus.tila == 'VARASIJALTA_HYVAKSYTTY'" ng-click="createHyvaksymiskirjeetPDF([hakemus.hakemusOid]); $event.stopPropagation()" class="btn btn-default btn-sm pdf">{{ t('sijoitteluntulos.hyvaksymiskirje') || 'Hyväksymiskirje' }}</a>
							</td>
                        </tr>
                        </tbody>
                    </table>
                    <pagination previous-text="{{ t('sijoitteluntulos.edellinen') || 'Edellinen' }}" next-text="{{ t('sijoitteluntulos.seuraava') || 'Seuraava' }}" total-items="jono.filteredResults.length" ng-model="jono.currentPage" ng-init="jono.currentPage=1" items-per-page="pageSize"></pagination>
                    <br/>
                    <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-top-2">{{ t('sijoitteluntulos.tallenna') || 'Tallenna' }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div ng-show="showLoading"
         style="position: fixed; top:0; left: 0; background: gold; padding: 0.3em; font-weight: bold;">{{ t('sijoitteluntulos.kasitellaan') || 'käsitellään' }}...
    </div>
</div>


<script type="text/ng-template" id="sijoitteluLogModal.html">
    <div class="modal-header">
        {{ t('sijoitteluntulos.muutokset') || 'Muutokset' }}
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>{{ t('sijoitteluntulos.luotu') || 'Luotu' }}</th>
                <th>{{ t('sijoitteluntulos.muokkaaja') || 'Muokkaaja' }}</th>
                <th>{{ t('sijoitteluntulos.muutos') || 'Muutos' }}</th>
                <th>{{ t('sijoitteluntulos.selite') || 'Selite' }}</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in hakemus.logEntries | orderBy:'luotu':true">
                <td fast-bind-once="entry.luotu | date:'dd.MM.yyyy HH:mm'"></td>
                <td fast-bind-once="entry.muokkaaja"></td>
                <td>
                    <span ng-if="entry.muutos == ''">{{ t('sijoitteluntulos.kesken') || 'Kesken' }}</span>
                    <span ng-if="entry.muutos == 'ILMOITETTU'">{{ t('sijoitteluntulos.hakijalleilmoitettu') || 'Hakijalle ilmoitettu' }}</span>
                    <span ng-if="entry.muutos == 'VASTAANOTTANUT_LASNA'">{{ t('sijoitteluntulos.vastaanottanutlasnaolevana') || 'Vastaanottanut läsnäolevana' }}</span>
                    <span ng-if="entry.muutos == 'VASTAANOTTANUT_POISSAOLEVA'">{{ t('sijoitteluntulos.vastaanottanutpoissaolevana') || 'Vastaanottanut poissaolevana' }}</span>
                    <span ng-if="entry.muutos == 'EI_VASTAANOTETTU_MAARA_AIKANA'">{{ t('sijoitteluntulos.eivastaanotettu') || 'Ei vastaanotettu määräaikana' }}</span>
                    <span ng-if="entry.muutos == 'PERUNUT'">{{ t('sijoitteluntulos.perunut') || 'Perunut' }}</span>
                    <span ng-if="entry.muutos == 'PERUUTETTU'">{{ t('sijoitteluntulos.peruutettu') || 'Peruutettu' }}</span>
                    <span ng-if="entry.muutos == 'EHDOLLISESTI_VASTAANOTTANUT'">{{ t('sijoitteluntulos.ehdollisestivastaanottanut') || 'Ehdollisesti vastaanottanut' }}</span>
                </td>
                <td fast-bind-once="entry.selite"></td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">{{ t('sijoitteluntulos.sulje') || 'Sulje' }}</a>
        </div>
    </div>

</script>

<script type="text/ng-template" id="sijoitteluTilaHistoriModal.html">
    <div class="modal-header">
        {{ t('sijoitteluntulos.muutokset') || 'Muutokset' }}
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>{{ t('sijoitteluntulos.luotu') || 'Luotu' }}</th>
                <th>{{ t('sijoitteluntulos.tila') || 'Tila' }}</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in hakemus.tilaHistoria | orderBy:'luotu':true">
                <td fast-bind-once="entry.luotu | date:'dd.MM.yyyy HH:mm'"></td>
                <td fast-bind-once="henkiloOid">{{entry.tila}}</td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">{{ t('sijoitteluntulos.sulje') || 'Sulje' }}</a>
        </div>
    </div>

</script>