<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'"></div>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"></div>

        <div class="tabsheets">

            <div ng-include="'../common/html/errors.html'"></div>

            <div ng-show="model.sijoitteluTulokset.sijoitteluajoId">
                <div class="margin-vertical-2">
                    Viimeisimmät sijoittelun tulokset. Sijoitteluajo on alkanut <strong>{{model.latestSijoitteluajo.startMils
                    | date:'dd.MM.yyyy HH:mm'}}</strong>
                    ja loppunut <strong>{{model.latestSijoitteluajo.endMils | date:'dd.MM.yyyy HH:mm'}}</strong>.
                    Sijoitteluajon tunniste on <strong>{{model.latestSijoitteluajo.sijoitteluajoId}}</strong>.
                    Sijoittelu suoritetaan kerran vuorokaudessa.
                </div>

                <br/>
                <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita"
                       ng-model="hakijaFilter"/>

                <a ng-click="sijoittelunTulosXLS(); $event.stopPropagation()" class="btn btn-default btn-sm excel">Vie
                    taulukkolaskentaan</a>
                <a ng-click="luoHyvaksymiskirjeetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">Muodosta
                    hyväksymiskirjeet</a>
                <a ng-click="createHyvaksymisosoitteetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm pdf">Muodosta
                    hyväksytyille osoitetarrat</a>

            </div>

            <div class="margin-vertical-2 overflow-x-scroll">
                <div ng-repeat="jono in model.sijoitteluTulokset.valintatapajonot | orderBy:'index':true">
                    <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-bottom-2">Tallenna</a>
                    <table class="virkailija-table-1" item-on-screen>
                        <thead>
                        <tr>
                            <th colspan="10">
                                {{jono.nimi}}: {{jono.prioriteetti}} /
                                <!---Valintatapajono OID: {{jono.oid}}-->
                                Aloituspaikat: {{jono.aloituspaikat}} /
                                Tasasijasaanto: {{jono.tasasijasaanto}} /
                                {{jono.eiVarasijatayttoa ? 'Ei varasijatäyttöä' : 'Varasijatäyttö'}}
                            </th>
                        </tr>
                        <tr>
                            <th>Jonosija ({{jono.hakemukset.length}})</th>
                            <th>Hakija</th>
                            <th>Hakutoive</th>
                            <th>Pisteet</th>
                            <th>Sijoittelun tila</th>
                            <th>Vastaanottotieto</th>
                            <th>{{ 'sijoitteluntulos.header.enrollmentinfo' | i18n }}</th>
                            <th>Muokattu</th>
                            <th>Muokkaa</th>
                            <th>Toiminto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hakemus in jono.hakemukset | orderBy:jarjesta | filter:hakijaFilter | limitTo:limit ">
                            <td>{{hakemus.sija}}</td>
                            <td class="leftorientedcolumn">
                                <show-person-information sukunimi="{{hakemus.sukunimi}}"
                                                         etunimi="{{hakemus.etunimi}}"
                                                         hakemus-oid="{{hakemus.hakemusOid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{hakemus.hakijaOid}}"/>
                            </td>
                            <td>{{hakemus.prioriteetti}}</td>
                            <td>{{hakemus.pisteet}}</td>
                            <td>
                                <span>{{hakemus.tila}}</span>
                                <span ng-if="hakemus.tila == 'HYVAKSYTTY' && hakemus.hyvaksyttyHarkinnanvaraisesti == true">(Harkinnanvaraisesti)</span>
                                <span ng-if="hakemus.varasijanNumero != undefined">({{hakemus.varasijanNumero}})</span>
                                <modal modal-template="sijoitteluTilaHistoriModal.html">
                                    <modal-open>
                                        {{(hakemus.tilaHistoria
                                        | orderBy:'luotu':true | limitTo:1)[0].luotu | date:'dd.MM.yyyy HH:mm'}}
                                    </modal-open>

                                </modal>
                            </td>

                            <td>
                                <div ng-show="(
                                        (
                                            updateOrg && (hakemus.tila == 'HYVAKSYTTY' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA') )
                                        )
                                        || (updateOph)
                                    )">
                                        <span ng-if="(hakemus.tila == 'HYVAKSYTTY' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA')) && hakemus.vastaanottoTila == ''">
                                          <select ng-model="hakemus.muokattuVastaanottoTila">
                                              <option value="">Kesken</option>
                                              <option value="ILMOITETTU">Hakijalle ilmoitettu</option>
                                              <option value="PERUUTETTU">Peruutettu</option>
                                          </select>
                                        </span>
                                        <span ng-if="(hakemus.tila == 'HYVAKSYTTY' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA')) && hakemus.vastaanottoTila == 'ILMOITETTU'">
                                            <select ng-model="hakemus.muokattuVastaanottoTila">
                                                <option ng-if="isKorkeakoulu()" value="EHDOLLISESTI_VASTAANOTTANUT">Ehdollisesti vastaanottanut</option>
                                                <option value="ILMOITETTU">Hakijalle ilmoitettu</option>
                                                <option value="VASTAANOTTANUT_LASNA">Vastaanottanut läsnäolevana
                                                </option>
                                                <option value="VASTAANOTTANUT_POISSAOLEVA">Vastaanottanut
                                                    poissaolevana
                                                </option>
                                                <option value="EI_VASTAANOTETTU_MAARA_AIKANA">Ei vastaanotettu
                                                    määräaikana
                                                </option>
                                                <option value="PERUNUT">Perunut</option>
                                                <option value="PERUUTETTU">Peruutettu</option>
                                            </select>
                                        </span>
                                        <span ng-if="!((hakemus.tila == 'HYVAKSYTTY' || (jono.eiVarasijatayttoa && hakemus.tila == 'VARALLA')) && hakemus.vastaanottoTila == 'ILMOITETTU') && !(hakemus.tila == 'HYVAKSYTTY' && hakemus.vastaanottoTila == '')">
                                            <span ng-if="hakemus.vastaanottoTila == 'EHDOLLISESTI_VASTAANOTTANUT'">Ehdollisesti vastaanottanut</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'ILMOITETTU'">Hakijalle ilmoitettu</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'VASTAANOTTANUT_LASNA'">Vastaanottanut läsnäolevana</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'VASTAANOTTANUT_POISSAOLEVA'">Vastaanottanut poissaolevana</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'EI_VASTAANOTETTU_MAARA_AIKANA'">Ei vastaanotettu määräaikana</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'PERUNUT'">Perunut</span>
                                            <span ng-if="hakemus.vastaanottoTila == 'PERUUTETTU'">Peruutettu</span>
                                        </span>
                                </div>
                            </td>

                            <td>
                                <div ng-show="
                                    (
                                        (updateOph || updateOrg) && (hakemus.vastaanottoTila == 'VASTAANOTTANUT_LASNA' ||
                                        hakemus.vastaanottoTila == 'VASTAANOTTANUT_POISSAOLEVA' ||
                                        hakemus.vastaanottoTila == 'EHDOLLISESTI_VASTAANOTTANUT')
                                    )">
                                      <select ng-model="hakemus.muokattuIlmoittautumisTila">
                                          <option value="EI_TEHTY">{{ 'sijoitteluntulos.enrollmentinfo.notdone' | i18n }}</option>
                                          <option value="LASNA_KOKO_LUKUVUOSI">{{ 'sijoitteluntulos.enrollmentinfo.present' | i18n }}</option>
                                          <option value="POISSA_KOKO_LUKUVUOSI">{{ 'sijoitteluntulos.enrollmentinfo.notpresent' | i18n }}</option>
                                          <option value="EI_ILMOITTAUTUNUT">{{ 'sijoitteluntulos.enrollmentinfo.noenrollment' | i18n }}</option>
                                          <option value="LASNA_SYKSY">{{ 'sijoitteluntulos.enrollmentinfo.presentfall' | i18n }}</option>
                                          <option value="POISSA_SYKSY">{{ 'sijoitteluntulos.enrollmentinfo.notpresentfall' | i18n }}</option>
                                          <option value="LASNA">{{ 'sijoitteluntulos.enrollmentinfo.presentspring' | i18n }}</option>
                                          <option value="POISSA">{{ 'sijoitteluntulos.enrollmentinfo.notpresentspring' | i18n }}</option>
                                      </select>
                                 </div>
                            </td>

                            <td>
                                <modal modal-template="sijoitteluLogModal.html">
                                    <modal-open>
                                        {{hakemus.logEntries[hakemus.logEntries.length-1].luotu
                                        | date:'dd.MM.yyyy HH:mm'}}
                                    </modal-open>

                                </modal>
                            </td>
                            <td>
                                <sijoittelu-vastaanotto-tila hakemus="hakemus"
                                                             valintatapajono-oid="jono.oid"
                                                             haku-oid="model.hakuOid"
                                                             hakukohde-oid="model.hakukohdeOid"
                                                             haku="model.haku"
                                                             enabled="updateOph"/>
                            </td>
                            <td>
								<a ng-if="hakemus.tila == 'HYVAKSYTTY'" ng-click="createHyvaksymiskirjeetPDF([hakemus.hakemusOid]); $event.stopPropagation()" class="btn btn-default btn-sm pdf">Hyväksymiskirje</a>
							</td>
                        </tr>
                        </tbody>
                    </table>
                    <a ng-click="submit(jono.oid)" class="btn btn-primary btn-sm margin-top-2">Tallenna</a>
                    <span ng-show="limit < jono.hakemukset.length">Näytetty: {{limit}} / {{jono.hakemukset.length}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div ng-show="showLoading"
         style="position: fixed; top:0; left: 0; background: gold; padding: 0.3em; font-weight: bold;">käsitellään...
    </div>
</div>


<script type="text/ng-template" id="sijoitteluLogModal.html">
    <div class="modal-header">
        Muutokset
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Luotu</th>
                <th>Muokkaaja</th>
                <th>Muutos</th>
                <th>Selite</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in hakemus.logEntries | orderBy:'luotu':true">
                <td fast-bind-once="entry.luotu | date:'dd.MM.yyyy HH:mm'"></td>
                <td fast-bind-once="entry.muokkaaja"></td>
                <td>
                    <span ng-if="entry.muutos == ''">Kesken</span>
                    <span ng-if="entry.muutos == 'ILMOITETTU'">Hakijalle ilmoitettu</span>
                    <span ng-if="entry.muutos == 'VASTAANOTTANUT_LASNA'">Vastaanottanut läsnäolevana</span>
                    <span ng-if="entry.muutos == 'VASTAANOTTANUT_POISSAOLEVA'">Vastaanottanut poissaolevana</span>
                    <span ng-if="entry.muutos == 'EI_VASTAANOTETTU_MAARA_AIKANA'">Ei vastaanotettu määräaikana</span>
                    <span ng-if="entry.muutos == 'PERUNUT'">Perunut</span>
                    <span ng-if="entry.muutos == 'PERUUTETTU'">Peruutettu</span>
                    <span ng-if="entry.muutos == 'EHDOLLISESTI_VASTAANOTTANUT'">Ehdollisesti vastaanottanut</span>
                </td>
                <td fast-bind-once="entry.selite"></td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">Sulje</a>
        </div>
    </div>

</script>

<script type="text/ng-template" id="sijoitteluTilaHistoriModal.html">
    <div class="modal-header">
        Muutokset
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Luotu</th>
                <th>Tila</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in hakemus.tilaHistoria | orderBy:'luotu':true">
                <td fast-bind-once="entry.luotu | date:'dd.MM.yyyy HH:mm'"></td>
                <td fast-bind-once="henkiloOid">{{entry.tila}}</td>
            </tr>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">Sulje</a>
        </div>
    </div>

</script>