


.hakuVirheet .valintakoe:nth-child(odd), .hakuVirheet .jonosija:nth-child(odd) {background: #F0fafF;}
.hakuVirheet .valintakoe:nth-child(even), .hakuVirheet .jonosija:nth-child(even) {}
.jonosija, .valintakoe {border-top: 5px solid #eee; padding-left: 20px;}
.jarjestyskriteeri{margin-left: -20px; padding-left: 40px!important;}
.jonosija { cursor:default; padding:10px 0;}
.hakuVirheet {padding:10px!important; cursor:pointer;}
.hakuVirheet table {margin: 10px;}
.jonosija div {cursor:pointer;}






.hakukohdeNav a.ng-hide-add {
  animation:1s hide;
  -webkit-animation:1s hide;
}

.hakukohdeNav a.ng-hide-remove {
  animation:1s show;
  -webkit-animation:1s show;

  /* remember, the .hg-hide class is already on
     the element which renders it as display=none
     so it must be overridden to render the "show"
     animation */
  display:inline-block!important;
}

.valinta-block-column *{
 float: left;
}
.valinta-block {
     height: 200px;
     width: 300px;


}
.valinta-block .valintatapajonot {
    float: left;
}
.valinta-block .valintatapajonot .valintatapajono{
    width:120px;
    height: 100px;
    margin-right: 1px;

}

.valinta-block .valintatapajonot .valintatapajono.HYVAKSYTTY{
    background: green;
}
.valinta-block .valintatapajonot .valintatapajono.HYLATTY{
    background: red;
}
.valinta-block .valintatapajonot .valintatapajono.VARALLA{
    background: gold;
}
.valinta-block .valintatapajonot .valintatapajono.VIRHE{
    background: violet;
}
.valinta-block .valintatapajonot .valintatapajono.PERUUNTUNUT{
    background: lightgray;
}

.valinta-block .hakukohde.HYVAKSYTTY{
    background: green;
}
.valinta-block .hakukohde.HYLATTY{
    background: red;
}
.valinta-block .hakukohde.VARALLA{
    background: gold;
}
.valinta-block .hakukohde.VIRHE{
    background: violet;
}
.valinta-block .hakukohde.PERUUNTUNUT{
    background: lightgray;
}

.henkilotiedot {
    padding: 0 1em;
    margin-bottom: 1em;
    border: 1px solid #C6C6C6;
    background: #fafafa;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.henkilotiedot table tbody tr{
    background: white;
}

.henkilotiedot table {
    margin-bottom: 1em;
}

.tableEven {
    background: #F8F8F7;
}


.wide .modal-dialog {
    width: 90%;
}





/* ng-repeat & etc animations */
.animate-enter,
.animate-leave
{
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}