<h1>{{ t('hakukohteetpistesyotto.header') || 'Valintojen toteuttaminen' }}</h1>
<div ng-include="'../common/js/topnavigation/topNavigation.html'"/>
<style>
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"/>

        <div auth="LISATIETORU LISATIETOCRUD READ_UPDATE CRUD" auth-service="APP_HAKEMUS"
             auth-orgs="{{hakukohdeModel.organisationOidsForAuthorisation}}" class="tabsheets hakukohteet-pistesyotto">

            <div ng-include="'../common/html/errors.html'"></div>
            <div ng-show="model.hakeneet.length > 0" class="pull-right">
                <a href="#/haku/{{hakuOid}}/hakukohde/{{hakukohdeOid}}/pistesyotto/naytakaikki"
                   target="_blank">{{ t('naytaKaikki') || 'Näytä kaikki' }} <i class="fa fa-external-link"></i></a>
            </div>
            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">

                <a ng-if="arvonta" href="" ng-click="arvoPisteet()">{{ t('hakukohteetpistesyotto.arvopisteet') || 'Arvo pisteet' }}</a>

                <input type="text" class="search margin-vertical-2" placeholder="{{ t('hakukohteetpistesyotto.suodatahakijoita') || 'Suodata hakijoita' }}"
                       ng-model="hakijaFilter"/>

                <select ng-model="koeFilter" ng-options="avain.kuvaus for avain in model.avaimet"
                        ng-change="updateFilterData()">
                    <option value="">{{ t('hakukohteetpistesyotto.kaikkikokeet') || 'Kaikki kokeet' }}</option>
                </select>
                <select ng-model="osallistuminenFilter" ng-change="updateFilterData()">
                    <option value="">{{ t('hakukohteetpistesyotto.kaikkitilat') || 'Kaikki tilat' }}</option>
                    <option value="MERKITSEMATTA">{{ t('hakukohteetpistesyotto.merkitsematta') || 'Merkitsemättä' }}</option>
                    <option value="OSALLISTUI">{{ t('hakukohteetpistesyotto.osallistui') || 'Osallistui' }}</option>
                    <option value="EI_OSALLISTUNUT">{{ t('hakukohteetpistesyotto.eiosallistunut') || 'Ei osallistunut' }}</option>
                </select>
                <pagination-pagesize page-size="pageSize"></pagination-pagesize>
                <form name="form" ng-if="model.avaimet">
                    <button ng-disabled="inputdisabled || !form.$valid || form.$error.arvovalidaattori.length > 0"
                            class="btn btn-primary btn-sm margin-bottom-2" ng-click="submit()">{{ t('hakukohteetpistesyotto.tallenna') || 'Tallenna' }}
                    </button>
                    <button ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0" 
                    		ng-click="pistesyottoVientiXlsx()"
                            class="btn btn-default btn-sm margin-bottom-2">{{ t('hakukohteetpistesyotto.vietaulukkolaskentaan') || 'Vie taulukkolaskentaan' }}
                    </button>
                    <span	ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0" 
                    		class="btn btn-primary btn-sm margin-bottom-2 btn-file">
					    {{ t('hakukohteetpistesyotto.tuotaulukkolaskennasta') || 'Tuo taulukkolaskennasta' }} <input type="file" ng-file-select="pistesyottoTuontiXlsx($files)" >
					</span>

                  <br>
                  <input id="laskentaonly" type="checkbox" ng-model="model.laskentaonly" />
                  <label for="laskentaonly">{{ t('hakukohteetpistesyotto.naytavainlaskentaanvaikuttavat') || 'Näytä vain laskentaan vaikuttavat osallistumistiedot' }} (<span class="glyphicon glyphicon-asterisk text-danger small" aria-hidden="true"></span>)</label>

                  <div>
                        <div class="alert alert-danger" ng-show="form.$error.arvovalidaattori.length > 0">{{ t('hakukohteetpistesyotto.tarkistavirheet') || 'Tarkista virheet!' }}
                        </div>
                    </div>
                    <table class="virkailija-table-1" stay-on-focus>
                        <thead>
                        <tr>
                            <th><a href="" ng-click="reverse=!reverse">{{ t('hakukohteetpistesyotto.tiedot') || 'Tiedot' }}</a></th>
                            <th ng-repeat="avain in model.avaimet | filter:{'tunniste': arvoFilter.tunniste} | orderBy:'kuvaus'">
                                {{avain.kuvaus}}
                                <span ng-if="avain.min !== undefined && avain.min !== null|| avain.max !== null && avain.max !== undefined">
                                ({{avain.min}} - {{avain.max}})
                                </span>
                                <span ng-if="avain.vaatiiOsallistumisen">(<span class="glyphicon glyphicon-asterisk text-danger small" aria-hidden="true"></span>)</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="hakija in filteredResult | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                            <td class="leftorientedcolumn">
                                <show-person-information sukunimi="{{hakija.lastName}}"
                                                         etunimi="{{hakija.firstNames}}"
                                                         hakemus-oid="{{hakija.oid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{hakija.personOid}}"
                                                         review-url-key="{{reviewUrlKey}}" />
                            </td>
                            <td class="leftorientedcolumn" ng-repeat="avain in model.avaimet | filter:{'tunniste': arvoFilter.tunniste} | orderBy:'kuvaus'">
                                <pisteiden-syottaminen hakutoiveet=""
                                                       hakija="hakija"
                                                       avain="avain"
                                                       laskentaonly="model.laskentaonly"
                                                       inputdisabled="inputdisabled"/>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <button ng-disabled="inputdisabled || !form.$valid || form.$error.arvovalidaattori.length > 0"
                            class="btn btn-primary btn-sm margin-top-2" ng-click="submit()">{{ t('hakukohteetpistesyotto.tallenna') || 'Tallenna' }}
                    </button>
                    <div>
                        <div class="alert alert-danger" ng-show="form.$error.arvovalidaattori.length > 0">{{ t('hakukohteetpistesyotto.tarkistavirheet') || 'Tarkista virheet!' }}
                        </div>
                    </div>
                </form>
                <pagination previous-text="{{ t('hakukohteetpistesyotto.edellinen') || 'Edellinen' }}" next-text="{{ t('hakukohteetpistesyotto.seuraava') || 'Seuraava' }}" total-items="filteredResult.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div ng-show="showLoading"
         style="position: fixed; top:0; left: 0; background: gold; padding: 0.3em; font-weight: bold;">{{ t('hakukohteetpistesyotto.kasitellaan') || 'käsitellään' }}...
    </div>
</div>
