<div class="modal-backdrop" ng-click="tulos.showJarjestyskriteerit = !tulos.showJarjestyskriteerit" ng-if="tulos.showJarjestyskriteerit"></div>

<div centralize class="modal" ng-if="tulos.showJarjestyskriteerit">
    <div class="modal-header">
        <span>Muokkaus</span>
        <a ng-click="showMuutaJarjestyskriteerinArvo(tulos)" class="close"></a>
    </div>
    <div class="modal-content">
        <dl class="dl-horizontal">
            <dt class="margin-top-0">Nimi</dt>
            <dd>{{tulos.sukunimi}}, {{tulos.etunimi}}</dd>
            <dt>Järjestyskriteeri</dt>
            <dd>
                <select ng-model="tulos.jarjestyskriteeriPrioriteetti" ng-options="p.name for p in tulos.prioriteetit">
                    <!--<option ng-repeat="jarjestyskriteeri in tulos.jarjestyskriteerit" value="{{$index}}">{{$index > 0 ? $index : "Vakio"}}</option>-->
                </select>
            </dd>
            <dt>Tila</dt>
            <dd>
                <select ng-model="tulos.jarjestyskriteeriTila">
                    <option value="HYVAKSYTTY_HARKINNANVARAISESTI">Hyväksytty harkinnanvaraisesti</option>
                    <option value="HYVAKSYTTAVISSA">Hyväksyttävissä</option>
                    <option value="HYLATTY">Hylätty</option>
                    <option value="MAARITTELEMATON">Määrittelemätön</option>
                </select>
            </dd>


            <dt>Arvo</dt><dd><input min="0" size="2" ng-model="tulos.jarjestyskriteeriArvo" /></dd>

            <dt>Muokkaajan kommentti</dt><dd></dd>
        </dl>

        <textarea class="width-90 float-left" ng-model="tulos.selite" ></textarea>
        <div class="clear"></div>
        <a ng-click="muutaJarjestyskriteerinArvo(tulos, valintatapajono.valintatapajonooid)" class="button float-left margin-vertical-2 small primary">Tallenna</a>
        <div class="clear"></div>
    </div>
    
    
    
</div>

