<div class="modal" ng-if="tulos.showTilaPartial">
    <div class="modal-header">
        <a ng-click="showTilaPartial(tulos)" class="close"></a>
    </div>
    <div class="modal-content">
        <table class="virkailija-table-1">
            <thead>
                <tr class="otsikkorivi">
                    <th class="jarjestyskriteeri">Järjestyskriteeri</th>
                    <th class="pistemaara">Pistemaara</th>
                    <th class="tila">Tila</th>
                    <th class="tilaKuvaus">Tilan kuvaus</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="jarjestyskriteeri in tulos.jarjestyskriteerit" >
                    <td class="jarjestyskriteeri">{{jarjestyskriteeri.prioriteetti + 1}}. {{jarjestyskriteeri.nimi}}</td>
                    <td class="pistemaara">{{jarjestyskriteeri.arvo}}</td>
                    <td class="tila">{{jarjestyskriteeri.tila}}</td>
                    <td class="tilaKuvaus">{{jarjestyskriteeri.kuvaus}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>