<div class="old-modal" ng-if="tulos.showTilaPartial">
    <div class="old-modal-header">
        <a ng-click="showTilaPartial(tulos)" class="close"></a>
    </div>
    <div class="old-modal-content">
        <table class="virkailija-table-1">
            <thead>
                <tr class="otsikkorivi">
                    <th class="jarjestyskriteeri">{{ t('tilapartial.jarjestyskriteeri') || 'Järjestyskriteeri' }}</th>
                    <th class="pistemaara">{{ t('tilapartial.pistemaara') || 'Pistemäärä' }}</th>
                    <th class="tila">{{ t('tilapartial.tila') || 'Tila' }}</th>
                    <th class="tilaKuvaus">{{ t('tilapartial.tilankuvaus') || 'Tilan kuvaus' }}</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="jarjestyskriteeri in tulos.jarjestyskriteerit" >
                    <td class="jarjestyskriteeri">{{jarjestyskriteeri.prioriteetti + 1}}. {{jarjestyskriteeri.nimi}}</td>
                    <td class="pistemaara">{{jarjestyskriteeri.arvo}}</td>
                    <td class="tila">{{jarjestyskriteeri.tila}}</td>
                    <td class="tilaKuvaus">{{jarjestyskriteeri.kuvaus.FI}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>