<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'"/>

<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        Järjestyskriteerin tilat
    </div>

    <div class="modal-body">
        <table class="table table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Nimi</th>
                <th>Pistemaara</th>
                <th>Tila</th>
                <th>Tilan kuvaus</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="jarjestyskriteeri in tulos.jarjestyskriteerit">
                <td fast-bind-once="'' + (jarjestyskriteeri.prioriteetti + 1) + '.'"></td>
                <td fast-bind-once="jarjestyskriteeri.nimi"></td>
                <td fast-bind-once="jarjestyskriteeri.arvo"></td>
                <td fast-bind-once="jarjestyskriteeri.tila"></td>
                <td fast-bind-once="jarjestyskriteeri.kuvaus.FI"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <div class="row">
            <a class="btn btn-default btn-sm" ng-click="sulje();"
               role="button">Sulje</a>
        </div>
    </div>

</script>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"/>

        <div class="tabsheets">


            <div ng-include="'../common/html/errors.html'"></div>

            <a ng-show="model.valinnanvaiheet" ng-click="valintalaskentaTulosXLS(); $event.stopPropagation();"
               class="btn btn-default btn-sm excel">Vie taulukkolaskentaan</a>
            <br/>
            <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita"
                   ng-model="hakijaFilter"/>

            <pagination-pagesize page-size="pageSize"></pagination-pagesize>
            <div ng-if="model.ilmanlaskentaa.length > 0">
                <h2>Valinnanvaiheet, jossa ei käytetä laskentaa</h2>
                <accordion close-others="true">
                    <accordion-group
                            ng-repeat="valinnanvaihe in model.ilmanlaskentaa | orderBy:['nimi']:false track by $index"
                            is-open="$first">

                        <accordion-heading>
                            <h3>Valinnanvaihe: <span ng-bind="valinnanvaihe.nimi">-</span></h3>

                        </accordion-heading>

                        <div>
                            <div ng-repeat="valintatapajono in valinnanvaihe.valintatapajonot track by $index">
                                <form name="form">
                                    <h3>Valintatapajono: {{valintatapajono.nimi}}</h3>
                                    <button ng-disabled="!form.$valid"
                                            class="btn btn-primary btn-sm margin-bottom-2"
                                             ng-click="submit(vaihe.oid, valintatapajono.oid)">Tallenna
                                    </button>
                                    <button ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0" 
				                    		ng-click="valintatapajonoVientiXlsx(valintatapajono.oid)"
				                            class="btn btn-default btn-sm margin-bottom-2">Vie taulukkolaskentaan
				                    </button>
				                    <span	ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0" 
				                    		class="btn btn-primary btn-sm margin-bottom-2 btn-file">
									    Tuo taulukkolaskennasta <input type="file" ng-file-select="valintatapajonoTuontiXlsx(valintatapajono.oid, $files)" >
									</span>
				                    <span ng-hide="true"	
				                    		ng-disabled="!form.$valid || form.$error.arvovalidaattori.length > 0" 
				                    		class="btn btn-primary btn-sm margin-bottom-2 btn-file">
									    Tuo taulukkolaskennasta <input type="file" ng-file-select="valintatapajonoTuontiXlsx($files)" >
									</span>
                                    <table class="virkailija-table-1">
                                        <thead>
                                        <tr>
                                            <th><a href="" ng-click="reverse=!reverse">Jonosija ({{valintatapajono.jonosijat.length}})</a></th>
                                            <th>Hakija</th>
                                            <th>Valintatieto</th>
                                            <th>Kuvaus (FI)</th>
                                            <th>Kuvaus (SV)</th>
                                            <th>Kuvaus (EN)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="tulos in filteredResults[$parent.$parent.$index][$parent.$index] = (valintatapajono.jonosijat | filter:hakijaFilter | orderBy:['jonosija', 'sukunimi']:reverse) | startFrom:(currentPage[$parent.$parent.$index][$parent.$index]-1)*pageSize | limitTo:pageSize">
                                            <td><input type="number"
                                                       ng-model="tulos.jonosija"
                                                       min="1"
                                                       max="{{valintatapajono.jonosijat.length}}"
                                                       ng-change="changeTila(tulos, tulos.jonosija)" ng-debounce="1000"
                                                       ng-disabled="tulos.tuloksenTila == 'HYLATTY'"></td>
                                            <td class="leftorientedcolumn">
                                                <show-person-information sukunimi="{{tulos.sukunimi}}"
                                                                         etunimi="{{tulos.etunimi}}"
                                                                         hakemus-oid="{{tulos.hakemusOid}}"
                                                                         haku-oid="{{hakuOid}}"
                                                                         henkilo-oid="{{tulos.hakijaOid}}"/>
                                            </td>
                                            <td>
                                                <select ng-model="tulos.tuloksenTila" ng-change="changeSija(tulos, tulos.tuloksenTila)">
                                                    <option value="HYVAKSYTTAVISSA">Hyväksyttävissä</option>
                                                    <option value="HYLATTY">Hylätty</option>
                                                    <option value="MAARITTELEMATON">Määrittelemätön</option>
                                                </select>
                                            </td>
                                            <td><input ng-model="tulos.jarjestyskriteerit[0].kuvaus.FI"
                                                       size="20"/></td>
                                            <td><input ng-model="tulos.jarjestyskriteerit[0].kuvaus.SV"
                                                       size="20"/></td>
                                            <td><input ng-model="tulos.jarjestyskriteerit[0].kuvaus.EN"
                                                       size="20"/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <pagination previous-text="Edellinen" next-text="Seuraava" total-items="filteredResults[$parent.$parent.$index][$parent.$index].length" ng-model="currentPage[$parent.$parent.$index][$parent.$index]" items-per-page="pageSize"></pagination>
                                </form>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>

            <div ng-if="model.valinnanvaiheet.length > 0">
                <h2>Lasketut valinnanvaiheet</h2>
                <accordion close-others="true">
                    <accordion-group
                            ng-repeat="valinnanvaihe in model.valinnanvaiheet | orderBy:['createdAt','jarjestysnumero']:true track by $index"
                            is-open="$first">

                        <accordion-heading>
                            <h3>Valinnanvaihe: <span ng-bind="valinnanvaihe.nimi">-</span> (<span
                                    ng-bind="valinnanvaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span>)</h3>

                        </accordion-heading>

                        <div>
                            <div ng-repeat="valintatapajono in valinnanvaihe.valintatapajonot track by $index"  ng-if="!valintatapajono.ilmanLaskentaa">
                                <h3>Valintatapajono: {{valintatapajono.nimi}}</h3>
                                <table class="virkailija-table-1">
                                    <thead>
                                    <tr>
                                        <th>{{valintatapajono.jonosijat.length}}</th>
                                        <th>Hakija</th>
                                        <th>Yhteispisteet</th>
                                        <th>Hakutoive</th>
                                        <th>Valintatieto</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tulos in filteredResults[$parent.$parent.$index][$parent.$index] = (valintatapajono.jonosijat  | filter:hakijaFilter) | startFrom:(currentPage[$parent.$parent.$index][$parent.$index]-1)*pageSize | limitTo:pageSize">
                                        <td>{{tulos.jonosija}}</td>
                                        <td class="leftorientedcolumn">
                                            <show-person-information sukunimi="{{tulos.sukunimi}}"
                                                                     etunimi="{{tulos.etunimi}}"
                                                                     hakemus-oid="{{tulos.hakemusOid}}"
                                                                     haku-oid="{{hakuOid}}"
                                                                     henkilo-oid="{{tulos.hakijaOid}}"/>
                                        </td>
                                        <td>
                                            {{tulos.jarjestyskriteerit[0].arvo}}
                                            <a href="#/valintatapajono/{{valintatapajono.oid}}/hakemus/{{tulos.hakemusOid}}/valintalaskentahistoria"
                                               target="_blank" class="historylink">
                                                Lisätietoja
                                            </a>
                                        </td>
                                        <td>
                                            {{tulos.prioriteetti}}
                                        </td>
                                        <td>

                                            <modal modal-template="modal.html" window-class="wide">
                                                <modal-open>
                                                    {{tulos.tuloksenTila}}
                                                </modal-open>

                                            </modal>

                                        </td>
                                        <td>
                                            <jarjestyskriteeri-muokkaus jonosija="tulos"
                                                                        valintatapajono-oid="valintatapajono.valintatapajonooid"
                                                                        hakemus-oid="tulos.hakemusOid"
                                                                        enabled="updateOph"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <pagination previous-text="Edellinen" next-text="Seuraava" total-items="filteredResults[$parent.$parent.$index][$parent.$index].length" ng-model="currentPage[$parent.$parent.$index][$parent.$index]" items-per-page="pageSize"></pagination>                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>

    </div>
    <div class="clear"></div>
    <div ng-show="showLoading"
         style="position: fixed; top:0; left: 0; background: gold; padding: 0.3em; font-weight: bold;">käsitellään...
    </div>
</div>
