<h1>Valintojen toteuttaminen</h1>
<div ng-include="'haku/topNavigation.html'"/>

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/hakukohteet/hakukohdeNavigation.html'"/>

        <div class="tabsheets">


            <div ng-include="'../common/html/errors.html'"></div>

            <a ng-show="model.valinnanvaiheet" ng-click="valintalaskentaTulosXLS(); $event.stopPropagation();"
               class="button small excel">Vie exceliin</a>
            <br />
            <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita" ng-model="hakijaFilter" />
            <!--
            <a href="#" class="button small disabled">Hyväksy valintaesitys</a>
             -->
            <accordion close-others="true">
            <accordion-group ng-repeat="valinnanvaihe in model.valinnanvaiheet | orderBy:['createdAt','jarjestysnumero']:true" is-open="$first">

                <accordion-heading>
                <h3>Valinnanvaihe: <span ng-bind="valinnanvaihe.nimi">-</span> (<span ng-bind="valinnanvaihe.createdAt | date:'dd.MM.yyyy HH:mm:ss'">-</span>)</h3>

                </accordion-heading>

                <div>
                    <div ng-repeat="valintatapajono in valinnanvaihe.valintatapajono">
                        <h3>Valintatapajono: {{valintatapajono.nimi}}</h3>
                        <table class="virkailija-table-1" item-on-screen>
                            <thead>
                            <tr>
                                <th>{{valintatapajono.jonosijat.length}}</th>
                                <th>Hakija</th>
                                <th>Yhteispisteet</th>
                                <th>Hakutoive</th>
                                <th>Valintatieto</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tulos in valintatapajono.jonosijat  | filter:hakijaFilter | limitTo:limit">
                                <td>{{tulos.jonosija}}</td>
                                <td class="leftorientedcolumn">
                                    <show-person-information sukunimi="{{tulos.sukunimi}}"
                                                             etunimi="{{tulos.etunimi}}"
                                                             hakemus-oid="{{tulos.hakemusOid}}"
                                                             haku-oid="{{hakuOid}}"
                                                             henkilo-oid="{{tulos.hakijaOid}}"/>
                                </td>
                                <td>
                                    {{tulos.jarjestyskriteerit[0].arvo}}
                                    <a href="#/valintatapajono/{{valintatapajono.oid}}/hakemus/{{tulos.hakemusOid}}/valintalaskentahistoria"
                                       target="_blank" class="historylink">
                                        Lisätietoja
                                    </a>
                                </td>
                                <td>
                                    {{tulos.prioriteetti}}
                                </td>
                                <td>
                                    <a ng-click="showTilaPartial(tulos)">
                                        {{tulos.tuloksenTila}}
                                    </a>

                                    <div ng-include="'haku/hakukohteet/valintalaskenta_tulos/tilaPartial.html'"/>
                                </td>
                                <td>
                                    <jarjestyskriteeri-muokkaus jonosija="tulos"
                                                                valintatapajono-oid="valintatapajono.valintatapajonooid"
                                                                hakemus-oid="tulos.hakemusOid"
                                                                enabled="updateOph"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <span ng-show="limit < valintatapajono.jonosijat.length">Näytetty: {{limit}} / {{valintatapajono.jonosijat.length}}</span>
                    </div>
                </div>
            </accordion-group>
        </accordion>
        </div>

    </div>
    <div class="clear"></div>
    <div ng-show="showLoading"
         style="position: fixed; top:0; left: 0; background: gold; padding: 0.3em; font-weight: bold;">käsitellään...
    </div>
</div>
