<h1>{{ t('valintalaskentahistoria.header') || 'Valintalaskentahistoria' }}</h1>

<h1>{{model.get()[0].funktio}}</h1>

<div class="tabs">
	<a class="tab" ng-class="$index === historyTabIndex ? 'current' : ''" ng-click="changeTab($index)" ng-repeat="historia in model.get()"><span>{{$index + 1}}. {{ t('valintalaskentahistoria.jarjestyskriteeri') || 'Järjestyskriteeri' }}</span></a>
</div>
<div class="clear"></div>

<div class="tabsheets">
	<ul class="valintalaskentaHistoria" ng-repeat="historia in model.get()" ng-include="'historia_node.html'"></ul>
</div>

<script type="text/ng-template" id="historia_node.html">
	<div ng-if="$index === historyTabIndex">
		<li>
			<h2>{{ t('valintalaskentahistoria.tila') || 'Tila' }}: {{historia.tilat[0].tilatyyppi}} <span ng-if="historia.tilat[0].tilatyyppi === 'HYLATTY'" class="red">- {{historia.tilat[0].kuvaus}}</span></h2>
		</li>
		<li><h2 class="margin-top-0">{{ t('valintalaskentahistoria.tulos') || 'Tulos' }}: <span fast-bind-once="historia.tulos"></span></h2></li>

		<button class="btn btn-sm btn-default margin-top-2" ng-init="keys = false" ng-click="keys = !keys">{{ t('valintalaskentahistoria.naytapiilota') || 'Näytä/Piilota avaimet' }}</button>
		<ul ng-show="keys" class="avaimet">
			<li class="padding-vertical-1" ng-repeat="(key, value) in historia.avaimet track by $index">
				<strong>{{key}}</strong> - <span>{{value}}</span><strong> and index: {{$index}}</strong>
			</li>
		</ul>

		<ul class="alikaavat margin-top-4" ng-init="show = 'true'" ng-show="show">
			<li ng-repeat="kaava in historia.historiat" ng-include="'alikaava_node.html'"></li>
		</ul>

	</div>
</script>



<script type="text/ng-template" id="alikaava_node.html">
	<li>
		<span class="funktio" ng-if="!model.hasNimettyLukuarvo(kaava)"></span>
		<span ng-click="openTree(kaava)" ng-class="kaava.show ? 'folder-open' : 'folder-closed'" ng-if="kaava.folder"></span>
		<h3 class="inline-block padding-left-2" ng-click="openFunktioKeys(kaava)" fast-bind-once="kaava.avaimet.nimi">
			<span ng-if="!model.hasNimettyLukuarvo(kaava)" fast-bind-once="kaava.funktio"></span>
			<span style="font-weight: normal" ng-if="!isUndefined(kaava.tulos)" > ({{ t('valintalaskentahistoria.tulos') || 'Tulos' }}: {{kaava.tulos}}) - {{kaava.funktio}}</span>
		</h3>
	</li>

	<li ng-if="kaava.funktio !== 'Nimetty lukuarvo'" fast-bind-once="kaava.avaimet.nimi"></li>
	<li ng-if="kaava.funktio === 'Nimetty lukuarvo' || kaava.funktio === 'Nimetty totuusarvo'">
	</li>
	<ul ng-if="kaava.show" class="alikaavat">
		<li ng-repeat="kaava in kaava.historiat" ng-include="'alikaava_node.html'"></li>
	</ul>

</script>