
<h1>Hakeneet</h1>

<div ng-include="'../common/js/topnavigation/topNavigation.html'" />

<div class="tabsheets">

    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">

        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/lisahaku/lisahakuHakukohdeNavigation.html'" />
        
        
        

        <div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>
            
            <div ng-show="model.errors.length > 0" class="alert alert-danger">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <h2>Hakeneet</h2>
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                        <tr>
                            <th>Nimi</th>
                            <th>Hakemus</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="hakija in model.hakeneet | orderBy:'lastName' | filter:hakijaFilter">
                            <td class="leftorientedcolumn">
                                <show-person-information sukunimi="{{hakija.lastName}}"
                                                         etunimi="{{hakija.firstNames}}"
                                                         hakemus-oid="{{hakija.oid}}"
                                                         haku-oid="{{hakuOid}}"
                                                         henkilo-oid="{{hakija.personOid}}" />

                            </td>
                            <td>
                                {{tila[hakija.state]}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>


