
<h1>Harkinnanvaraiset hakemukset</h1>

<div ng-include="'../common/js/topnavigation/topNavigation.html'" />

<div class="tabsheets">


    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/lisahaku/lisahakuHakukohdeNavigation.html'" />

        <div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>

            
            <div ng-show="model.errors.length > 0" class="alert alert-danger">
                <h3>Tietoja haettaessa tapahtui virhe</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <pagination-pagesize page-size="pageSize"></pagination-pagesize>
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>Nimi</th>
                                <th>Hakemus</th>
                                <th>Hyväksymisen tila</th>
                                <th></th>
                                <th>Vastaanottotieto</th>
                                <th>Ilmoittautumistieto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hakija in model.hakeneet | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                                <td>
                                    <span title="Sukunimi">{{hakija.lastName}}</span>,
                                	<span title="Etunimi">{{hakija.firstNames}}</span>
                                </td>
                                <td>
                                    <span title="HakemusOid">
                                        <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakija.oid}}" target="_blank" >
	                                        {{hakija.oid}}
	                                    </a>
                                    </span>
                                </td>


                                <td>
                                    {{hakija.lisahakuHyvaksytty}}
                                </td>
                                <td>
                                    <a ng-show="!hakija.lisahakuHyvaksytty" ng-click="lisahakuValitse(hakija.hakemus.oid)" class="btn btn-primary btn-sm">Hyväksy</a>
                                    <a ng-show="hakija.lisahakuHyvaksytty" ng-click="lisahakuPoistavalinta(hakija.hakemus.oid)" class="btn btn-default btn-sm ">Hylkää</a>
                                </td>

                                <td>
                                    <div ng-show="hakija.lisahakuHyvaksytty">
                                        <select ng-disabled="!(updateOrg || updateOph)"
                                                ng-change="resetIlmoittautumisTila(hakija.hakemus)" ng-model="hakija.hakemus.muokattuVastaanottoTila" ng-options="tila.value as tila.text for tila in hakemuksenMuokattuVastaanottoTilat">
                                            <option value="">Kesken</option>
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <div ng-show="hakija.lisahakuHyvaksytty && (hakija.hakemus.muokattuVastaanottoTila == 'VASTAANOTTANUT' || hakija.hakemus.muokattuVastaanottoTila == 'EHDOLLISESTI_VASTAANOTTANUT')">
                                        <select ng-disabled="!(updateOrg || updateOph)"
                                                ng-model="hakija.hakemus.muokattuIlmoittautumisTila"
                                                ng-change="setIlmoittautumisTila(hakija.hakemus)"
                                                ng-options="tila.value as tila.text | translate for tila in hakemuksenMuokattuIlmoittautumisTilat">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination previous-text="Edellinen" next-text="Seuraava" total-items="model.hakeneet.length" page="currentPage" items-per-page="pageSize"></pagination>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
