
<h1>{{ t('hyvaksytyt.header') || 'Harkinnanvaraiset hakemukset' }}</h1>

<div ng-include="'../common/js/topnavigation/topNavigation.html'" />

<div class="tabsheets">


    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/lisahaku/lisahakuHakukohdeNavigation.html'" />

        <div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>

            
            <div ng-show="model.errors.length > 0" class="alert alert-danger">
                <h3>{{ t('hyvaksytyt.error') || 'Tietoja haettaessa tapahtui virhe' }}</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <a ng-click="luoHyvaksymiskirjeetPDF(); $event.stopPropagation()" class="btn btn-default btn-sm margin-bottom-2 pdf">{{ t('sijoitteluntulos.muodostahyvaksymiskirjeet') || 'Muodosta hyväksymiskirjeet' }}</a>
                <br>
                <input type="text" class="search margin-vertical-2" placeholder="Suodata hakijoita" ng-model="hakijaFilter" />
                <pagination-pagesize page-size="pageSize"></pagination-pagesize>
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>{{ t('hyvaksytyt.nimi') || 'Nimi' }}</th>
                                <th>{{ t('hyvaksytyt.hakemus') || 'Hakemus' }}</th>
                                <th>{{ t('hyvaksytyt.tila') || 'Hyväksymisen tila' }}</th>
                                <th>{{ t('hyvaksytyt.julkaistu') || 'Julkaistu' }}</th>
                                <th>{{ t('hyvaksytyt.vastaanottotieto') || 'Vastaanottotieto' }}</th>
                                <th>{{ t('hyvaksytyt.ilmoittautumistieto') || 'Ilmoittautumistieto' }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hakija in model.hakeneet | filter:hakijaFilter | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                                <td>
                                    <span title="{{ t('hyvaksytyt.sukunimi') || 'Sukunimi' }}">{{hakija.lastName}}</span>,
                                	<span title="{{ t('hyvaksytyt.etunimi') || 'Etunimi' }}">{{hakija.firstNames}}</span>
                                </td>
                                <td>
                                    <span title="{{ t('hyvaksytyt.hakemusoid') || 'HakemusOid' }}">
                                        <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakija.oid}}" target="_blank" >
	                                        {{hakija.oid}}
	                                    </a>
                                    </span>
                                </td>
                                <td>
                                    <select ng-model="hakija.tila" ng-change="lisahakuUpdate(hakija.oid, hakija.tila)">
                                        <option value="" disabled>{{ t('hyvaksytyt.kesken') || 'Määrittelemätön' }}</option>
                                        <option value="true">{{ t('hyvaksytyt.hyvaksy') || 'Hyväksytty' }}</option>
                                        <option value="false">{{ t('hyvaksytyt.hylkaa') || 'Hylätty' }}</option>
                                    </select>
                                </td>
                                <td>
                                    <input ng-show="hakija.tila === 'false' || hakija.tila === 'true'"
                                           type="checkbox"
                                           ng-model="hakija.julkaistavissa"
                                           ng-change="setIlmoittautumisTila(hakija)"/>
                                </td>
                                <td>
                                    <muokattu-vastaanotto-tila
                                            ng-show="hakija.tila === 'true' && hakija.julkaistavissa"
                                            haku="model.haku"
                                            hakemus="hakija"/>
                                </td>

                                <td>
                                    <div ng-show="hakija.julkaistavissa && hakija.tila === 'true' && hakija.muokattuVastaanottoTila.indexOf('VASTAANOTTANUT') !== -1">
                                        <select ng-model="hakija.muokattuIlmoittautumisTila"
                                                ng-change="setIlmoittautumisTila(hakija)"
                                                ng-options="tila.value as tila.text for tila in hakemuksenMuokattuIlmoittautumisTilat">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination previous-text="Edellinen" next-text="Seuraava" total-items="model.hakeneet.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
