
<h1>{{ t('hyvaksytyt.header') || 'Harkinnanvaraiset hakemukset' }}</h1>

<div ng-include="'../common/js/topnavigation/topNavigation.html'" />

<div class="tabsheets">


    <div ng-include="'haku/hakukohdelista.html'"></div>

    <div class="toggle-content-container overflow-x-scroll">
        <div ng-include="'../common/html/hakukohdeNimi.html'"></div>
        <div ng-include="'haku/lisahaku/lisahakuHakukohdeNavigation.html'" />

        <div class="tabsheets">
            <h1>{{hakukohdeModel.hakukohde.hakukohdeKoodistoNimi}}</h1>

            
            <div ng-show="model.errors.length > 0" class="alert alert-danger">
                <h3>{{ t('hyvaksytyt.error') || 'Tietoja haettaessa tapahtui virhe' }}</h3>
                <p ng-repeat="error in model.errors">{{error}}</p>
            </div>

            <div ng-show="model.hakeneet.length > 0" class="margin-vertical-2">
                <pagination-pagesize page-size="pageSize"></pagination-pagesize>
                <form name="form" ng-submit="submit()">
                    <table class="virkailija-table-1">
                        <thead>
                            <tr>
                                <th>{{ t('hyvaksytyt.nimi') || 'Nimi' }}</th>
                                <th>{{ t('hyvaksytyt.hakemus') || 'Hakemus' }}</th>
                                <th>{{ t('hyvaksytyt.tila') || 'Hyväksymisen tila' }}</th>
                                <th></th>
                                <th>{{ t('hyvaksytyt.vastaanottotieto') || 'Vastaanottotieto' }}</th>
                                <th>{{ t('hyvaksytyt.ilmoittautumistieto') || 'Ilmoittautumistieto' }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hakija in model.hakeneet | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                                <td>
                                    <span title="{{ t('hyvaksytyt.sukunimi') || 'Sukunimi' }}">{{hakija.lastName}}</span>,
                                	<span title="{{ t('hyvaksytyt.etunimi') || 'Etunimi' }}">{{hakija.firstNames}}</span>
                                </td>
                                <td>
                                    <span title="{{ t('hyvaksytyt.hakemusoid') || 'HakemusOid' }}">
                                        <a href="{{HAKEMUS_UI_URL_BASE}}/virkailija/hakemus/{{hakuOid}}/esikatselu/{{hakija.oid}}" target="_blank" >
	                                        {{hakija.oid}}
	                                    </a>
                                    </span>
                                </td>


                                <td>
                                    {{hakija.lisahakuHyvaksytty}}
                                </td>
                                <td>
                                    <a ng-show="!hakija.lisahakuHyvaksytty" ng-click="lisahakuUpdate(hakija.oid, 'true')" class="btn btn-primary btn-sm">{{ t('hyvaksytyt.hyvaksy') || 'Hyväksy' }}</a>
                                    <a ng-show="hakija.lisahakuHyvaksytty" ng-click="lisahakuUpdate(hakija.oid, 'false')" class="btn btn-default btn-sm ">{{ t('hyvaksytyt.hylkaa') || 'Hylkää' }}</a>
                                </td>

                                <td>
                                    <div ng-show="hakija.lisahakuHyvaksytty">

                                        <div>{{ t('sijoitteluntulos.julkaistavissa') || 'Julkaistavissa' }}: <input type="checkbox" ng-model="hakija.julkaistavissa" ng-change="setIlmoittautumisTila(hakija)"> <br/></div>
                                        <div ng-show="hakija.julkaistavissa">
                                            <muokattu-vastaanotto-tila haku="model.haku" hakemus="hakija"/>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div ng-show="hakija.julkaistavissa && hakija.lisahakuHyvaksytty && (hakija.muokattuVastaanottoTila == 'VASTAANOTTANUT' || hakija.muokattuVastaanottoTila == 'EHDOLLISESTI_VASTAANOTTANUT')">
                                        <select ng-model="hakija.muokattuIlmoittautumisTila"
                                                ng-change="setIlmoittautumisTila(hakija)"
                                                ng-options="tila.value as tila.text for tila in hakemuksenMuokattuIlmoittautumisTilat">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination previous-text="Edellinen" next-text="Seuraava" total-items="model.hakeneet.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
                </form>
            </div>
        </div>
    </div>

    <div class="clear"></div>
</div>
