<div class="valinta-tulokset">


    <h1>{{ t('valintatulos.header') || 'Valinnan tulokset' }}</h1>

    <div class="filters">
        <div class="tyyppiSuodatin">
            <span>{{ t('valintatulos.tyyppi') || 'Tyyppi' }}</span>
            <select ng-model="model.filter.type" >
                <option value="KAIKKI">{{ t('valintatulos.kaikki') || 'Kaikki' }}</option>
                <option value="HYVAKSYTYT">{{ t('valintatulos.hyvaksytyt') || 'Hyväksytyt' }}</option>
                <option value="ILMANHYVAKSYNTAA">{{ t('valintatulos.eihyvaksyttya') || 'Ei yhtään hyväksyttyä hakutoivetta' }}</option>
                <option value="VASTAANOTTANEET">{{ t('valintatulos.paikanvastaanottaneet') || 'Paikan Vastaanottaneet' }}</option>
            </select>
        </div>
        <div class="hakukohdeSuodatin">
            <span>{{ t('valintatulos.hakukohdeoid') || 'Hakukohde Oid' }}</span>
            <input type="text" ng-model="hakukohdeToAdd">
            <span class="btn btn-primary btn-sm" ng-click="addHakukohde()">{{ t('valintatulos.lisaa') || 'Lisää' }}</span>
            <span ng-repeat="hakukohde in model.filter.hakukohteet">
                {{hakukohde}} <span ng-click="deleteHakukohde($index)">(X)</span>
            </span>
        </div>
        <div class="tarjoajaSuodatin">
            <span>{{ t('valintatulos.tarjoajaoid') || 'Tarjoaja Oid' }}</span>
            <input type="text" ng-model="tarjoajaToAdd">
            <span class="btn btn-primary btn-sm" ng-click="addTarjoaja()">{{ t('valintatulos.lisaa') || 'Lisää' }}</span>
            <span ng-repeat="tarjoaja in model.filter.tarjoajat">
                {{tarjoaja}} <span ng-click="deleteTarjoaja($index)">(X)</span>
            </span>
        </div>
        <div>
            <span class="btn btn-primary btn-sm" ng-click="search()">{{ t('valintatulos.hae') || 'Hae' }}</span>
            <a class="btn btn-primary btn-sm" href="#/haku/{{hakuOid}}/yhteisvalinnanhallinta/" >{{ t('valintatulos.takaisin') || 'Takaisin' }}</a>
        </div>

    </div>
    <div class="results" ng-if="model.hakemukset.length>0">
        <div pagination-page-list></div>
        <table pagination-paginated-element model="model">
            <tbody>
                <tr ng-repeat="hakemus in model.hakemukset | pagination">
                    <td>
                        <div>{{hakemus.hakemusOid}}</div>
                        <div>{{hakemus.sukunimi}} {{hakemus.etunimi}} </div>
                    </td>
                    <td class="valinta-block-column">
                        <div class="valinta-block" ng-repeat="hakutoive in hakemus.hakutoiveet">
                            <div class="hakukohde {{getHakukohdeStyle(hakutoive)}}">
                                <span>{{hakutoive.hakukohdeOid}}</span>
                                <span>{{hakutoive.tarjoajaOid}}</span>
                            </div>
                            <div class="valintatapajonot">
                                <div ng-repeat="valintatapajono in hakutoive.hakutoiveenValintatapajonot" class="valintatapajono {{valintatapajono.tila}}">
                                    {{valintatapajono.tila}} |
                                    {{valintatapajono.vastaanottotieto}}
                                    <br>
                                    {{valintatapajono.jonosija}}
                                    {{valintatapajono.varasijanNumero}}
                                    <br>
                                    {{valintatapajono.hakeneet}}   |
                                    {{valintatapajono.hyvaksytty}} |
                                    {{valintatapajono.varalla}}    |
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>