<div class="modal-header">
	<h2 style="margin-top: -12px;">{{ t('valintalaskentahakutoiveilleikkuna.header') || 'Valintalaskenta hakutoiveille' }}</h2>
</div>
<div class="modal-body">
	<h3 style="margin-top: -12px;">{{nimi}}</h3>
	<h2 style="margin-top: -12px;">{{nimentarkennus}}</h2>
	<br>
	<div class="progress">
	  <div class="progress-bar" ng-style="{width:getOnnistuneetProsentit()+'%'}">
	    {{getOnnistuneetProsentit()}}%
	  </div>
	  <div class="progress-bar progress-bar-danger" ng-style="{width:getOhitetutProsentit()+'%'}">
	    {{getOhitetutProsentit()}}%
	  </div>
	</div>
	<div ng-if="uuid">
		<div class="col-sm-4">Hakukohteita valmiina {{tehty}} / {{kaikkityot}}</div>
		<div ng-if="ohitettu">
			<div class="col-sm-4">Hakukohteita ohitettu {{ohitettu}} / {{kaikkityot}}</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<a ng-hide="hideUudelleenYritys()" class="btn btn-default" ng-click="uudelleenyrita()">{{ t('valintalaskentaikkuna.uudelleenyrita') || 'Yritä uudelleen ohitettuja hakukohteita' }}</a>
		<a class="btn btn-default" ng-click="ok()"  role="button">{{ t('valintalaskentaikkuna.sulje') || 'Sulje ikkuna' }}</a>
	    <a class="btn btn-default" ng-click="naytaLisaa()"  role="button"><span ng-hide="lisaa">Lisää &raquo;</span><span ng-show="lisaa">{{ t('valintalaskentaikkuna.vahemman') || 'Vähemmän' }} &laquo;</span></a>
	</div>
	<br>
	<div class="row" ng-show="lisaa">
		<a class="btn btn-default" ng-click="yhteenveto()">{{ t('valintalaskentaikkuna.vietaulukkolaskentaan') || 'Lataa yhteenveto' }}</a>
		<a class="btn btn-danger" ng-class="{disabled:disabloikeskeyta}" ng-click="peruuta()">{{ t('valintalaskentaikkuna.keskeyta') || 'Keskeytä valintalaskenta' }}</a>
	</div>
</div>