<div class="modal-header">
	<h3>{{otsikko}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		<h3>{{lisatiedot}}</h3>
		<br>
		<div ng-hide="onVirheita()">
			<div class="col-sm-9"><progressbar ng-class="{progressBarDanger: onVirheita()}" class="progress-striped active" value="getProsentit(prosessi.kokonaistyo)" type="info">{{getProsentit(prosessi.kokonaistyo)}}%</progressbar></div>				
			<div class="col-sm-3" ng-show="prosessi.kokonaistyo.kokonaismaara">{{prosessi.kokonaistyo.tehty}} / {{prosessi.kokonaistyo.kokonaismaara}}</div>
			<br>
			<div class="col-sm-12">
                {{ t('tuontiikkuna.suoritusetenee') || 'Suoritus etenee virheettömästi ja varoituksetta' }}
			</div>
		</div>
		<div ng-show="onVirheita()">
            {{ t('tuontiikkuna.error') || 'Tuonti epäonnistui. Yritä uudelleen tai ota yhteyttä ylläpitoon.' }}
			<div class="bs-callout bs-callout-danger" ng-repeat="poikkeus in prosessi.poikkeukset">
		    	<h4>{{poikkeus.palvelu}}</h4>
				<p>{{poikkeus.palvelukutsu}} {{poikkeus.viesti}}</p>
				<p ng-repeat="oid in poikkeus.tunnisteet"><strong>{{oid.tyyppi}}</strong>&nbsp;{{oid.tunniste}}</p>
		  	</div>
		</div>
	</div>
	
</div>
<div class="modal-footer">
	<div class="row">
		<a ng-show="onKesken()" class="btn btn-default btn-sm" ng-click="sulje();" role="button">{{ t('tuontiikkuna.sulje') || 'Sulje tuonti-ikkuna' }}</a>
		<a ng-hide="onKesken()" class="btn btn-default btn-sm" ng-click="kutsuLaajennettuaMallia(); sulje();" role="button">{{ t('tuontiikkuna.paivita') || 'Päivitä näkymä' }}</a>
	</div>
</div>