<div class="modal-header">
	<h2 style="margin-top: -12px;">Valintalaskenta</h2>
</div>
<div class="modal-body">
	<h3 style="margin-top: -12px;">{{nimi}}</h3>
	<br>
	<div class="row" ng-repeat="t in tyot track by $index">
		<div class="col-sm-4">{{t.nimi}}</div>
		<div class="col-sm-4">{{t.tehty}} / {{t.kokonaismaara}}</div>
		<div class="col-sm-4"><progressbar class="progress-striped active" value="getProsentit(t)" type="info">{{getProsentit(t)}}%</progressbar></div>				
	</div>

    <div ng-if="virheet">
    <h3 class="text-danger">Virheet</h3>
    <ul class="list-unstyled">
        <table class="table">
            <tr class="danger" ng-repeat="virhe in virheet">
                <td>
                    {{virhe}}
                </td>
            </tr>
        </table>
    </ul>
    </div>
    <div ng-if="varoitukset">
    <h3 class="text-warning">Varoitukset</h3>
    <table class="table">
        <thead>
        <tr>
            <th>OID</th>
            <th>Selite</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="varoitus in varoitukset" class="warning">
            <td>{{varoitus.oid}}</td>
            <td>{{varoitus.selite}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <span ng-if="!virheet && !varoitukset">
        Suoritus etenee virheettömästi ja varoituksetta
    </span>
</div>
<div class="modal-footer">
	<div class="row">
		<a class="btn btn-default" ng-click="ok()"  role="button">Sulje ikkuna</a>
	         	<a class="btn btn-default" ng-click="naytaLisaa()"  role="button"><span ng-hide="lisaa">Lisää &raquo;</span><span ng-show="lisaa">Vähemmän &laquo;</span></a>
	</div>
	<br>
	<div class="row" ng-show="lisaa">			
		<a class="btn btn-danger" ng-click="peruuta()">Keskeytä valintalaskenta</a>
	</div>
</div>