<div class="modal-header">
	<h2>{{oids.otsikko}}</h2>
</div>
<div class="modal-body">
	<h3 style="margin-top: -12px;">{{oids.hakukohdeNimi}}</h3>
	<br>
	<form class="form-horizontal" role="form">
 		<div class="form-group">
		    {{ t('viestintapalveluikkuna.valmispohjan') || 'Valmispohjan valinta' }}:
			<select ng-model="pohja" ng-options="translate(p.name) for p in pohjat" ng-change="pohjaVaihtui(pohja)"></select>
		</div>
		<div class="form-group">
			<textarea ui-tinymce ng-model="letterbody"></textarea>
		</div>
		<div ng-if="oids.showDateFields" class="form-group">
			{{ t('viestintapalveluikkuna.palautuspaivamaara') || 'Palautus päivämäärä' }}:
			<input type="text" class="form-control" id="palautusPvm" ng-model="palautusPvm" placeholder="palautus päivämäärä">
		</div>
		<div ng-if="oids.showDateFields" class="form-group">
			{{ t('viestintapalveluikkuna.palautuskellonaika') || 'Palautus kellonaika' }}:
		    <input type="text" class="form-control" id="palautusAika" ng-model="palautusAika" placeholder="palautus kellonaika">
		</div>
	</form>
</div>
<div class="modal-footer">
	<div class="row">
		<a class="btn btn-default" ng-click="oids.toiminto(letterbody, palautusPvm, palautusAika)"  role="button">{{oids.toimintoNimi}}</a>
	    <a class="btn btn-default" ng-click="ok()"  role="button">{{ t('viestintapalveluikkuna.peruuta') || 'Peruuta' }}</a>
	</div>
</div>