<div class="modal-header">
	<h2>{{oids.otsikko}}</h2>
</div>
<div class="modal-body">
	<h3 style="margin-top: -12px;">{{oids.hakukohdeNimi}}</h3>
	<br>
    {{ t('viestintapalveluikkuna.valmispohjan') || 'Valmispohjan valinta' }}:
	<select ng-model="pohja" ng-options="translate(p.name) for p in pohjat" ng-change="pohjaVaihtui(pohja)"></select>
	<br>
	<br>
	<textarea ui-tinymce ng-model="letterbody"></textarea>
</div>
<div class="modal-footer">
	<div class="row">
		<a class="btn btn-default" ng-click="oids.toiminto(letterbody)"  role="button">{{oids.toimintoNimi}}</a>
	    <a class="btn btn-default" ng-click="ok()"  role="button">{{ t('viestintapalveluikkuna.peruuta') || 'Peruuta' }}</a>
	</div>
</div>